<template>
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Saadaval olev kinnisvara</h4>
        </div>
        <div class="card-body">
            <template v-if="!isBrokerAvailableProperiesLoading">
                <template  v-if="getBrokerJobName == getCharacterData.job || getWebUserData.roleName == 'admin' || getWebUserData.roleName == 'mod'">
                    <router-link class="row p-1 pointer"
                        tag="div"
                        v-for="property in availableProperties"
                        :key="property.id"
                        :to="{name: 'property', params: {id: property.id}}">
                        <div class="col-6">{{ property.label }}</div>
                        <div class="col-6 text-center">{{ property.price }}</div>
                        <div class="col-12"><hr></div>
                    </router-link>
                </template>
                <template v-else>
                    <div class="row p-1" v-for="property in availableProperties" :key="property.id">
                        <div class="col-6">{{ property.label }}</div>
                        <div class="col-6 text-center">{{ property.price }}</div>
                        <div class="col-12"><hr></div>
                    </div>
                </template>
            </template>
            <p v-else class="text-center">Andmete laadimine...</p>
        </div>
    </div>
</template>
<script>
export default {
    computed: {
        availableProperties() {
            return this.$store.getters.getBrokerAvailableProperies
        },
        isBrokerAvailableProperiesLoading() {
            return this.$store.getters.isBrokerAvailableProperiesLoading
        },
        getCharacterData() {
            return this.$store.getters.getCharacterData
        },
        getWebUserData() {
            return this.$store.getters.getWebUserData
        },
        getBrokerJobName() {
            return this.$store.getters.getBrokerworkName
        }
    },
    created() {
        if (this.$store.getters.getBrokerAvailableProperies.length < 1){
            this.$store.dispatch('availablepropertyAction', this.$store.getters.getToken)
        }
    }
}
</script>
<style scoped>

</style>