<template>
    <div>
        <div class="row">
            <app-box>
                <template v-slot:icon>home_work</template>
                <template v-slot:cardHeader>Vaba Kinnisvara</template>
                <template v-slot:content> 
                        <router-link :to="{name: 'availableProperties'}" tag="div" class="pointer">
                            <appPropertyTopList v-bind:properties="brokerAvailableProperiesForDashboard" v-bind:isLoading="isBrokerAvailableProperiesForDashboardLoading"></appPropertyTopList>
                        </router-link>
                </template>
            </app-box>
            <app-box>
                <template v-slot:icon>home_work</template>
                <template v-slot:cardHeader>Kõik Kinnisvara</template>
                <template v-slot:content> 
                    <template v-if="brokerWorkNameInDb == logedInUserData.job || logedInwebUserData.roleName == 'admin' || logedInwebUserData.roleName == 'mod'">
                            <router-link :to="{name: 'properties'}" tag="div" class="pointer">
                                <appPropertyTopList v-bind:properties="allProperiesForDashboard" v-bind:isLoading="isBrokerAllProperiesForDashboardLoading"></appPropertyTopList>
                            </router-link>
                    </template>
                    <div v-else class="card bg-rose">
                        <div class="card-body text-center card-category card-category-social">
                            <i class="material-icons pr-1">info</i>Kahjuks ei saa me teile neid andmeid näidata
                        </div>
                    </div>
                </template>
            </app-box>
        </div>
            <appAddButton></appAddButton>
    </div>
</template>
<script>
import box from './../parts/box'
import addButton from './../parts/addButton'
import propertyTopList from './parts/propertyTopList'
export default {
    components: {
        appBox: box,
        appAddButton: addButton,
        appPropertyTopList: propertyTopList
    },
    data() {
        return {
            brokerWorkNameInDb: "realestateagent"
        }
    },
    computed: {
        brokerAvailableProperiesForDashboard() {
            return this.$store.getters.getBrokerAvailableProperiesForDashboard
        },
        isBrokerAvailableProperiesForDashboardLoading() {
            return this.$store.getters.isBrokerAvailableProperiesForDashboardLoading
        },
        allProperiesForDashboard() {
            return this.$store.getters.getBrokerAllProperiesForDashboard
        },
        isBrokerAllProperiesForDashboardLoading() {
            return this.$store.getters.isBrokerAllProperiesForDashboardLoading
        },
        logedInUserData() {
           return this.$store.getters.getCharacterData
        },
        logedInwebUserData() {
           return this.$store.getters.getWebUserData
        }
    },
    created() {
        this.$store.dispatch('availablepropertyForDashboardAction', this.$store.getters.getToken)
        this.$store.dispatch('allPropertyForDashboardAction', this.$store.getters.getToken)
    }
}
</script>
<style scoped>

</style>