<template>
<div>
    <div class="card">
        <div class="card-header card-header-primary">
            <template v-if="!isLoading">
                <h4 class="card-title">{{property.label}}</h4>
                <p class="category">
                    <template v-if="!property.is_apartment">
                        <template v-for="ownerData in property.owned_properties">
                            <template v-if="ownerData.is_owner && ownerData.user">{{ ownerData.user.firstname }} {{ ownerData.user.lastname }}</template>
                        </template>
                    </template>
                    <template v-else>Kinnistu ühistu</template>
                </p>
            </template>
            <p v-else>Andmete laadimine...</p>
        </div>
        <div class="card-body">
            <!-- house part -->
            <template v-if="!isLoading && !property.is_apartment">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <p><b>Kasutajad:</b></p>
                            <template v-for="ownerData in property.owned_properties">
                                <p v-if="!ownerData.is_owner" :key="ownerData.id">
                                    {{ ownerData.user.firstname }} {{ ownerData.user.lastname }}
                                    <i class="material-icons icon-center text-danger pointer" @click="removeKey(ownerData.id)">clear</i>
                                </p>
                                <hr :key="'hr' + ownerData.id">
                            </template>
                        </div>
                    </div>
                    <div class="row"  v-if="property.price">
                        <div class="col-12">
                            <b>Hind:</b>
                            <div v-if="priceChangeSuccess" class="alert alert-success" @click="priceChangeSuccess = !priceChangeSuccess">
                                <div class="alert-icon"><i class="material-icons">check</i></div>Hind muudetud
                            </div>
                            <div v-if="priceChangeError" class="alert alert-danger" @click="priceChangeError = !priceChangeError">
                                <div class="alert-icon"><i class="material-icons">error_outline</i></div>Hinna muutmine ebaõnnestus
                            </div>
                            <input type="number" name="price" class="form-control" v-model="price">
                            <button class="btn btn-primary ld-over-full" :class="{running: isPriceChangeLoading}" v-if="showPriceChangeBtn" @click="changePrice()">Muuda</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div v-if="buybackData.buybackSuccess" class="alert alert-success" @click="buybackData.buybackSuccess = !buybackData.buybackSuccess">
                                <div class="alert-icon"><i class="material-icons">check</i></div>Kinnisvara ostetud
                            </div>
                            <div v-if="buybackData.buybackError" class="alert alert-danger" @click="buybackData.buybackError = !buybackData.buybackError">
                                <div class="alert-icon"><i class="material-icons">error_outline</i></div>Kinnisvara ostmine ebaõnnestus
                            </div>
                            <div v-if="sellData.successs" class="alert alert-success" @click="sellData.successs = !sellData.successs">
                                <div class="alert-icon"><i class="material-icons">check</i></div>Kinnisvara Müüdud
                            </div>
                            <div v-if="sellData.error" class="alert alert-danger" @click="sellData.error = !sellData.error">
                                <div class="alert-icon"><i class="material-icons">error_outline</i></div>Kinnisvara müümine ebaõnnestus
                            </div>
                            <div v-if="key.successs" class="alert alert-success" @click="key.successs = !key.successs">
                                <div class="alert-icon"><i class="material-icons">check</i></div>Kinnisvara võti antud isikule
                            </div>
                            <div v-if="key.error" class="alert alert-danger" @click="key.error = !key.error">
                                <div class="alert-icon"><i class="material-icons">error_outline</i></div>Kinnisvara võtme andmine ebaõnnestus
                            </div>
                            <button class="btn btn-rose" v-if="property.owned_properties.length > 0" data-toggle="modal" data-target=".bd-buyback-house-modal">
                                Osta tagasi
                            </button>
                            <button class="btn btn-primary" @click="search.showSearch = !search.showSearch; sellData.sellProperty = true">
                                Müü <span v-if="property.owned_properties.length > 0">edasi</span>
                            </button>
                            <button class="btn btn-success" @click="search.showSearch = !search.showSearch; sellData.sellProperty = false">
                                Anna Võti
                            </button>
                        </div>
                    </div>
                    <div class="row mt-2" v-if="search.showSearch">
                        <div class="col-12">
                            <input class="form-control pl-1" type="text" name="searchBuyer" placeholder="otsi ostjat nime järgi" v-model.lazy="searchKeyword">
                        </div>
                    </div>
                    <div v-if="search.showSearch">
                        <div class="pt-4">
                            <p>Otsingu tulemused:</p>
                        </div>
                        <div class="row pointer"
                            v-for="(result, index) in getSearchResults.persons" :key="index" 
                            @click="selectBuyer(
                                result.firstname,
                                result.lastname,
                                result.identifier
                            )"
                            data-toggle="modal" data-target=".bd-sell-house-modal"
                            >
                            <div class="col-12">
                                {{result.firstname}} {{result.lastname}} | {{result.dateofbirth}}
                            </div>
                            <hr class="col-12">
                        </div>
                    </div>
                </div>
            </template>
            <!-- apartment part -->
            <template v-if="!isLoading && property.is_apartment">
                <div class="row"  v-if="property.price">
                    <div class="col-12">
                        <b>Hind:</b>
                        <div v-if="priceChangeSuccess" class="alert alert-success" @click="priceChangeSuccess = !priceChangeSuccess">
                            <div class="alert-icon"><i class="material-icons">check</i></div>Hind muudetud
                        </div>
                        <div v-if="priceChangeError" class="alert alert-danger" @click="priceChangeError = !priceChangeError">
                            <div class="alert-icon"><i class="material-icons">error_outline</i></div>Hinna muutmine ebaõnnestus
                        </div>
                        <input type="number" name="price" class="form-control" v-model="price">
                        <button class="btn btn-primary ld-over-full" :class="{running: isPriceChangeLoading}" v-if="showPriceChangeBtn" @click="changePrice()">Muuda</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div v-if="sellData.successs" class="alert alert-success" @click="sellData.successs = !sellData.successs">
                            <div class="alert-icon"><i class="material-icons">check</i></div>Kinnisvara Müüdud
                        </div>
                        <div v-if="sellData.error" class="alert alert-danger" @click="sellData.error = !sellData.error">
                            <div class="alert-icon"><i class="material-icons">error_outline</i></div>Kinnisvara müümine ebaõnnestus
                        </div>
                        <button class="btn btn-primary" @click="search.showSearch = !search.showSearch">
                            Müü vaba korter</span>
                        </button>
                    </div>
                </div>
                <div class="row mt-2" v-if="search.showSearch">
                    <div class="col-12">
                        <input class="form-control pl-1" type="text" name="searchBuyer" placeholder="otsi ostjat nime järgi" v-model.lazy="searchKeyword">
                    </div>
                </div>
                <div v-if="search.showSearch">
                    <div class="pt-4">
                        <p>Otsingu tulemused:</p>
                    </div>
                    <div class="row pointer"
                        v-for="(result, index) in getSearchResults.persons" :key="index" 
                        @click="selectBuyer(
                            result.firstname,
                            result.lastname,
                            result.identifier
                        )"
                        data-toggle="modal" data-target=".bd-sell-free-apartment-modal"
                        >
                        <div class="col-12">
                            {{result.firstname}} {{result.lastname}} | {{result.dateofbirth}}
                        </div>
                        <hr class="col-12">
                    </div>
                </div>
                <!-- apartment owners cards -->
                    <div class="card mt-5 mb-5" v-for="ownerData in property.owned_properties" :key="ownerData.id">
                        <appApartmentOwner
                            v-bind:property="property" 
                            v-bind:ownerData="ownerData"
                            v-bind:loadProperty="loadProperty"
                            @loadProperty="loadProperty">
                        </appApartmentOwner>
                    </div>
            </template>
        </div>
    </div>
    <!-- ##### ###### ##### -->
    <!-- ##### Modals ##### -->
    <!-- ##### ###### ##### -->

    <!-- House modals-->
    <template v-if="!isLoading && !property.is_apartment">
        <div class="modal fade bd-buyback-house-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Kinnita tegevus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Oled sa kindel et soovid seda kinnisvara tagasi osta</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="buyback(null)">Jah</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ei</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-sell-house-modal" tabindex="-1" role="dialog" aria-labelledby="sellModalArea" aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Kinnita tegevus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Oled sa kindel et soovid seda kinnisvara müüja / võtit anda</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary ld-over-full" :class="{running: this.sellData.isLoading || this.key.isLoading}" data-dismiss="modal" @click="sellOrGiveKey()">Jah</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ei</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!-- Apartment modals are inside of appApartmentOwner component-->
    <template v-if="!isLoading && property.is_apartment">
        <div class="modal fade bd-sell-free-apartment-modal" tabindex="-1" role="dialog" aria-labelledby="sellModalArea" aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Kinnita tegevus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Oled sa kindel et soovid seda kinnisvara müüja</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary ld-over-full" :class="{running: this.sellData.isLoading}" data-dismiss="modal" @click="sell()">Jah</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ei</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
</template>
<script>
import axios from 'axios'
import apartmentOwner from './parts/apartmentOwner'

export default {
    components: {
        appApartmentOwner: apartmentOwner
    },
    data() {
        return {
            property: null,
            isLoading: false,
            price: 0,
            showPriceChangeBtn: false,
            isPriceChangeLoading: false,
            priceChangeError: false,
            priceChangeSuccess: false,
            buybackData: {
                isBuybackLoading: false,
                buybackError: false,
                buybackSuccess: false
            },
            search: {
                showSearch: false,
            },
            searchKeyword: null,
            newOwner: null,
            sellData: {
                sellProperty: false,
                isLoading: false,
                error: false,
                successs: false
            },
            key: {
                isLoading: false,
                error: false,
                successs: false
            }
        }
    },
    methods: {
        changePrice() {
            this.isPriceChangeLoading = true
            axios.put(
                'broker/changePropertyPrice',
                {id: this.property.id, price: this.price},
                {headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken}}
            ).then(response => {
                this.isPriceChangeLoading = false
                this.priceChangeError = false
                this.priceChangeSuccess = true
                this.showPriceChangeBtn = false
            }).catch(error => {
                console.log(error)
                this.isPriceChangeLoading = false
                this.priceChangeError = true
                this.priceChangeSuccess = false
            })
        },
        buyback() {
            this.buybackData.isBuybackLoading = true
            axios.delete(
                'broker/buyBackProperty',
                {
                    headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken},
                    data: {id: this.property.id}
                }
            ).then(response => {
                this.buybackData.isBuybackLoading = false
                this.buybackData.buybackSuccess = true
                this.buybackData.buybackError = false
                this.property.owner = null
                this.showBuybackModel = false
                this.loadProperty()
            }).catch(error => {
                console.log(error)
                this.buybackData.isBuybackLoading = false
                this.buybackData.buybackError = true
                this.buybackData.buybackSuccess = false
                this.showBuybackModel = false
            })
        },
        selectBuyer(firstname, lastname, identifier) {
            this.property.firstname = firstname
            this.property.lastname = lastname
            this.newOwner = identifier,
            this.search.showSearch = false
            this.$store.commit('setSearchWord', '')
            this.$store.commit('setSearchResults', [])
        },
        sell() {
            this.sellData.isLoading = true
            axios.put(
                'broker/sellProperty',
                {id: this.property.id, newOwner: this.newOwner},
                {headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken}}
            ).then(response => {
                this.sellData.successs = true
                this.sellData.error = false
                this.searchKeyword = ''
                this.loadProperty()
            }).catch(error => {
                console.log(error)
                this.sellData.successs = false
                this.sellData.error = true
            })
        },
        sellOrGiveKey() {
            if (this.sellData.sellProperty) {
                this.sell()
            } else {
                this.giveKey()
            }
        },
        giveKey() {
            this.key.isLoading = true
            axios.post(
                'broker/giveKey',
                {id: this.property.id, newKeyOwner: this.newOwner},
                {headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken}}
            ).then(response => {
                this.key.isLoading = false
                this.key.successs = true
                this.key.error = false
                this.searchKeyword = ''
                this.loadProperty()
            }).catch(error => {
                console.log(error)
                this.key.isLoading = false
                this.key.successs = false
                this.key.error = true
            })
        },
        removeKey(keyId) {
            this.key.isLoading = true
            axios.delete(
                'broker/removeKey',
                {
                    headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken},
                    params: {id: keyId}                    
                }
            ).then(response => {
                this.key.isLoading = false
                this.loadProperty()
            }).catch(error => {
                console.log(error)
                this.key.isLoading = false
            })
        },
        loadProperty() {
            this.isLoading = true
            axios.get(
                'broker/getProperty?id=' + this.$route.params.id,
                {headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken}}
            ).then(response => {
            this.property = response.data.property
            this.price = response.data.property.price
            this.isLoading = false
            }).catch(error => {
                console.log(error)
                this.isLoading = false
            })
        },
    },
    computed: {
        getSearchResults() {
             return this.$store.getters.getSearchResults
        }
    },
    watch: {
        price(newPrice, oldPrice) {
            if (newPrice !== this.property.price) {
                this.showPriceChangeBtn = true
            } 
            if (newPrice == this.property.price) {
                this.showPriceChangeBtn = false
            }
        },
        searchKeyword(newSearch, oldSearch) {
            this.$store.commit('setSearchWord', newSearch)
            if (newSearch.length > 2) {
                this.$store.dispatch('searchAction', this.$store.getters.getToken)
            }
        }
    },
    created() {
        this.loadProperty()
    }    
}
</script>