<template>
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Ostetud kinnisvara</h4>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center pointer" @click="sortByPrice()">Sorteeri hinna järgi</div>
                <div class="col-4 text-center pointer" @click="sortByAvailability()">Sorteeri saadavuse järgi</div>
            </div>    
        </div>
        <div class="card-body">
            <template v-if="!isBrokerAllProperiesLoading">
                <router-link tag="div" class="row p-1 pointer" v-for="(property, index) in properties" :key="index" :to="{name: 'property', params: {id: property.id}}">
                    <div class="col-4">{{ property.label }}</div>
                    <div class="col-4 text-center">{{ property.price }}</div>
                    <div class="col-4 text-center">
                        <span v-if="property.owned_properties.length > 0 && !property.is_apartment">Ostetud</span>
                        <span v-else>vaba</span>
                    </div>
                    <div class="col-12"><hr></div>
                </router-link>
            </template>
            <p v-else class="text-center">Andmete laadminie...</p>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            sortedBy: {
                availabilityAcs: false,
                priceAcs: false
            }
        }
    },
    computed: {
        properties() {
            return this.$store.getters.getBrokerAllProperties
        },
        isBrokerAllProperiesLoading() {
            return this.$store.getters.isBrokerAllPropertiesLoading
        },
    },
    methods: {
        sortByAvailability() {
            let sortedBy = this.sortedBy.availabilityAcs
            function compare(a, b) {
                if(!sortedBy) {
                    if (a.owned_properties.length < b.owned_properties.length)
                        return -1;
                    if (a.owned_properties.length > b.owned_properties.length)
                        return 1;
                    return 0;
                } else {
                    if (a.owned_properties.length > b.owned_properties.length && !a.is_apartment)
                        return -1;
                    if (a.owned_properties.length < b.owned_properties.length || a.is_apartment)
                        return 1;
                    return 0;
                }
            }
            this.sortedBy.availabilityAcs = !this.sortedBy.availabilityAcs
            this.sortedBy.priceAcs = false
            this.$store.commit('setBrokerAllProperies', this.properties.sort(compare))
        },
        sortByPrice() {
            let sortedBy = this.sortedBy.priceAcs
            function compare(a, b) {
                if(!sortedBy) {
                    if (a.price < b.price)
                        return -1;
                    if (a.price > b.price)
                        return 1;
                    return 0;
                } else {
                    if (a.price > b.price)
                        return -1;
                    if (a.price < b.price)
                        return 1;
                    return 0;
                }
            }

            this.sortedBy.priceAcs = !this.sortedBy.priceAcs
            this.sortedBy.availabilityAcs = false
            this.$store.commit('setBrokerAllProperies', this.properties.sort(compare))
        }
    },
    created() {
        if (this.$store.getters.getBrokerAllProperties.length < 1){
            this.$store.dispatch('allPropertyAction', this.$store.getters.getToken)
        }
    }
}
</script>
<style scoped>

</style>