<template>
  <app-box>
    <template v-slot:icon>directions_car</template>
    <template v-slot:cardHeader>Sõidukid</template>
    <template v-slot:content>
      <router-link :to="to">
        <div class="row" v-if="!isCarsLoading || carsCount > 0">
          <div
            class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
          >
            <div
              class="progress-circle"
              :class="[{'over50': getCarsOutsideCaragePercent > 49}, 'p'+getCarsOutsideCaragePercent]"
            >
              <span>{{ getCarsCountOutsideGarage }}/{{ carsCount }}</span>
              <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </router-link>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
export default {
  components: {
    appBox: box
  },
  props: ["isCarsLoading", "carsCount", "getCarsCountOutsideGarage", "to"],
  data() {
    return {};
  },
  computed: {
    logedInCharacterData() {
      return this.$store.getters.getCharacterData;
    },
    getCarsOutsideCaragePercent() {
      let percent = Math.round(
        (this.getCarsCountOutsideGarage / this.carsCount) * 100
      );
      return 100 - percent;
    }
  }
};
</script>
<style scoped>
</style>