<template>
  <div>
    <p v-if="isCarsLoadin" class="text-center">Andmete laadimine...</p>
    <div class="row">
      <template v-for="car in cars">
        <div
          class="col-12 col-md-6 col-lg-4"
          v-if="!openedCar"
          :key="car.plate"
        >
          <div class="card clickable" @click="openApp(car.plate)">
            <div
              class="card-header card-header-primary"
              :class="{
                'card-header-warning':
                  car.stolen_car && car.stolen_car.is_stolen,
                'card-header-rose': car.wanted_car && car.wanted_car.is_wanted,
              }"
            >
              <h4 class="card-title text-center">{{ car.plate }}</h4>
              <p class="category text-center">{{ car.name }}</p>
            </div>
            <div class="card-body">
              <p
                :class="{
                  'text-danger':
                    !car.insurance ||
                    (car.insurance &&
                      new Date(car.insurance.end_time) < Date.now()),
                }"
                v-if="!car.job"
              >
                <strong>
                  <b>Automaks:</b>
                </strong>
                {{ car.insurance ? car.insurance.end_time : "puudub" }}
              </p>
              <p v-else>
                <strong>
                  <b>Automaks:</b>
                </strong>
                Pole kohustuslik
              </p>
            </div>
          </div>
        </div>
        <template v-else>
          <div class="col-12" :key="car.plate" v-if="car.plate == openedCar">
            <div class="card">
              <div
                class="card-header card-header-primary clickable"
                @click="openApp(car.plate)"
                :class="{
                  'card-header-warning':
                    car.stolen_car && car.stolen_car.is_stolen,
                  'card-header-rose':
                    car.wanted_car && car.wanted_car.is_wanted,
                }"
              >
                <h4 class="card-title text-center text-lg-left">
                  {{ car.plate }}
                </h4>
                <p class="category text-center text-lg-left">{{ car.name }}</p>
              </div>
              <div class="card-body">
                <p
                  :class="{
                    'text-danger':
                      !car.insurance ||
                      (car.insurance &&
                        new Date(car.insurance.end_time) < Date.now()),
                  }"
                  v-if="!car.job"
                >
                  <strong>
                    <b>Automaks:</b>
                  </strong>
                  {{ car.insurance ? car.insurance.end_time : "puudub" }}
                </p>
                <p v-else>
                  <strong>
                    <b>Automaks:</b>
                  </strong>
                  Pole kohustuslik
                </p>
                <hr />
                <p>
                  <strong>
                    <b>Tüüp:</b>
                  </strong>
                  {{ vehicleTypes[car.type] }}
                </p>
                <hr />
                <p>
                  <strong>
                    <b>Esmane registreerimine:</b>
                  </strong>
                  {{ car.reg_date }}
                </p>
                <hr />
                <p>
                  <strong>
                    <b>Liisingu jääk:</b>
                  </strong>
                  {{ car.finance }} €
                </p>
                <hr />
                <p
                  :class="{
                    'text-warning': car.stolen_car && car.stolen_car.is_stolen,
                  }"
                >
                  <strong>
                    <b>Varastatud?:</b>
                  </strong>
                  {{
                    car.stolen_car && car.stolen_car.is_stolen ? "jah" : "ei"
                  }}
                </p>
                <p v-if="car.stolen_car && car.stolen_car.is_stolen">
                  <strong>
                    <b>Kirjeldus:</b>
                  </strong>
                  {{ car.stolen_car.description }}
                </p>
                <hr />
                <p
                  :class="{
                    'text-rose': car.wanted_car && car.wanted_car.is_wanted,
                  }"
                >
                  <strong>
                    <b>Tagaotsitav?:</b>
                  </strong>
                  {{
                    car.wanted_car && car.wanted_car.is_wanted ? "jah" : "ei"
                  }}
                </p>
                <p v-if="car.wanted_car && car.wanted_car.is_wanted">
                  <strong>
                    <b>Põhjus:</b>
                  </strong>
                  {{ car.wanted_car.reason }}
                </p>
                <hr />
                <div class="row">
                  <div
                    v-if="success"
                    class="col-12 alert alert-success"
                    @click="success = !success"
                  >
                    <div class="alert-icon">
                      <i class="material-icons">check</i>
                    </div>
                    Viimane tegevus õnnestus
                  </div>
                  <div
                    v-if="error"
                    class="col-12 alert alert-danger"
                    @click="error = !error"
                  >
                    <div class="alert-icon">
                      <i class="material-icons">error_outline</i>
                    </div>
                    Ups, midagi läks ootamatult valesti.
                  </div>
                </div>
                <div
                  class="row"
                  v-if="
                    (getCarActionsAllowedJobs.includes(getCharacterData.job) ||
                      getGodRoles.includes(getWebUserData.roleName)) &&
                    !isLogedInUserCars
                  "
                >
                  <div
                    :class="{
                      'col-6': !openModelNameForm,
                      'col-12': openModelNameForm,
                    }"
                    v-if="!openCarWantedForm && !openCarStolenForm"
                  >
                    <button
                      class="btn btn-info col-12"
                      @click="openModelNameForm = !openModelNameForm"
                    >
                      <span v-if="!openModelNameForm">Muuda mudeli nime</span>
                      <span v-else>Sulge</span>
                    </button>
                    <template v-if="openModelNameForm">
                      <input
                        type="text"
                        class="form-control col-12"
                        placeholder="Sisesta auto mudel"
                        v-model="car.name"
                      />
                      <button
                        class="btn btn-primary col-auto ld-over-full"
                        :class="{ running: loading.changeModelName }"
                        @click="changeModelName(car.plate, car.name)"
                      >
                        Kinnita
                      </button>
                    </template>
                  </div>
                  <div
                    class="col-6"
                    v-if="
                      !openModelNameForm &&
                      !openCarWantedForm &&
                      !openCarStolenForm
                    "
                  >
                    <button
                      class="btn btn-success col-12 ld-over-full"
                      :class="{ running: loading.insurance }"
                      @click="addInsurance(car.plate)"
                    >
                      Lisa/uuenda auto maksu
                    </button>
                  </div>
                  <template v-if="!car.stolen_car || !car.stolen_car.is_stolen">
                    <div
                      :class="{
                        'col-6': !openCarStolenForm,
                        'col-12': openCarStolenForm,
                      }"
                      v-if="!openModelNameForm && !openCarWantedForm"
                    >
                      <button
                        class="btn btn-warning col-12"
                        @click="openCarStolenForm = !openCarStolenForm"
                      >
                        <span v-if="!openCarStolenForm"
                          >Kuuluta auto varastatuks</span
                        >
                        <span v-else>Sulge</span>
                      </button>
                      <template v-if="openCarStolenForm">
                        <textarea
                          class="form-control col-12"
                          rows="4"
                          placeholder="Sisesta auto kirjeldus"
                          v-model="carStolenText"
                        ></textarea>
                        <button
                          class="btn btn-primary col-auto ld-over-full"
                          :class="{ running: loading.carStolen }"
                          @click="addCarAsStolen(car.plate)"
                        >
                          Kinnita
                        </button>
                      </template>
                    </div>
                  </template>
                  <template v-if="car.stolen_car && car.stolen_car.is_stolen">
                    <div
                      :class="{
                        'col-6': !openCarStolenForm,
                        'col-12': openCarStolenForm,
                      }"
                      v-if="!openModelNameForm && !openCarWantedForm"
                    >
                      <button
                        class="btn btn-warning col-12 ld-over-full"
                        :class="{ running: loading.carStolen }"
                        @click="removeCarAsStolen(car.plate)"
                      >
                        <span>Auto on ülesse leitud</span>
                      </button>
                    </div>
                  </template>
                  <template v-if="!car.wanted_car || !car.wanted_car.is_wanted">
                    <div
                      :class="{
                        'col-6': !openCarWantedForm,
                        'col-12': openCarWantedForm,
                      }"
                      v-if="!openModelNameForm && !openCarStolenForm"
                    >
                      <button
                        class="btn btn-rose col-12"
                        @click="openCarWantedForm = !openCarWantedForm"
                      >
                        <span v-if="!openCarWantedForm"
                          >Kuuluta auto tagaotsitavaks</span
                        >
                        <span v-else>Sulge</span>
                      </button>
                      <template v-if="openCarWantedForm">
                        <textarea
                          class="form-control col-12"
                          rows="4"
                          placeholder="Sisesta auto kirjeldus ja tagaotsimise põhjus"
                          v-model="wantedCarText"
                        ></textarea>
                        <button
                          class="btn btn-primary col-auto ld-over-full"
                          :class="{ running: openModelNameForm }"
                          @click="addWantedCar(car.plate)"
                        >
                          Kinnita
                        </button>
                      </template>
                    </div>
                  </template>
                  <template v-if="car.wanted_car && car.wanted_car.is_wanted">
                    <div
                      :class="{
                        'col-6': !openCarWantedForm,
                        'col-12': openCarWantedForm,
                      }"
                      v-if="!openModelNameForm && !openCarStolenForm"
                    >
                      <button
                        class="btn btn-rose col-12 ld-over-full"
                        :class="{ running: loading.wantedCar }"
                        @click="removeWantedCar(car.plate)"
                      >
                        <span>Tühista taga otsitavus</span>
                      </button>
                    </div>
                  </template>
                  <div
                    class="col-12"
                    v-if="
                      !openModelNameForm &&
                      !openCarWantedForm &&
                      !openCarStolenForm
                    "
                  >
                    <button
                      class="btn btn-danger col-12 ld-over-full"
                      :class="{ running: openModelNameForm }"
                      :disabled="car.finance > 0"
                      @click="openConfiscateCarForm = !openConfiscateCarForm"
                    >
                      Konfiskeeri auto
                    </button>
                    <template v-if="openConfiscateCarForm">
                      <input
                        type="text"
                        class="col-12 form-control pl-1"
                        v-model="confiscatedCarNewOwnerSearch"
                        placeholder="Otsi isikut kelle nimele auto üle kanda ajutiselt"
                      />
                      <template
                        v-if="
                          confiscatedCarNewOwnerSearchResults.persons &&
                          confiscatedCarNewOwnerSearchResults.persons.length > 0
                        "
                      >
                        <p>
                          <b>Otsingu tulemused:</b>
                        </p>
                        <div
                          class="col-12"
                          v-for="(newOwner,
                          index) in confiscatedCarNewOwnerSearchResults.persons"
                          :key="index"
                        >
                          <div
                            class="col-12 pointer"
                            data-toggle="modal"
                            data-target=".bd-confiscateCar-modal"
                            @click="
                              confiscateingCarWithPlate = car.plate;
                              confiscateingCarNewOwnerHex = newOwner.identifier;
                            "
                          >
                            <div class="row">
                              <div class="col-4">
                                {{ newOwner.firstname }} {{ newOwner.lastname }}
                              </div>
                              <div class="col-4">
                                {{ newOwner.dateofbirth }}
                              </div>
                            </div>
                          </div>
                          <hr />
                        </div>
                      </template>
                      <template
                        v-if="
                          confiscatedCarNewOwnerSearch.length > 2 &&
                          confiscatedCarNewOwnerSearchResults.persons &&
                          confiscatedCarNewOwnerSearchResults.persons.length ==
                            0
                        "
                      >
                        <p>
                          <b>Otsingu tulemused:</b>
                        </p>
                        <p>Tulemusi ei leitud</p>
                      </template>
                      <div
                        class="modal fade bd-confiscateCar-modal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="sellModalArea"
                        aria-hidden="false"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Kinnita tegevus</h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>
                                Oled sa kindel et soovid seda autot
                                konfiskeerida?
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-primary"
                                data-dismiss="modal"
                                :disabled="car.finance > 0"
                                @click="confiscateCar()"
                              >
                                Jah
                              </button>
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                @click="removeConfiscateCarFromMemory()"
                              >
                                Ei
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
                <div class="row" v-if="isLogedInUserCars">
                  <div class="col-12">
                    <button
                      class="btn btn-info col-12"
                      :disabled="car.finance > 0"
                      @click="openCarSellForm = !openCarSellForm"
                    >
                      <span v-if="!openCarSellForm">Müü sõiduk</span>
                      <span v-else>Sulge</span>
                    </button>
                    <template v-if="openCarSellForm">
                      <input
                        type="text"
                        class="col-12 form-control pl-1"
                        v-model="sellCarNewOwnerSearch"
                        placeholder="Otsi isikut kellele autot müüja soovid"
                      />
                      <template
                        v-if="
                          sellCarNewOwnerSearchResults.persons &&
                          sellCarNewOwnerSearchResults.persons.length > 0
                        "
                      >
                        <p>
                          <b>Otsingu tulemused:</b>
                        </p>
                        <div
                          class="col-12"
                          v-for="(newOwner,
                          index) in sellCarNewOwnerSearchResults.persons"
                          :key="index"
                        >
                          <div
                            class="col-12 pointer"
                            data-toggle="modal"
                            data-target=".bd-sellCar-modal"
                            @click="
                              sellCarWithPlate = car.plate;
                              sellCarNewOwnerHex = newOwner.identifier;
                            "
                          >
                            <div class="row">
                              <div class="col-4">
                                {{ newOwner.firstname }} {{ newOwner.lastname }}
                              </div>
                              <div class="col-4">
                                {{ newOwner.dateofbirth }}
                              </div>
                            </div>
                          </div>
                          <hr />
                        </div>
                      </template>
                      <template
                        v-if="
                          sellCarNewOwnerSearch.length > 2 &&
                          sellCarNewOwnerSearchResults.persons &&
                          sellCarNewOwnerSearchResults.persons.length == 0
                        "
                      >
                        <p>
                          <b>Otsingu tulemused:</b>
                        </p>
                        <p>Tulemusi ei leitud</p>
                      </template>
                      <div
                        class="modal fade bd-sellCar-modal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="sellModalArea"
                        aria-hidden="false"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Kinnita tegevus</h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Oled sa kindel et soovid seda autot müüja?</p>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-primary"
                                :disabled="car.finance > 0"
                                data-dismiss="modal"
                                @click="sellCar()"
                              >
                                Jah
                              </button>
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                @click="removeSellCar()"
                              >
                                Ei
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4" :key="car.plate" v-else>
            <div class="card clickable" @click="openApp(car.plate)">
              <div
                class="card-header card-header-primary"
                :class="{
                  'card-header-warning':
                    car.stolen_car && car.stolen_car.is_stolen,
                  'card-header-rose':
                    car.wanted_car && car.wanted_car.is_wanted,
                }"
              >
                <h4 class="card-title text-center">{{ car.plate }}</h4>
                <p class="category text-center">{{ car.name }}</p>
              </div>
              <div class="card-body">
                <p
                  :class="{
                    'text-danger':
                      !car.insurance ||
                      (car.insurance &&
                        new Date(car.insurance.end_time) < Date.now()),
                  }"
                  v-if="!car.job"
                >
                  <strong>
                    <b>Automaks:</b>
                  </strong>
                  {{ car.insurance ? car.insurance.end_time : "puudub" }}
                </p>
                <p v-else>
                  <strong>
                    <b>Automaks:</b>
                  </strong>
                  Pole kohustuslik
                </p>
              </div>
            </div>
          </div>
        </template>
      </template>
    </div>
    <appAddButton v-bind:menu="addButtonMenu"></appAddButton>
  </div>
</template>
<script>
import addButton from "./../addButton";
import axios from "axios";

export default {
  components: {
    appAddButton: addButton,
  },
  props: ["cars", "characterData", "isCarsLoadin", "isLogedInUserCars"],
  data() {
    return {
      openedCar: null,
      vehicleTypes: {
        car: "Sõiduk",
        helicopter: "Helikopter",
      },
      openModelNameForm: false,
      openCarWantedForm: false,
      openCarStolenForm: false,
      openConfiscateCarForm: false,
      openCarSellForm: false,
      loading: {
        changeModelName: false,
        insurance: false,
        carStolen: false,
        wantedCar: false,
      },
      success: false,
      error: false,
      carStolenText: "",
      wantedCarText: "",
      confiscatedCarNewOwnerSearch: "",
      confiscatedCarNewOwnerSearchResults: [],
      confiscateingCarWithPlate: "",
      confiscateingCarNewOwnerHex: "",
      sellCarNewOwnerSearch: "",
      sellCarNewOwnerSearchResults: [],
      sellCarWithPlate: "",
      sellCarNewOwnerHex: "",
    };
  },
  methods: {
    openApp(carPlate) {
      if (carPlate == this.openedCar) {
        this.openedCar = null;
      } else {
        this.openedCar = carPlate;
      }
    },
    changeModelName(plate, name) {
      this.loading.changeModelName = true;
      axios
        .post(
          "cars/changeModelName",
          {
            plate: plate,
            name: name,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.loading.changeModelName = false;
          this.success = true;
          this.error = false;
          this.openModelNameForm = false;
        })
        .catch((error) => {
          this.loading.changeModelName = false;
          this.success = false;
          this.error = true;
        });
    },
    addInsurance(plate) {
      this.loading.insurance = true;
      axios
        .post(
          "cars/addInsurance",
          { plate: plate },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.reloadData();
          this.loading.insurance = false;
          this.success = true;
          this.error = false;
        })
        .catch((error) => {
          console.log(error.response);
          this.loading.insurance = false;
          this.success = false;
          this.error = true;
        });
    },
    addCarAsStolen(plate) {
      this.loading.carStolen = true;
      axios
        .post(
          "cars/addCarAsStolen",
          { plate: plate, description: this.carStolenText },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.reloadData();
          this.loading.carStolen = false;
          this.success = true;
          this.error = false;
          this.openCarStolenForm = false;
          this.carStolenText = "";
        })
        .catch((error) => {
          console.log(error.response);
          this.loading.carStolen = false;
          this.success = false;
          this.error = true;
        });
    },
    removeCarAsStolen(plate) {
      this.loading.carStolen = true;
      axios
        .put(
          "cars/removeCarAsStolen",
          { plate: plate },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.reloadData();
          this.loading.carStolen = false;
          this.success = true;
          this.error = false;
        })
        .catch((error) => {
          this.loading.carStolen = false;
          this.success = false;
          this.error = true;
        });
    },
    addWantedCar(plate) {
      this.loading.wantedCar = true;
      axios
        .post(
          "cars/addWantedCar",
          { plate: plate, description: this.wantedCarText },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.loading.wantedCar = false;
          this.success = true;
          this.error = false;
          this.openCarWantedForm = false;
          this.wantedCarText = "";
        })
        .catch((error) => {
          console.log(error.response);
          this.loading.wantedCar = false;
          this.success = false;
          this.error = true;
        });
    },
    removeWantedCar(plate) {
      this.loading.wantedCar = true;
      axios
        .put(
          "cars/removeWantedCar",
          { plate: plate },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.reloadData();
          this.loading.wantedCar = false;
          this.success = true;
          this.error = false;
        })
        .catch((error) => {
          this.loading.wantedCar = false;
          this.success = false;
          this.error = true;
        });
    },
    confiscateCar() {
      axios
        .put(
          "cars/confiscateCar",
          {
            plate: this.confiscateingCarWithPlate,
            newOwner: this.confiscateingCarNewOwnerHex,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.openConfiscateCarForm = false;
          this.success = true;
          this.error = false;
          this.reloadData();
        })
        .catch((error) => {
          console.error(error.response);
          this.success = false;
          this.error = true;
        });
      this.confiscateingCarWithPlate = "";
      this.confiscateingCarNewOwnerHex = "";
      this.confiscatedCarNewOwnerSearch = "";
      this.confiscatedCarNewOwnerSearchResults = [];
      this.openConfiscateCarForm = false;
    },
    removeConfiscateCarFromMemory() {
      this.confiscateingCarWithPlate = "";
      this.confiscateingCarNewOwnerHex = "";
      this.confiscatedCarNewOwnerSearch = "";
      this.confiscatedCarNewOwnerSearchResults = [];
      this.openConfiscateCarForm = false;
    },
    sellCar() {
      axios
        .put(
          "cars/sellCar",
          { plate: this.sellCarWithPlate, newOwner: this.sellCarNewOwnerHex },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.openCarSellForm = false;
          this.success = true;
          this.error = false;
          this.reloadData();
        })
        .catch((error) => {
          console.error(error);
          this.success = false;
          this.error = true;
        });
      this.sellCarNewOwnerSearch = "";
      this.sellCarNewOwnerSearchResults = [];
      this.sellCarWithPlate = "";
      this.sellCarNewOwnerHex = "";
    },
    removeSellCar() {
      this.sellCarNewOwnerSearch = "";
      this.sellCarNewOwnerSearchResults = [];
      this.sellCarWithPlate = "";
      this.sellCarNewOwnerHex = "";
      this.openCarSellForm = false;
    },
    reloadData() {
      if (this.isLogedInUserCars) {
        this.$store.dispatch("getUserData", this.$store.getters.getToken);
      }
      if (
        this.$store.getters.getLatestSearchedCharacterData &&
        this.characterData.identifier ==
          this.$store.getters.getLatestSearchedCharacterData.identifier
      ) {
        this.$store.dispatch("latesSearchedCharacterData", {
          token: this.$store.getters.getToken,
          hex: this.characterData.identifier,
        });
      }
    },
  },
  computed: {
    addButtonMenu() {
      let userHomeTo;
      if (this.isLogedInUserCars) {
        userHomeTo = { name: "userHome" };
      } else {
        userHomeTo = {
          name: "userProfile",
          params: { hex: this.characterData.identifier },
        };
      }

      return [
        {
          to: userHomeTo,
          icon: "perm_identity",
          label: "Vaata omaniku andmeid",
        },
      ];
    },
    getCarActionsAllowedJobs() {
      return this.$store.getters.getCarActionsAllowedJobs;
    },
    getCharacterData() {
      let logedInUserActiveChar = this.$store.getters
        .getCharactesIdentifiers[0];
      return this.$store.getters.getCharacter(logedInUserActiveChar);
    },
    getWebUserData() {
      return this.$store.getters.getWebUserData;
    },
    getGodRoles() {
      return this.$store.getters.getGodRoles;
    },
  },
  created() {
    if (this.$route.params.plate) {
      this.openedCar = this.$route.params.plate;
    }
  },
  watch: {
    "$route.params.plate"(plate) {
      this.openedCar = plate;
    },
    confiscatedCarNewOwnerSearch(searchWord) {
      if (searchWord.length > 2) {
        axios
          .post(
            "search/getResults",
            { search: searchWord },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.confiscatedCarNewOwnerSearchResults = response.data.results;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    sellCarNewOwnerSearch(searchWord) {
      if (searchWord.length > 2) {
        axios
          .post(
            "search/getResults",
            { search: searchWord },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.sellCarNewOwnerSearchResults = response.data.results;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
<style scoped>
.clickable:hover {
  cursor: pointer;
}
</style>