<template>
  <div class="row">
    <ul class="nav nav-pills nav-pills-icons m-auto" role="tablist">
      <li
        class="nav-item"
        v-for="character in getCharactersInfoForNavBar"
        :key="character.identifier"
      >
        <a
          class="nav-link"
          href="#"
          role="tab"
          data-toggle="tab"
          :class="{
            active: getActiveCharacterIdendtifier == character.identifier,
            'text-white': getDarkMode,
          }"
          @click="changeActiveIdentifier(character.identifier)"
        >
          <i class="material-icons">face</i>
          {{ character.shortenName }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    getCharactersInfoForNavBar() {
      return this.$store.getters.getCharactersInfoForNavBar;
    },
    getActiveCharacterIdendtifier() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    changeActiveIdentifier(identifier) {
      this.$store.commit("setActiveCharacterIdentifier", identifier);
    },
  },
  watch: {
    getCharactersInfoForNavBar(newValue) {
      this.$store.commit(
        "setActiveCharacterIdentifier",
        newValue[0].identifier
      );
    },
  },
};
</script>