<template>
  <app-box>
    <template v-slot:icon>attach_money</template>
    <template v-slot:cardHeader>Firma raha</template>
    <template v-slot:content>
      <div class="row align-self-center h-50">
        <div
          class="col-12 align-self-center text-center"
          v-if="!userDataLoading || identifier"
        >
          <i class="material-icons icon-center">attach_money</i>
          <template v-if="getCharactersIndetifiers.includes(identifier)">
            {{ companyMoney }}
          </template>
          <template v-else-if="godRoles.includes(webUserdData.roleName)">
            <div class="d-inline" v-if="show" @click="show = !show">
              {{ companyMoney }}
            </div>
            <div class="pointer d-inline" v-else @click="show = !show">
              vajuta siia et näha raha
            </div>
          </template>
          <template v-else>0</template>
        </div>
        <p class="m-auto text-center" v-else>Andmete laadimine...</p>
      </div>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
export default {
  components: {
    appBox: box,
  },
  props: ["userDataLoading", "identifier", "companyMoney"],
  data() {
    return {
      show: false,
    };
  },
  computed: {
    getCharactersIndetifiers() {
      return this.$store.getters.getCharactesIdentifiers;
    },
    webUserdData() {
      return this.$store.getters.getWebUserData;
    },
    godRoles() {
      return this.$store.getters.getGodRoles;
    },
  },
};
</script>