<template>
  <div>
    <p v-if="isLoading" class="text-center">Andmete laadimine...</p>
    <div class="row">
      <template v-for="record in cases">
        <div class="col-12 col-md-6 col-lg-4" v-if="!openCase" :key="record.id">
          <div class="card clickable" @click="openApp(record.id)">
            <div
              class="card-header card-header-primary"
              :class="{'card-header-rose': record.is_criminal_case && new Date(record.criminal_case_expires_at) > new Date()}"
            >
              <h4 class="card-title text-center">{{ record.created_at }}</h4>
              <p class="category text-center">{{ record.id }}</p>
            </div>
            <div class="card-body">
              <p>
                <strong>
                  <b>Kokkuvõte:</b>
                </strong>
                {{record.summary | summary}} ...
              </p>
              <p>
                <strong>
                  <b>Koostaja:</b>
                </strong>
                {{record.police_officer.user.firstname}} {{record.police_officer.user.lastname}}
              </p>
            </div>
          </div>
        </div>
        <template v-else>
          <div class="col-12" :key="record.id" v-if="record.id == openCase">
            <div class="card">
              <div
                class="card-header card-header-primary clickable"
                :class="{'card-header-rose': record.is_criminal_case && new Date(record.criminal_case_expires_at) > new Date()}"
                @click="openApp(record.id)"
              >
                <h4 class="card-title text-center text-lg-left">{{ record.created_at }}</h4>
                <p class="category text-center text-lg-left">{{ record.id }}</p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <strong>
                      <b>Trahvid:</b>
                    </strong>
                  </div>
                  <template v-if="JSON.parse(record.fine.length) > 0">
                    <div
                      class="col-12"
                      v-for="(fine, index) in JSON.parse(record.fine)"
                      v-bind:key="index"
                    >{{fine.label}} | {{fine.amount}}€</div>
                  </template>
                </div>
                <hr />
                <p>
                  <strong>
                    <b>Vangla/ÜKT:</b>
                  </strong>
                  {{record.jail_time}}
                </p>
                <hr />
                <div class="row">
                  <div class="col-12">
                    <strong>
                      <b>Hoaitus:</b>
                    </strong>
                    <template
                      v-if="record.warning_car || record.warning_driver_license || record.warning_gun_license"
                    >Jah</template>
                    <template v-else>Ei</template>
                  </div>
                </div>
                <hr />
                <p>
                  <strong>
                    <b>Kriminaale juhtum?:</b>
                  </strong>
                  {{(record.is_criminal_case) ? 'Jah' : 'Ei'}}
                </p>
                <hr />
                <template v-if="record.is_criminal_case">
                  <p v-if="record.is_criminal_case">
                    <strong>
                      <b>Juhtum aegub:</b>
                    </strong>
                    {{record.criminal_case_expires_at}}
                  </p>
                  <hr />
                </template>
                <template v-if="record.place">
                  <p>
                    <strong>
                      <b>Asukoht:</b>
                    </strong>
                    {{record.place}}
                  </p>
                  <hr />
                </template>
                <template v-if="record.car_plate">
                  <p>
                    <strong>
                      <b>Sõiduki numbrimärk:</b>
                    </strong>
                    {{record.car_plate}}
                  </p>
                  <hr />
                </template>
                <template v-if="record.other_parties">
                  <p>
                    <strong>
                      <b>Teised osapooled:</b>
                    </strong>
                    {{record.other_parties}}
                  </p>
                  <hr />
                </template>
                <p>
                  <strong>
                    <b>Kokkuvõte:</b>
                  </strong>
                  {{record.summary}}
                </p>
                <hr />
                <p>
                  <strong>
                    <b>Koostaja:</b>
                  </strong>
                  {{record.police_officer.user.firstname}} {{record.police_officer.user.lastname}}
                </p>
                <template v-if="!isLogedInUserCases">
                  <div class="row">
                    <div class="col-6">
                      <button class="col-12 btn btn-info" disabled>Muuda</button>
                    </div>
                    <div class="col-6">
                      <appRoseButton
                        v-bind:label="'Kustuta'"
                        v-bind:loading="loadingButton"
                        v-bind:classes="{'col-12': true}"
                        v-on:onSubmit="deleteReport(record.id)"
                      />
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4" :key="record.id" v-else>
            <div class="card clickable" @click="openApp(record.id)">
              <div
                class="card-header card-header-primary"
                :class="{'card-header-rose': record.is_criminal_case && new Date(record.criminal_case_expires_at) > new Date()}"
              >
                <h4 class="card-title text-center">{{ record.created_at }}</h4>
                <p class="category text-center">{{ record.id }}</p>
              </div>
              <div class="card-body">
                <p>
                  <strong>
                    <b>Kokkuvõte:</b>
                  </strong>
                  {{record.summary | summary}} ...
                </p>
                <p>
                  <strong>
                    <b>Koostaja:</b>
                  </strong>
                  {{record.police_officer.user.firstname}} {{record.police_officer.user.lastname}}
                </p>
              </div>
            </div>
          </div>
        </template>
      </template>
    </div>
    <appAddButton v-bind:menu="addButtonMenu"></appAddButton>
    <appPoliceForm v-bind:criminalId="identifier"></appPoliceForm>
  </div>
</template>
<script>
import addButton from "./../addButton";
import policeForm from "./forms/criminal";
import axios from "axios";
import roseButton from "./../../../parts/buttons/roseButton";

export default {
  components: {
    appAddButton: addButton,
    appPoliceForm: policeForm,
    appRoseButton: roseButton,
  },
  props: ["cases", "isLoading", "identifier", "isLogedInUserCases"],
  data() {
    return {
      openCase: null,
      loadingButton: false,
    };
  },
  computed: {
    addButtonMenu() {
      let userHomeTo;
      if (this.isLogedInUserCases) {
        userHomeTo = { name: "userHome" };
      } else {
        userHomeTo = { name: "userProfile", params: { hex: this.identifier } };
      }

      return [
        {
          to: userHomeTo,
          icon: "perm_identity",
          label: "Vaata isiku andmeid",
        },
        {
          to: "#",
          icon: "note_add",
          label: "Lisa politsei sissekanne",
          dataToggle: "modal",
          dataTarget: "#criminalRecordFormModal",
        },
      ];
    },
  },
  methods: {
    openApp(id) {
      if (id == this.openCase) {
        this.openCase = null;
      } else {
        this.openCase = id;
      }
    },
    deleteReport(id) {
      this.loadingButton = true;
      axios
        .delete("police/deleteRaport", {
          params: { id: id },
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.loadingButton = false;
          this.openCase = null;
          this.reloadData();
        })
        .catch((error) => {
          console.log(error);
          this.loadingButton = false;
        });
    },
    reloadData() {
      if (this.isLogedInUserCases) {
        this.$store.dispatch("getUserData", this.$store.getters.getToken);
      }
      if (
        this.$store.getters.getLatestSearchedCharacterData &&
        this.identifier ==
          this.$store.getters.getLatestSearchedCharacterData.identifier
      ) {
        this.$store.dispatch("latesSearchedCharacterData", {
          token: this.$store.getters.getToken,
          hex: this.identifier,
        });
      }
    },
  },
  filters: {
    summary(value) {
      if (!value) return "";

      value = value.toString();
      return value.substring(0, 50);
    },
  },
};
</script>
<style scoped>
.clickable:hover {
  cursor: pointer;
}
</style>