<template>
  <app-box>
    <template v-slot:icon>policy</template>
    <template v-slot:cardHeader>Karistused</template>
    <template v-slot:content>
      <router-link :to="to">
        <div class="row" v-if="!isCriminalRecordsCountLoading">
          <div
            class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
          >
            <div
              class="progress-circle"
              :class="[{'over50': activeCriminalCasePercents > 49}, 'p'+activeCriminalCasePercents]"
            >
              <span>{{ criminalRecordCounts.activeCriminalCases }}/{{ criminalRecordCounts.total }}</span>
              <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </router-link>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
export default {
  components: {
    appBox: box
  },
  props: ["isCriminalRecordsCountLoading", "criminalRecordCounts", 'to'],
  data() {
    return {};
  },
  computed: {
    activeCriminalCasePercents() {
      let percent = Math.round(
        (this.criminalRecordCounts.activeCriminalCases /
          this.criminalRecordCounts.total) *
          100
      );
      return percent;
    }
  }
};
</script>
<style scoped>
</style>