<template>
  <app-box>
    <template v-slot:icon>perm_identity</template>
    <template v-slot:cardHeader>ID Kaart</template>
    <template v-slot:content>
      <div class="row">
        <template v-if="!userDataLoading && characterData">
          <div class="col-5 offset-1 p-2">
            <div class="profile-photo-small">
              <img
                class="rounded-circle img-fluid"
                src="/src/assets/img/faces/avatar1.png"
                alt="profile picture"
              />
            </div>
          </div>
          <div class="col-5 offset-1 p-2 align-self-center">
            <p>{{ characterData.fullName }}</p>
            <p>{{ characterData.dateOfBirth }}</p>
            <p>{{ characterData.sex }}</p>
            <p class="pointer" v-if="showJob" @click="showJob = !showJob">
              {{
                characterData.jobLabel
                  ? characterData.jobLabel
                  : characterData.job
              }}
              -
              {{
                characterData.jobGradeLabel
                  ? characterData.jobGradeLabel
                  : characterData.jobGrade
              }}
            </p>
            <p class="pointer" v-else @click="showJob = !showJob">Amet</p>
            <p
              class="pointer"
              v-if="showNumber"
              @click="showNumber = !showNumber"
            >
              {{
                characterData.phoneNumber ? characterData.phoneNumber : "Puudub"
              }}
            </p>
            <p class="pointer" v-else @click="showNumber = !showNumber">
              Telefoni number
            </p>
          </div>
        </template>
        <p class="m-auto text-center" v-else>Andmete laadimine...</p>
      </div>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
export default {
  components: {
    appBox: box,
  },
  props: ["userDataLoading", "characterData"],
  data() {
    return {
      showJob: false,
      showNumber: false,
      showNickName: false,
    };
  },
};
</script>