<template>
  <app-box>
    <template v-slot:icon>perm_identity</template>
    <template v-slot:cardHeader>Load</template>
    <template v-slot:content>
      <div
        class="row h-75"
        :class="{ pointer: !isLogedInUserData }"
        :data-toggle="!isLogedInUserData ? 'modal' : ''"
        :data-target="!isLogedInUserData ? '#licenseManagerModal' : ''"
      >
        <template v-if="!isLicensesLoading || licenses != null">
          <div
            class="col-12 offset-auto col-sm-5 offset-sm-1 col-md-3 offset-md-2 col-lg-5 offset-lg-1 col-xl-4 offset-xl-1 p-2 text-center text-sm-left align-self-center m-auto"
          >
            <p>
              Teooriaeksam:
              <i
                class="material-icons icon-center"
                :class="{
                  'text-white': licenses.theory,
                  'text-danger': !licenses.theory,
                }"
                >{{ licenses.theory ? "check" : "clear" }}</i
              >
            </p>
            <p>
              A-Kategooria:
              <i
                class="material-icons icon-center"
                :class="{
                  'text-white': licenses.aCategory,
                  'text-danger': !licenses.aCategory,
                }"
                >{{ licenses.aCategory ? "check" : "clear" }}</i
              >
            </p>
            <p>
              B-Kategooria:
              <i
                class="material-icons icon-center"
                :class="{
                  'text-white': licenses.bCategory,
                  'text-danger': !licenses.bCategory,
                }"
                >{{ licenses.bCategory ? "check" : "clear" }}</i
              >
            </p>
            <p>
              C-Kategooria:
              <i
                class="material-icons icon-center"
                :class="{
                  'text-white': licenses.cCategory,
                  'text-danger': !licenses.cCategory,
                }"
                >{{ licenses.cCategory ? "check" : "clear" }}</i
              >
            </p>
            <p>
              D-Kategooria:
              <i
                class="material-icons icon-center"
                :class="{
                  'text-white': licenses.dCategory,
                  'text-danger': !licenses.dCategory,
                }"
                >{{ licenses.dCategory ? "check" : "clear" }}</i
              >
            </p>
          </div>
          <div
            class="col-12 offset-auto col-sm-5 offset-sm-1 col-md-3 offset-md-2 col-lg-5 offset-lg-1 col-xl-4 offset-xl-1 p-2 text-center text-sm-left align-self-center m-auto"
          >
            <p>
              Relvaluba:
              <i
                class="material-icons icon-center"
                :class="{
                  'text-white': licenses.weapon,
                  'text-danger': !licenses.weapon,
                }"
                >{{ licenses.weapon ? "check" : "clear" }}</i
              >
            </p>
            <p>
              Jahiluba:
              <i
                class="material-icons icon-center"
                :class="{
                  'text-white': licenses.hunting,
                  'text-danger': !licenses.hunting,
                }"
                >{{ licenses.hunting ? "check" : "clear" }}</i
              >
            </p>
            <p>
              Kalapüügiluba:
              <i
                class="material-icons icon-center"
                :class="{
                  'text-white': licenses.fishing,
                  'text-danger': !licenses.fishing,
                }"
                >{{ licenses.fishing ? "check" : "clear" }}</i
              >
            </p>
            <p>
              Paadi juhiluba:
              <i
                class="material-icons icon-center"
                :class="{
                  'text-white': licenses.boat,
                  'text-danger': !licenses.boat,
                }"
                >{{ licenses.boat ? "check" : "clear" }}</i
              >
            </p>
          </div>
        </template>
        <p class="m-auto text-center" v-else>Andmete laadimine...</p>
      </div>
      <appLicenseManagerModal
        v-bind:licenses="licenses"
        v-bind:identifier="identifier"
      ></appLicenseManagerModal>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
import licenseManagerModal from "./modals/licenseManager";
export default {
  components: {
    appBox: box,
    appLicenseManagerModal: licenseManagerModal,
  },
  props: {
    isLicensesLoading: {},
    licenses: {},
    identifier: {
      type: String,
    },
    isLogedInUserData: {
      default: true,
    },
  },
};
</script>
<style scoped>
</style>