<template>
  <app-box>
    <template v-slot:icon>local_hospital</template>
    <template v-slot:cardHeader>Haiguslood</template>
    <template v-slot:content>
      <router-link :to="to">
        <div class="row" v-if="!isMedicalRecordsCountLoading">
          <div
            class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
          >
            <div
              class="progress-circle"
              :class="[{'over50': lastWeekMedicalRecordsPercent > 49}, 'p'+lastWeekMedicalRecordsPercent]"
            >
              <span>{{ medicalRecordsCount.week }}/{{ medicalRecordsCount.total }}</span>
              <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </router-link>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
export default {
  components: {
    appBox: box
  },
  props: ["isMedicalRecordsCountLoading", "medicalRecordsCount", "to"],
  data() {
    return {};
  },
  computed: {
    lastWeekMedicalRecordsPercent() {
      let percent = Math.round(
        (this.medicalRecordsCount.week / this.medicalRecordsCount.total) * 100
      );
      return 100 - percent;
    }
  }
};
</script>
<style scoped>
</style>