<template>
  <div>
    <p v-if="isLoading" class="text-center">Andmete laadimine...</p>
    <div class="row">
      <template v-for="record in cases">
        <div class="col-12 col-md-6 col-lg-4" v-if="!openCase" :key="record.id">
          <div class="card clickable" @click="openApp(record.id)">
            <div class="card-header card-header-primary">
              <h4 class="card-title text-center">{{ record.created_at }}</h4>
              <p class="category text-center">{{ record.id }}</p>
            </div>
            <div class="card-body">
              <p>
                <strong><b>Kokkuvõte:</b></strong>
                {{ record.summary | summary }} ...
              </p>
              <p>
                <strong><b>Koostaja:</b></strong>
                {{ record.ems_worker.user.firstname }}
                {{ record.ems_worker.user.lastname }}
              </p>
            </div>
          </div>
        </div>
        <template v-else>
          <div class="col-12" :key="record.id" v-if="record.id == openCase">
            <div class="card">
              <div
                class="card-header card-header-primary clickable"
                @click="openApp(record.id)"
              >
                <h4 class="card-title text-center text-lg-left">
                  {{ record.created_at }}
                </h4>
                <p class="category text-center text-lg-left">{{ record.id }}</p>
              </div>
              <div class="card-body">
                <p>
                  <strong><b>Kokkuvõte:</b></strong> {{ record.summary }}
                </p>
                <hr />
                <p>
                  <strong><b>Koostaja:</b></strong>
                  {{ record.ems_worker.user.firstname }}
                  {{ record.ems_worker.user.lastname }}
                </p>
                <template v-if="!isLogedInUserCases">
                  <div class="row">
                    <div class="col-6">
                      <button class="col-12 btn btn-info" disabled>
                        Muuda
                      </button>
                    </div>
                    <div class="col-6">
                      <appRoseButton
                        v-bind:label="'Kustuta'"
                        v-bind:loading="loadingButton"
                        v-bind:classes="{ 'col-12': true }"
                        v-on:onSubmit="deleteReport(record.id)"
                      />
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4" :key="record.id" v-else>
            <div class="card clickable" @click="openApp(record.id)">
              <div class="card-header card-header-primary">
                <h4 class="card-title text-center">{{ record.created_at }}</h4>
                <p class="category text-center">{{ record.id }}</p>
              </div>
              <div class="card-body">
                <p>
                  <strong><b>Kokkuvõte:</b></strong>
                  {{ record.summary | summary }} ...
                </p>
                <p>
                  <strong><b>Koostaja:</b></strong>
                  {{ record.ems_worker.user.firstname }}
                  {{ record.ems_worker.user.lastname }}
                </p>
              </div>
            </div>
          </div>
        </template>
      </template>
    </div>
    <appAddButton v-bind:menu="addButtonMenu"></appAddButton>
    <appMedicalForm v-bind:patientId="identifier"> </appMedicalForm>
  </div>
</template>
<script>
import addButton from "./../addButton";
import medicalForm from "./forms/medical";
import axios from "axios";
import roseButton from "./../../../parts/buttons/roseButton";

export default {
  components: {
    appAddButton: addButton,
    appMedicalForm: medicalForm,
    appRoseButton: roseButton,
  },
  props: ["cases", "isLoading", "identifier", "isLogedInUserCases"],
  data() {
    return {
      openCase: null,
      loadingButton: false,
    };
  },
  computed: {
    addButtonMenu() {
      let userHomeTo;
      if (this.isLogedInUserCases) {
        userHomeTo = { name: "userHome" };
      } else {
        userHomeTo = { name: "userProfile", params: { hex: this.identifier } };
      }

      return [
        {
          to: userHomeTo,
          icon: "perm_identity",
          label: "Vaata isiku andmeid",
        },
        {
          to: "#",
          icon: "note_add",
          label: "Lisa meditsiiniline kirje",
          dataToggle: "modal",
          dataTarget: "#medicalRecordFormModal",
        },
      ];
    },
  },
  methods: {
    openApp(id) {
      if (id == this.openCase) {
        this.openCase = null;
      } else {
        this.openCase = id;
      }
    },
    deleteReport(id) {
      this.loadingButton = true;
      axios
        .delete("medic/deleteRaport", {
          params: { id: id },
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.loadingButton = false;
          this.reloadData();
          this.openCase = null;
        })
        .catch((error) => {
          console.log(error);
          this.loadingButton = false;
        });
    },
    reloadData() {
      if (this.isLogedInUserCases) {
        this.$store.dispatch("getCharacters", this.$store.getters.getToken);
      }
      if (
        this.$store.getters.getLatestSearchedCharacterData &&
        this.identifier ==
          this.$store.getters.getLatestSearchedCharacterData.identifier
      ) {
        this.$store.dispatch("latesSearchedCharacterData", {
          token: this.$store.getters.getToken,
          hex: this.identifier,
        });
      }
    },
  },
  filters: {
    summary(value) {
      if (!value) return "";

      value = value.toString();
      return value.substring(0, 50);
    },
  },
};
</script>
<style scoped>
.clickable:hover {
  cursor: pointer;
}
</style>