<template>
  <app-box>
    <template v-slot:icon>attach_money</template>
    <template v-slot:cardHeader>Raha</template>
    <template v-slot:content>
      <div class="row align-self-center h-50">
        <template v-if="!userDataLoading || characterData">
          <div class="col-12 col-sm-5 align-self-center text-center">
            <i class="material-icons icon-center">attach_money</i>
            <template
              v-if="
                getCharactersIdentifiers.includes(characterData.identifier)
              "
              >{{ characterData.money }}</template
            >
            <template
              v-else-if="godRoles.includes(logedInWebUserdData.roleName)"
            >
              <div
                class="d-inline"
                v-if="showMoney"
                @click="showMoney = !showMoney"
              >
                {{ characterData.money }}
              </div>
              <div
                class="pointer d-inline"
                v-else
                @click="showMoney = !showMoney"
              >
                vaata
              </div>
            </template>
            <template v-else>0</template>
          </div>
          <div class="col-12 col-sm-5 align-self-center text-center">
            <i class="material-icons icon-center">credit_card</i>
            <template
              v-if="
                getCharactersIdentifiers.includes(characterData.identifier)
              "
              >{{ characterData.bank }}</template
            >
            <template
              v-else-if="godRoles.includes(logedInWebUserdData.roleName)"
            >
              <div
                class="d-inline"
                v-if="showBank"
                @click="showBank = !showBank"
              >
                {{ characterData.bank }}
              </div>
              <div
                class="pointer d-inline"
                v-else
                @click="showBank = !showBank"
              >
                vaata
              </div>
            </template>
            <template v-else>0</template>
          </div>
          <div class="col-12 col-sm-5 align-self-center text-center">
            <i class="material-icons icon-center text-rose">attach_money</i>
            <template
              v-if="
                getCharactersIdentifiers.includes(characterData.identifier)
              "
              >{{ characterData.blackMoney }}</template
            >
            <template
              v-else-if="godRoles.includes(logedInWebUserdData.roleName)"
            >
              <div
                class="d-inline"
                v-if="showBlackMoney"
                @click="showBlackMoney = !showBlackMoney"
              >
                {{ characterData.blackMoney }}
              </div>
              <div
                class="pointer d-inline"
                v-else
                @click="showBlackMoney = !showBlackMoney"
              >
                vaata
              </div>
            </template>
            <template v-else>0</template>
          </div>
          <router-link
            tag="div"
            to="#"
            class="col-12 col-sm-5 align-self-center text-center pointer"
            data-toggle="modal"
            data-target="#billsModal"
          >
            <i class="material-icons icon-center">money_off</i>
            {{ characterData.billsSum }}
          </router-link>
        </template>
        <p class="m-auto text-center" v-else>Andmete laadimine...</p>
        <appBills v-bind:bills="bills"></appBills>
      </div>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
import billsModal from "./modals/bills";
export default {
  components: {
    appBox: box,
    appBills: billsModal,
  },
  props: ["userDataLoading", "characterData", "bills"],
  data() {
    return {
      showMoney: false,
      showBank: false,
      showBlackMoney: false,
    };
  },
  computed: {
    getCharactersIdentifiers() {
      return this.$store.getters.getCharactesIdentifiers;
    },
    logedInWebUserdData() {
      return this.$store.getters.getWebUserData;
    },
    godRoles() {
      return this.$store.getters.getGodRoles;
    },
  },
};
</script>
<style scoped>
</style>
