<template>
    <div class="row" v-if="priorityData && getDaysUntilEnd < 5 && getDaysUntilEnd > 0 && showWarning">
            <div class="col-12 alert alert-warning text-center">
                <div class="alert-icon mt-2 ml-1">
                <i class="material-icons">warning</i>
                </div>
                <button type="button" class="close" @click="showWarning = !showWarning">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4><b> Teie eelisjärjekord aegumiseni on jäänud: {{getDaysUntilEnd}} {{(getDaysUntilEnd == 1) ? 'päev' : 'päeva'}}</b></h4>
            </div>
            <div class="modal fade">
            </div>
        </div>
</template>
<script>

export default {
    props: ['getEndDate', 'getDaysUntilEnd', 'priorityData'],
    data(){
        return {
            showWarning: true
        }
    }
}
</script>