<template>
  <app-box
    v-bind:isDanger="getDaysUntilEnd > 0 ? false : true"
    v-bind:fullWight="true"
  >
    <template v-slot:icon>card_membership</template>
    <template v-slot:cardHeader>Eelisjärjekord</template>
    <template v-slot:content>
      <div class="row">
        <template v-if="!userDataLoading">
          <div v-if="getDaysUntilEnd > 0" class="col-12 mt-5">
            <p class="m-auto text-center">
              Teie Eelisjärjekord kestab veel
              <b>{{ getDaysUntilEnd }} Päeva</b>
            </p>
            <p class="m-auto text-center">
              Teie Eelisjärjekord lõppeb: <b>{{ getEndDate }}</b>
            </p>
          </div>
          <div v-else class="col-12 mt-5">
            <h4 class="m-auto text-center">
              <b>Teil puudub eelisjärjekord</b>
            </h4>
          </div>
          <div class="col-12 mt-5">
            <p class="m-auto text-center pointer">
              <router-link :to="{ name: 'donation' }" class="text-white">
                infot eelisjärjekorra kohta leiad siit</router-link
              >
            </p>
          </div>
        </template>
        <p class="m-auto text-center" v-else>Andmete laadimine...</p>
      </div>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
export default {
  components: {
    appBox: box,
  },
  props: ["userDataLoading", "getEndDate", "getDaysUntilEnd"],
};
</script>
<style scoped>
</style>