<template>
  <app-box>
    <template v-slot:icon>house</template>
    <template v-slot:cardHeader>Kinnisvara</template>
    <template v-slot:content>
      <div class="row mt-5">
        <template
          v-if="(properties && (!isPropertiesLoading || properties.length > 0)) || (houses && (!isHousesLodaing || houses.length > 0))"
        >
          <div
            class="col-12 m-auto text-center"
            v-for="(property, index) in properties"
            :key="index"
          >
            <p>{{ property.property.label }} | {{property.price}}</p>
            <hr />
          </div>
          <div class="col-12 m-auto text-center" v-for="(house, index) in houses" :key="index">
            <p>{{ house.id }} | {{house.price}}</p>
            <hr />
          </div>
        </template>
        <p
          class="m-auto text-center"
          v-else-if="(properties && (isPropertiesLoading || properties.length <= 0)) || (houses && (isHousesLodaing || houses.length <= 0))"
        >Andmete laadimine...</p>
      </div>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
export default {
  components: {
    appBox: box,
  },
  props: ["isPropertiesLoading", "isHousesLodaing", "properties", "houses"],
};
</script>