<template>
  <app-box>
    <template v-slot:icon>accessibility_new</template>
    <template v-slot:cardHeader>Oskused</template>
    <template v-slot:content>
      <div class="row align-self-center h-50">
        <template v-if="!userDataLoading">
          <div class="col-12 align-self-center">
            <p><b>Vastupidavus:</b> {{ skills.stamina }} / 100</p>
            <div class="progress">
              <div
                class="progress-bar progress-bar-primary"
                role="progressbar"
                :style="'width:' + skills.stamina + '%'"
                :aria-valuenow="skills.stamina"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col-12 align-self-center">
            <p><b>Jõud:</b> {{ skills.strength }} / 100</p>
            <div class="progress">
              <div
                class="progress-bar bg-dark"
                role="progressbar"
                :style="'width:' + skills.strength + '%'"
                :aria-valuenow="skills.strength"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col-12 align-self-center">
            <p><b>Laskmis oskus:</b> {{ skills.shooting }} / 100</p>
            <div class="progress">
              <div
                class="progress-bar bg-secondary"
                role="progressbar"
                :style="'width:' + skills.shooting + '%'"
                :aria-valuenow="skills.shooting"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </template>
        <p class="m-auto text-center" v-else>Andmete laadimine...</p>
      </div>
    </template>
  </app-box>
</template>
<script>
import box from "./../box";
import billsModal from "./modals/bills";
export default {
  components: {
    appBox: box,
    appBills: billsModal,
  },
  props: ["userDataLoading", "skills"],
  data() {
    return {};
  },
};
</script>
<style scoped>
</style>