<template>
  <div class="row" v-if="isBanned">
    <div class="col-12 alert alert-danger text-center">
      <div class="alert-icon mt-2 ml-1">
        <i class="material-icons">pan_tool</i>
      </div>
      <button
        type="button"
        class="close"
        data-toggle="modal"
        data-target="#banRemoveModal"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <h6>Bannitud</h6>
      <p class="text-left mt-5">
        <b>Põhjus:</b>
        {{ banReason }}
      </p>
    </div>
    <div
      class="modal fade"
      id="banRemoveModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="banRemoveModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="banRemoveModalLabel">Kinnita tegvus</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p
              v-if="
                getGodRoles.includes(getLogedInUserRole) &&
                webUserId != getLogedInUserWebId
              "
            >
              Oled kindel et soovid eemaldada isikult ban-i
            </p>
            <p v-else>Sul pole õigust seda tegevust teha</p>
          </div>
          <div class="modal-footer">
            <appModalCloseButton />
            <appPrimaryButton
              v-bind:label="'Eemalda'"
              v-bind:dataDismiss="true"
              v-on:onSubmit="removeWhitelistBan"
              v-if="
                getGodRoles.includes(getLogedInUserRole) &&
                webUserId != getLogedInUserWebId
              "
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import modalCloseButton from "./../../../parts/buttons/modalCloseButton";
import primaryButton from "./../../../parts/buttons/primaryButton";

export default {
  components: {
    appModalCloseButton: modalCloseButton,
    appPrimaryButton: primaryButton,
  },
  props: ["isBanned", "banReason", "identifier", "webUserId"],
  methods: {
    removeWhitelistBan() {
      axios
        .put(
          "admin/penalty/removeWhitelistBan",
          { webUserId: this.webUserId },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          if (this.identifier) {
            this.$store.dispatch("latesSearchedCharacterData", {
              token: this.$store.getters.getToken,
              hex: this.identifier,
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  computed: {
    getGodRoles() {
      return this.$store.getters.getGodRoles;
    },
    getLogedInUserRole() {
      return this.$store.getters.getLogedInUserRoleName;
    },
    getLogedInUserWebId() {
      return this.$store.getters.getLogedInUserWebId;
    },
  },
};
</script>