<template>
  <div>
    <div
      class="row point"
      data-toggle="modal"
      :data-target="'#changeRules' + index"
    >
      <div class="col-8">
        <input
          type="text"
          :class="{ 'text-white': getDarkMode }"
          class="form-control"
          v-model="rule.rule"
        />
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          :class="{ 'text-white': getDarkMode }"
          v-model="rule.category.name"
        />
      </div>
    </div>
    <appModal
      v-bind:ariaLabel="'changeRulesLabel'"
      v-bind:id="'changeRules' + index"
    >
      <template v-slot:header>Muuda reeglit</template>
      <template v-slot:body>
        <div
          v-if="success"
          class="alert alert-success"
          @click="success = !success"
        >
          <div class="alert-icon">
            <i class="material-icons">check</i>
          </div>
          Salvestatud
        </div>
        <div v-if="error" class="alert alert-danger" @click="error = !error">
          <div class="alert-icon">
            <i class="material-icons">error_outline</i>
          </div>
          Ups, midagi läks ootamatult valesti.
        </div>
        <div class="row">
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              :class="{ 'text-white': getDarkMode }"
              v-model="rule.rule"
            />
          </div>
          <div class="col-4">
            <input
              type="text"
              class="form-control"
              :class="{ 'text-white': getDarkMode }"
              v-model="rule.category.name"
            />
          </div>
          <template v-if="searchResults.length > 0">
            <div class="mt-3 mb-3">
              <p><b>Otsinug tulemused:</b></p>
              <div
                class="row pointer"
                v-for="result in searchResults"
                :key="result.id"
                @click="
                  rule.category.name = result.name;
                  searchResults = [];
                "
              >
                <div class="col-12">
                  {{ result.name }}
                </div>
              </div>
              <hr />
            </div>
          </template>
        </div>
      </template>
      <template v-slot:footer>
        <appPrimaryButton
          v-bind:label="'Salvesta'"
          v-bind:loading="loading"
          v-bind:classes="{ 'm-1': true }"
          v-on:onSubmit="updateRule(rule.id, rule.rule, rule.category.name)"
        />
        <appRoseButton
          v-bind:label="'Kustuta'"
          v-bind:loading="loading"
          v-bind:dataDismiss="true"
          v-bind:classes="{ 'm-1': true }"
          v-on:onSubmit="deleteRule(rule.id)"
        />
      </template>
    </appModal>
  </div>
</template>
<script>
import axios from "axios";
import modal from "./../../../parts/modal";
import primaryButton from "./../../../parts/buttons/primaryButton";
import roseButton from "./../../../parts/buttons/roseButton";

export default {
  components: {
    appModal: modal,
    appPrimaryButton: primaryButton,
    appRoseButton: roseButton,
  },
  props: ["rule", "index"],
  data() {
    return {
      loading: false,
      success: false,
      error: false,
      searchResults: [],
    };
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    updateRule(id, rule, categoryName) {
      this.loading = true;
      axios
        .put(
          "admin/rules/update",
          { id: id, rule: rule, category: categoryName },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.loading = false;
          this.success = true;
          this.error = false;
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
          this.success = false;
          this.error = true;
        });
    },
    deleteRule(id) {
      this.loading = true;
      axios
        .delete("admin/rules/delete", {
          params: { id: id },
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.$store.dispatch("getRules", this.$store.getters.getToken);
          this.loading = false;
          this.success = true;
          this.error = false;
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
          this.success = false;
          this.error = true;
        });
    },
  },
  watch: {
    "rule.category.name"(keyword) {
      if (keyword.length > 2) {
        axios
          .get("admin/rules/searchCategory", {
            params: { keyword: keyword },
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          })
          .then((response) => {
            this.searchResults = response.data.results;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
<style scoped>
</style>