<template>
  <div class="row mb-5">
    <ul class="nav nav-pills nav-pills-icons m-auto" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          :class="{ 'text-white': getDarkMode }"
          href="#"
          role="tab"
          data-toggle="tab"
          @click="changeApplicationType('notAccepted')"
        >
          <i class="material-icons">person_add</i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          href="#"
          role="tab"
          data-toggle="tab"
          @click="changeApplicationType('isChat')"
        >
          <i class="material-icons">support_agent</i>
        </a>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  methods: {
    changeApplicationType(applicationType) {
      this.$emit("reload", applicationType);
    },
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>