<template>
  <appModal v-bind:ariaLabel="'addPrioFormModalLabel'" v-bind:id="modalId">
    <template slot="header">
      <div v-if="!queueClientData">Lisa isik priosse</div>
      <div v-else>Uuenda isiku prio andmeid</div>
    </template>
    <template slot="body">
      <div class="row">
        <div class="col-12">
          <div
            v-if="submitError"
            class="alert alert-danger"
            @click="submitError = !submitError"
          >
            <div class="alert-icon">
              <i class="material-icons">error_outline</i>
            </div>
            Ups, midagi läks ootamatult valesti. Veendu et kõik kohustuslikud
            väljad on täidetud.
          </div>
          <div
            v-if="sumbitSuccess"
            class="alert alert-success"
            @click="sumbitSuccess = !sumbitSuccess"
          >
            <div class="alert-icon">
              <i class="material-icons">error_outline</i>
            </div>
            Salvestatud.
          </div>
        </div>
      </div>
      <input
        type="text"
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        placeholder="otsi kasutajat emaili järgi"
        v-model="userSearch"
      />
      <div class="row mt-3" v-if="searchResults.length > 0">
        <div class="col-12">
          <p>
            <b>Otsingu tulemused:</b>
          </p>
        </div>
      </div>
      <div class="row" v-for="person in searchResults" :key="person.id">
        <div
          class="col-12 pointer"
          @click="
            setUser(
              person.id,
              person.name,
              person.email,
              person.user_web_user.steam_hex
            )
          "
        >
          {{ person.email }} ({{ person.name }})
        </div>
        <hr class="col-12" />
      </div>
      <hr />
      <div class="row">
        <div class="col-12">
          <p>
            <b>Valitud Kasutaja</b>
          </p>
        </div>
        <div class="col-6">
          <p>Email: {{ formData.email }}</p>
        </div>
      </div>
      <hr />
      <div class="form-group" :class="{ 'has-danger': !validations.endDate }">
        <appDatepicker
          v-bind:input-class="{
            'form-control': true,
            'mt-3': true,
            'bg-dark': getDarkMode,
            'text-white': getDarkMode,
          }"
          v-bind:calendar-class="{
            'bg-dark': getDarkMode,
            'text-white': getDarkMode,
          }"
          v-bind:monday-first="true"
          v-bind:placeholder="'Vali lõpu kuupäev'"
          v-model="formData.endDate"
        ></appDatepicker>
      </div>
      <div class="form-group" :class="{ 'has-danger': !validations.power }">
        <input
          type="number"
          class="form-control"
          :class="{ 'text-white': getDarkMode }"
          placeholder="Priority queue level (number)"
          v-model="formData.power"
        />
      </div>
    </template>
    <template slot="footer">
      <appModalCloseButton />
      <appPrimaryButton
        v-if="queueClientData"
        v-bind:label="'Uuenda'"
        v-bind:classes="{ 'm-1': true }"
        v-bind:loading="loading"
        v-on:onSubmit="updatePrio(queueClientData.id)"
      />
      <appPrimaryButton
        v-else
        v-bind:label="'Uuenda'"
        v-bind:classes="{ 'm-1': true }"
        v-bind:loading="loading"
        v-on:onSubmit="savePrio()"
      />
    </template>
  </appModal>
</template>
<script>
import axios from "axios";
import modal from "./../../../../parts/modal";
import Datepicker from "vuejs-datepicker";
import modalCloseButton from "./../../../../parts/buttons/modalCloseButton";
import primaryButton from "./../../../../parts/buttons/primaryButton";
export default {
  components: {
    appModal: modal,
    appDatepicker: Datepicker,
    appModalCloseButton: modalCloseButton,
    appPrimaryButton: primaryButton,
  },
  props: ["loadPrioFunction", "modalId", "queueClientData"],
  data() {
    return {
      loading: false,
      formData: {
        webUserId: null,
        name: null,
        email: null,
        hex: null,
        endDate: null,
        power: null,
      },
      searchResults: [],
      userSearch: null,
      submitError: false,
      sumbitSuccess: false,
      validations: {
        hex: true,
        webUserId: true,
        endDate: true,
        power: null,
      },
    };
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    setUser(webUserId, name, email, hex) {
      this.formData.webUserId = webUserId;
      this.formData.name = name;
      this.formData.email = email;
      this.formData.hex = hex;
      this.userSearch = null;
      this.searchResults = [];
    },
    savePrio() {
      this.loading = true;
      if (this.isValidated()) {
        axios
          .post(
            "admin/priority/add",
            {
              hex: this.formData.hex,
              webUserId: this.formData.webUserId,
              endDate: this.formData.endDate,
              power: this.formData.power,
            },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.submitError = false;
            this.formData.hex = null;
            this.formData.webUserId = null;
            this.formData.endDate = null;
            this.formData.power = null;
            this.sumbitSuccess = true;
            this.loading = false;
            this.$emit("reload");
          })
          .catch((error) => {
            this.loading = false;
            console.log(error);
            this.submitError = true;
            this.sumbitSuccess = false;
          });
      }
    },
    updatePrio(id) {
      this.loading = true;
      if (this.isValidated()) {
        axios
          .put(
            "admin/priority/update",
            {
              id: id,
              hex: this.formData.hex,
              steamId: this.formData.steamId,
              endDate: this.formData.endDate,
              power: this.formData.power,
            },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.$emit("reload");
            this.loading = false;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      }
    },
    isValidated() {
      if (
        !this.formData.hex ||
        !this.formData.webUserId ||
        !this.formData.endDate ||
        !this.formData.power
      ) {
        if (!this.formData.endDate) {
          this.validations.endDate = false;
        } else {
          this.validations.endDate = true;
        }
        if (!this.formData.hex) {
          this.validations.hex = false;
        } else {
          this.validations.hex = true;
        }
        if (!this.formData.webUserId) {
          this.validations.webUserId = false;
        } else {
          this.validations.webUserId = true;
        }
        if (!this.formData.power) {
          this.validations.power = false;
        } else {
          this.validations.power = true;
        }
        this.loading = false;
        this.submitError = true;
        return false;
      } else {
        this.validations.endDate = true;
        this.validations.hex = true;
        this.validations.webUserId = true;
        this.validations.power = true;
        return true;
      }
    },
  },
  created() {
    if (this.queueClientData) {
      this.formData.webUserId = this.queueClientData.web_user.id;
      this.formData.name = this.queueClientData.web_user.name;
      this.formData.email = this.queueClientData.web_user.email;
      this.formData.hex = this.queueClientData.web_user.user_web_user.steam_hex;
      this.formData.endDate = this.queueClientData.end_date;
      this.formData.power = this.queueClientData.power;
    }
  },
  watch: {
    userSearch(keyword) {
      if (keyword !== null && keyword.length > 2) {
        axios
          .post(
            "search/webUser",
            { search: keyword },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.searchResults = response.data.results;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
<style scoped>
</style>