<template>
<div>
    <h4><b>FiveM serveri arendajatele</b></h4>
    <p>
        Kui su fiveM RP server kasutab ESX-i ja sa soovid enda serverile <b>veebi töörista</b> siis su otsingud lõppevad siin.
        Antud veebi töörist võimaldub sinul ja su serveri meeskonnal hallata serverit ning annab erinevatele in-game
        ametitele palju lisavõimalusi et oma tööd paremini teha.
    </p>
    <h5><b>Features:</b></h5>
    <ul>
        <li>Whitelisti avalduste esitamine ja kontrollimine</li>
        <li>Karisutuste määramine ja ajaloo jälgimine</li>
        <li>Serveri reeglite ja info haldamine</li>
        <li>Karakterite, registreeritud sõidukite, kinnisvara otsing</li>
        <li>Karakteri profiil koos lubade, sõidukite, politsei ja admin karistuste ning kiirabi sissekannete haldamisega</li>
        <li>Töö avalduste loomine ja haldamine</li>
        <li>Politsei, kiirabi, mehaaniku, kinnisvara maakleri üldinfo (nähtav kõigile sisse logitud kasutajatele)</li>
        <li>Kinnisvara haldamine maakleritele</li>
        <li>Ja palju muud</li>
    </ul>

    <h5><b>Hinnakiri:</b></h5>
    <ul class="list-unstyled">
        <li>Zone server: alates 7.80€ kuu</li>
        <li>koodi litsents: 12.00€ kuu</li>
        <li class="mt-2"><b>Kokku: 19.80€ kuu</b></li>
    </ul>

    <h5><b>Liitumine/ülesse seadistus:</b></h5>
    <ul class="list-unstyled">
        <li>esimese kuu koodi litsent: 12.00€</li>
        <li>2 kuu serveri rendi tasu (esimene kuu + 1 kuu ettemaksu): alates 15.6€</li>
        <li>Serveri ülesse seadisuts: 44.99€</li>
        <li>domeen:
            <ul>
                <li>.ee 8.37€</li>
                <li>.eu 6.60€</li>
                <li>.com 8.80</li>
            </ul>
        </li>
        <li class="mt-2"><b>Kokku: 79.19€ - 81.39€</b></li>
    </ul>
    <h5><b>Lisa tööde tellimine:</b></h5>
    <ul class="list-unstyled">
        <li>Tunni hind: 20€</li>
    </ul>

    <h5><b>Lisainfo:</b></h5>
    <ul class="list-unstyled">
      <li><a class="btn-link" target="_blank" :href="discordLink">RP_Zone discordist</a></li>
    </ul>
</div>
</template>
<script>

export default {
    data() {
        return {
            discordLink: "https://discord.gg/yKBFrDsVEy"
        }
    }
}
</script>

<style scoped>
li {
    font-size: 14px;
}
</style>
