<template>
  <div>
    <appServerInfo></appServerInfo>
  </div>
</template>
<script>
import serverInfo from './../../parts/serverInfo'
export default {
    components: {
        appServerInfo: serverInfo
    }
};
</script>
<style scoped>
</style>