<template>
    <form>
        <h4><strong>Logi sisse</strong></h4>
        <div class="row p-3" v-if="emailError || loginError">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-danger p-3 rounded">
                <b>Sisse logimine ebaõnnestus</b>
            </div>
        </div>
        <div class="form-group" :class="{ 'has-danger':emailError }">
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Sisesta Email" v-model.trim="email">
            <span class="material-icons form-control-feedback" v-if="emailError">clear</span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Parool" v-model.trim="password">
        </div>
        <appPrimaryButton v-bind:label="'Logi Sisse'" v-bind:cLickPrevent="true" v-bind:loading="getLoading" v-on:onSubmit="validateAndSubmit"></appPrimaryButton>
    </form>
</template>
<script>
import { validationMixin } from './../../../mixins/validationMixin';
import axios from 'axios';
import primaryButton from './../../parts/buttons/primaryButton'

export default {
    components: {
        appPrimaryButton: primaryButton
    },
    mixins: [validationMixin],
    data() {
        return {
            email: null,
            password: null,
            emailError: false,
        }
    },
    methods: {
        validateAndSubmit() {
            if(!this.isValidEmail(this.email)) {
                this.emailError = true
            } else {
                this.$store.dispatch('login', {email: this.email, password: this.password})
            }
        }
    },
    computed: {
        loginError() {
            return this.$store.getters.getLoginError
        },
        getLoading() {
            return this.$store.getters.getLoginLoading
        },
    },
    created() {
        if (this.$store.getters.isAuthenticated) {
          this.$router.push({name: 'userHome'})
        }
    },
}
</script>
<style scoped>

</style>