<template>
<div>
    <appServerRules></appServerRules>
</div>
</template>
<script>
import serverRules from './../../parts/serverRules'
export default {
    components: {
        appServerRules: serverRules
    }
}
</script>

<style scoped>
</style>