<template>
  <div id="wlApplication">
    <h3>
      <b>Whitelist avaldus</b>
    </h3>
    <form>
      <div class="row p-3" v-if="submitted">
        <div
          class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-success p-3 rounded"
        >
          <b>Taotluse esitamine õnnestus</b>
        </div>
      </div>
      <div
        class="row pb-3 text-center"
        v-if="errors.count > 0 || whitelistErrors.length > 0"
      >
        <div
          class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-danger p-3 rounded text-white"
        >
          <b>taotluse esitamine ebaõnnestus</b>
          <p v-if="emailExistError" class="mb-0">
            Kasutaja nimi või parool ei ole sobilik
          </p>
          <p v-if="hexExistError" class="mb-0">Hex on juba whitelistis</p>
        </div>
      </div>
      <h5>
        <b>Veebi kasutaja andmed</b>
      </h5>
      <div
        class="form-group"
        :class="{
          'has-danger': errors.email || whitelistErrors.includes('email'),
        }"
      >
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          aria-describedby="emailHelp"
          placeholder="Sisesta Email"
          v-model.trim="userData.email"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="errors.email || whitelistErrors.includes('email')"
          >clear</span
        >
        <small id="emailHelp" class="form-text text-muted"
          >Emaili kasutatakse kui kasutaja nime</small
        >
      </div>
      <div
        class="form-group"
        :class="{
          'has-danger': errors.password || whitelistErrors.includes('password'),
        }"
      >
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          aria-describedby="passwordlHelp"
          placeholder="Sisesta Parool"
          v-model.trim="userData.password"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="errors.password || whitelistErrors.includes('password')"
          >clear</span
        >
        <small id="passwordHelp" class="form-text text-muted"
          >parool peab olema vähemalt 6 tähemärki pikk</small
        >
      </div>
      <div
        class="form-group"
        :class="{
          'has-danger':
            errors.passwordAgain || whitelistErrors.includes('c_password'),
        }"
      >
        <input
          type="password"
          class="form-control"
          id="inputPasswordAgain"
          aria-describedby="passwordAgainlHelp"
          placeholder="Sisesta Parool uuesti"
          v-model.trim="userData.passwordAgain"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="errors.passwordAgain || whitelistErrors.includes('c_password')"
          >clear</span
        >
      </div>

      <h5>
        <b>Roleplay Serveri kasutaja ja karakteri andmed</b>
      </h5>
      <div
        class="form-group"
        :class="{
          'has-danger':
            errors.characterName || whitelistErrors.includes('characterName'),
        }"
      >
        <input
          type="text"
          class="form-control"
          id="inputCharacterName"
          aria-describedby="characterNameHelp"
          placeholder="Sisesta karakteri nimi"
          v-model.trim="rpData.characterName"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="
            errors.characterName || whitelistErrors.includes('characterName')
          "
          >clear</span
        >
        <small id="characterNameHelp" class="form-text text-muted"
          >Karakteri nimi mida sa plaanid kasutada</small
        >
      </div>
      <div
        class="form-group"
        :class="{
          'has-danger':
            errors.steamName || whitelistErrors.includes('steamName'),
        }"
      >
        <input
          type="text"
          class="form-control"
          id="inputSteamName"
          aria-describedby="steamNameHelp"
          placeholder="Sisesta steam nimi"
          v-model.trim="rpData.steamName"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="errors.steamName || whitelistErrors.includes('steamName')"
          >clear</span
        >
        <small id="steamNameHelp" class="form-text text-muted"
          >Sisesta oma steam kastuaja nimi</small
        >
      </div>
      <div
        class="form-group"
        :class="{
          'has-danger': errors.steamHex || whitelistErrors.includes('steamHex'),
        }"
      >
        <input
          type="text"
          class="form-control"
          id="inputSteamHex"
          aria-describedby="steamHexHelp"
          placeholder="Sisesta steam hex"
          v-model.trim="rpData.steamhex"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="errors.steamHex || whitelistErrors.includes('steamHex')"
          >clear</span
        >
        <small id="steamHexHelp" class="form-text text-muted">
          Hex-i leiad kui külastad
          <a href="http://vacbanned.com/" target="blank"
            >http://vacbanned.com/</a
          >
          lehekülge
        </small>
      </div>

      <h5 aria-describedby="whitelistQuestionsHelp">
        <b>Whitelisti küsimused</b>
      </h5>
      <small id="whitelistQuestionsHelp" class="form-text text-muted pb-4"
        >Enne küsimustele vastamist loe läbi Reeglid</small
      >

      <div
        class="form-group"
        v-for="(question, index) in questions"
        v-bind:key="index"
      >
        <label class="text-dark" :for="'input' + index">{{
          question.label
        }}</label>
        <textarea
          class="form-control"
          :id="'input' + index"
          v-model="questions[index].answer"
        ></textarea>
      </div>
      <appPrimaryButton
        v-bind:label="'Esita'"
        v-bind:cLickPrevent="true"
        v-bind:loading="getLoading"
        v-on:onSubmit="validateAndSubmit"
      ></appPrimaryButton>
    </form>
  </div>
</template>
<script>
import { validationMixin } from "./../../../mixins/validationMixin";
import primaryButton from "./../../parts/buttons/primaryButton";

export default {
  components: {
    appPrimaryButton: primaryButton,
  },
  mixins: [validationMixin],
  data() {
    return {
      userData: {
        email: null,
        password: null,
        passwordAgain: null,
      },
      rpData: {
        characterName: null,
        steamName: null,
        steamhex: null,
      },
      questions: {
        question0: {
          label: "Mis on su Discordi nimi?",
          answer: null,
        },
        question1: {
          label:
            "Kas olete varem mänginud mõnes FiveM RP serveris? Kui olete siis millis(t)es serveris.",
          answer: null,
        },
        question2: {
          label:
            "Kirjeldage oma plaani, mida hakkate oma karakteriga Tallinn RP serveris tegema.",
          answer: null,
        },
        question3: {
          label:
            "Sõidate mööda Vespucci puiesteed ning märkate kuidas 3 politseinikkut sihvad oma relvadega ühte seisvat sõidukit. Kuidas käitub teie karakter?",
          answer: null,
        },
        question4: {
          label: "Kui teid sihitakse relvaga siis mida teie karakter teeb?",
          answer: null,
        },
        question5: {
          label:
            "Mis juhtub teiega, kui olete haavatud ning jooksete verest tühjaks ehk siis kiirabi teid ei elusta?",
          answer: null,
        },
        question6: {
          label:
            "Seletage lahti oma sõnadega mida tähendab metagaming? Tooge selle kohta üks näide.",
          answer: null,
        },
        question7: {
          label: "Millal on teil kohustus tasuda automaksu?",
          answer: null,
        },
        question8: {
          label:
            "Mitut politseinikut on tarvis, et röövida teist mängijat? Mitut politeinikut on tarvis, et röövida NPC-lt asju?",
          answer: null,
        },
        question9: {
          label: "Kellel on lubatud kasutada raadiosaatjat?",
          answer: null,
        },
        question10: {
          label: "Kas discordi on lubatud kasutada raadiosaatjana?",
          answer: null,
        },
        question11: {
          label:
            "Seletage lahti oma sõnadega mida tähendab copbait ja tooge selle kohta üks näide.",
          answer: null,
        },
      },
      errors: {
        count: 0,
        email: false,
        password: false,
        passwordAgain: false,
        characterName: false,
        steamName: false,
        steamHex: false,
      },
      submitted: false,
    };
  },
  methods: {
    isPasswordValid() {
      if (this.userData.password == null || this.userData.password.length < 6) {
        return false;
      }

      return true;
    },
    isValidCharacterName() {
      if (
        this.rpData.characterName == null ||
        this.rpData.characterName.length < 5
      ) {
        return false;
      }

      return true;
    },
    isSteamNameValid() {
      if (this.rpData.steamName == null || this.rpData.steamName.length < 2) {
        return false;
      }

      return true;
    },
    isSteamhexValid() {
      let re = /^[0-9A-Fa-f]+$/;
      if (!re.test(this.rpData.steamhex)) {
        console.log("hex invalid");
        return false;
      }

      return true;
    },
    restartErrors() {
      this.errors.count = 0;
      this.errors.email = false;
      this.errors.password = false;
      this.errors.passwordAgain = false;
      this.errors.characterName = false;
      this.errors.steamName = false;
      this.errors.steamHex = false;
    },
    validateAndSubmit() {
      this.restartErrors();
      if (!this.isValidEmail(this.userData.email)) {
        this.errors.count++;
        this.errors.email = true;
      }
      if (!this.isPasswordValid()) {
        this.errors.count++;
        this.errors.password = true;
        this.userData.password = null;
      }
      if (this.userData.password !== this.userData.passwordAgain) {
        this.errors.count++;
        this.errors.password = true;
        this.errors.passwordAgain = true;
        this.userData.password = null;
        this.userData.passwordAgain = null;
      }
      if (!this.isValidCharacterName()) {
        this.errors.count++;
        this.errors.characterName = true;
      }
      if (!this.isSteamNameValid()) {
        this.errors.count++;
        this.errors.steamName = true;
      }
      if (!this.isSteamhexValid()) {
        this.errors.count++;
        this.errors.steamHex = true;
      }

      if (this.errors.count == 0) {
        this.$store.dispatch("signUp", {
          name: "",
          email: this.userData.email,
          password: this.userData.password,
          passwordAgain: this.userData.passwordAgain,
          characterName: this.rpData.characterName,
          steamName: this.rpData.steamName,
          steamHex: this.rpData.steamhex,
          questions: this.questions,
        });
      }
    },
  },
  computed: {
    whitelistErrors() {
      return this.$store.getters.getWhitelistErros;
    },
    isSignUpSuccesful() {
      return this.$store.getters.getSignUpSuccess;
    },
    getLoading() {
      return this.$store.getters.getSignupLoading;
    },
    emailExistError() {
      if (this.whitelistErrors.includes("email")) {
        return true;
      }
      return false;
    },
    hexExistError() {
      if (this.whitelistErrors.includes("steamHex")) {
        return true;
      }
      return false;
    },
  },
};
</script>
<style scoped>
</style>