<template>
  <div>
    <div class="row">
      <app-box>
        <template v-slot:icon>perm_identity</template>
        <template v-slot:cardHeader>Top võlglased</template>
        <template v-slot:content>
          <template
            v-if="!isTopDeptorsLoading || Object.keys(topDeptors).length > 0"
          >
            <div class="row" v-for="(deptor, index) in topDeptors" :key="index">
              <div class="col-6">
                {{ deptor.name }}
              </div>
              <div class="col-6 text-center m-auto">
                {{ deptor.sum }}
              </div>
              <div class="col-12"><hr /></div>
            </div>
          </template>
          <p v-else class="m-auto text-center">Andmete laadimine...</p>
        </template>
      </app-box>
      <app-box>
        <template v-slot:icon>perm_identity</template>
        <template v-slot:cardHeader>Top Meedikud (nädal)</template>
        <template v-slot:content>
          <template
            v-if="
              !isTopAmbulanceWorkersLoading ||
              Object.keys(topWorkers).length > 0
            "
          >
            <router-link
              v-if="
                allowedJobs.includes(getCharacterData.job) ||
                getGodRoles.includes(getLogedInUserRole)
              "
              tag="div"
              class="pointer"
              :to="{ name: 'emsWorkersList' }"
            >
              <div
                class="row"
                v-for="(worker, index) in topWorkers"
                :key="index"
              >
                <div class="col-6">
                  {{ worker.name }}
                </div>
                <div class="col-6 text-center m-auto">
                  {{ worker.count }}
                </div>
                <div class="col-12"><hr /></div>
              </div>
            </router-link>
            <template v-else>
              <div
                class="row"
                v-for="(worker, index) in topWorkers"
                :key="index"
              >
                <div class="col-6">
                  {{ worker.name }}
                </div>
                <div class="col-6 text-center m-auto">
                  {{ worker.count }}
                </div>
                <div class="col-12"><hr /></div>
              </div>
            </template>
          </template>
          <p v-else class="m-auto text-center">Andmete laadimine...</p>
        </template>
      </app-box>
    </div>
    <div class="row">
      <app-box>
        <template v-slot:icon>work</template>
        <template v-slot:cardHeader>Töö Avaldused</template>
        <template v-slot:content>
          <router-link
            v-if="
              allowedJobs.includes(getCharacterData.job) ||
              getGodRoles.includes(getLogedInUserRole)
            "
            :to="{
              name: 'workApplications',
              params: { work: 'ems', type: 'notAccepted' },
            }"
            tag="div"
            class="row pointer"
          >
            <div
              class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
            >
              <div
                class="progress-circle"
                :class="[
                  { over50: getUnchecedJobApplicationsPercent > 49 },
                  'p' + getUnchecedJobApplicationsPercent,
                ]"
              >
                <span
                  >{{ jobApplicationsCounts.unchecked }}/{{
                    jobApplicationsCounts.total
                  }}</span
                >
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div>
            </div>
          </router-link>
          <div v-else class="row">
            <div
              class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
            >
              <div
                class="progress-circle"
                :class="[
                  { over50: getUnchecedJobApplicationsPercent > 49 },
                  'p' + getUnchecedJobApplicationsPercent,
                ]"
              >
                <span
                  >{{ jobApplicationsCounts.unchecked }}/{{
                    jobApplicationsCounts.total
                  }}</span
                >
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </app-box>
      <app-box>
        <template v-slot:icon>work</template>
        <template v-slot:cardHeader>Oodatakse vestlusele</template>
        <template v-slot:content>
          <router-link
            v-if="
              allowedJobs.includes(getCharacterData.job) ||
              getGodRoles.includes(getLogedInUserRole)
            "
            :to="{
              name: 'workApplications',
              params: { work: 'ems', type: 'accepted' },
            }"
            tag="div"
            class="row pointer"
          >
            <div
              class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
            >
              <div
                class="progress-circle"
                :class="[
                  { over50: getWaitingJobApplicationPercent > 49 },
                  'p' + getWaitingJobApplicationPercent,
                ]"
              >
                <span
                  >{{ jobApplicationsCounts.waiting }}/{{
                    jobApplicationsCounts.total
                  }}</span
                >
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div>
            </div>
          </router-link>
          <div v-else class="row">
            <div
              class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
            >
              <div
                class="progress-circle"
                :class="[
                  { over50: getWaitingJobApplicationPercent > 49 },
                  'p' + getWaitingJobApplicationPercent,
                ]"
              >
                <span
                  >{{ jobApplicationsCounts.waiting }}/{{
                    jobApplicationsCounts.total
                  }}</span
                >
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </app-box>
    </div>
  </div>
</template>
<script>
import box from "./../parts/box";
export default {
  components: {
    appBox: box,
  },
  data() {
    return {
      allowedJobs: ["ambulance", "offambulance"],
    };
  },
  computed: {
    topDeptors() {
      return this.$store.getters.getTopAmbulanceDeptors;
    },
    topWorkers() {
      return this.$store.getters.getTopAmbulanceWorkers;
    },
    jobApplicationsCounts() {
      return this.$store.getters.getAmbulanceJobApplicationsCounts;
    },
    getWaitingJobApplicationPercent() {
      return (
        100 -
        Math.round(
          (this.jobApplicationsCounts.waiting /
            this.jobApplicationsCounts.total) *
            100
        )
      );
    },
    getUnchecedJobApplicationsPercent() {
      return (
        100 -
        Math.round(
          (this.jobApplicationsCounts.unchecked /
            this.jobApplicationsCounts.total) *
            100
        )
      );
    },
    isTopDeptorsLoading() {
      return this.$store.getters.isTopAmbulancedeptorsLoading;
    },
    isTopAmbulanceWorkersLoading() {
      return this.$store.getters.isTopAmbulanceWorkersLoading;
    },
    isJobApplicationCountsLoading() {
      return this.$store.getters.isAmbulanceJobApplicationCountsLoading;
    },
    getFirstCharacterId() {
      return this.$store.getters.getCharactesIdentifiers[0];
    },
    getCharacterData() {
      return this.$store.getters.getCharacter(this.getFirstCharacterId);
    },
    getLogedInUserRole() {
      return this.$store.getters.getLogedInUserRoleName;
    },
    getGodRoles() {
      return this.$store.getters.getGodRoles;
    },
  },
  created() {
    if (Object.keys(this.topDeptors).length < 1) {
      this.$store.dispatch(
        "topAmbulanceDeptorsAction",
        this.$store.getters.getToken
      );
    }
    this.$store.dispatch(
      "topAmbulanceWorkersAction",
      this.$store.getters.getToken
    );
    this.$store.dispatch(
      "ambulanceJobApplicationsCountsAction",
      this.$store.getters.getToken
    );
  },
};
</script>
<style scoped>
</style>