<template>
    <div>
        <div v-if="error" class="alert alert-danger" @click="error = !error">
            <div class="alert-icon"><i class="material-icons">error_outline</i></div>Ups, midagi läks ootamatult valesti. Veendu et sul on õigus seda infot näha/tegevust teha.
        </div>
        <template v-if="!isLoading">
            <div v-for="(worker, index) in workers" :key="index" class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-10">
                            <p>{{ worker.firstname }} {{ worker.lastname }} ({{ worker.name }})</p>
                        </div>
                        <div class="col-2" v-if="(allowedJobs.includes(getCharacterData.job) && getCharacterData.jobGrade > 90) || getGodRoles.includes(getWebUserData.roleName)">
                            <button class="btn btn-danger" @click="fireWorker(worker.identifier)">Vallanda</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </template>
        <p class="text-center" v-else>Andmete Laadimine...</p>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            error: false,
            workers: [],
            allowedJobs: ['ambulance', 'offambulance'],
            isLoading: false
        }
    },
    computed: {
         getCharacterData() {
            return this.$store.getters.getCharacterData
        },
        getWebUserData() {
            return this.$store.getters.getWebUserData
        },
        getGodRoles() {
            return this.$store.getters.getGodRoles
        },
    },
    methods: {
        fireWorker(hex) {
            axios.delete(
                'ambulance/fireWorker',
                {
                    params: {workerHex: hex},
                    headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken}
                }
            ).then(response => {
                this.error = false
                this.getworkers()
            }).catch(error => {
                console.log(error)
                this.error = true
            })
        },
        getworkers() {
            this.isLoading = true
            axios.get(
                'ambulance/getAllWorkers',
                {headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken}}
            ).then(response => {
                this.error = false
                this.workers = response.data.workers
                this.isLoading = false
            }).catch(error => {
                console.log(error)
                this.error = true
                this.isLoading = false
            })
        }
    },
    created() {
        this.getworkers()
    }
}
</script>
<style scoped>

</style>