<template>
  <div>
    <h4 class="title" :class="{ 'text-white': getDarkMode }">Minu avaldused</h4>
    <appCharNavBar></appCharNavBar>
    <appWorkApplications />
    <appGangApplications />
    <appAddButton v-bind:menu="addButtonMenu"></appAddButton>
    <appJobsForm />
    <appGangForm @submit="reloadGangApplciations" />
  </div>
</template>
<script>
import charNavBar from "./../parts/user/characterBar";
import addButton from "./../parts/addButton";
import jobForm from "./forms/jobs";
import gangForm from "./forms/gang";
import workApplications from "./components/workApplications";
import gangApplications from "./components/gangApplications";
export default {
  components: {
    appCharNavBar: charNavBar,
    appAddButton: addButton,
    appJobsForm: jobForm,
    appGangForm: gangForm,
    appWorkApplications: workApplications,
    appGangApplications: gangApplications,
  },
  data() {
    return {
      addButtonMenu: [
        {
          to: "#",
          icon: "note_add",
          label: "Tee uus töö avaldus",
          dataToggle: "modal",
          dataTarget: "#workApplicationForm",
        },
        {
          to: "#",
          icon: "note_add",
          label: "Tee uus gangi avaldus",
          dataToggle: "modal",
          dataTarget: "#gangApplicationForm",
        },
      ],
    };
  },
  computed: {
    getActiveCharacterIdendtifier() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    reloadGangApplciations() {
      this.$store.dispatch("getCharacters", this.$store.getters.getToken);
    },
  },
};
</script>
<style scoped>
</style>