<template>
  <div>
    <h6 class="title" :class="{ 'text-white': getDarkMode }">Töö avaldused</h6>
    <div class="row">
      <template v-for="aplication in aplications">
        <appClosedApplication
          v-bind:application="aplication"
          v-bind:isRecruiter="true"
          @changeOpenedApp="changeOpenedAppId"
          v-if="aplication.id !== openedApplicationId"
          :key="'closed' + aplication.id"
        />
        <appOpenedApplication
          v-bind:application="aplication"
          v-bind:isRecruiter="true"
          @changeOpenedApp="changeOpenedAppId"
          @reload="getWorkApplications"
          v-if="aplication.id == openedApplicationId"
          :key="'opened' + aplication.id"
        />
      </template>
    </div>
  </div>
</template>
<script>
import axios from "axios";

import closedApplication from "./components/closedWorkApplication";
import openedApplication from "./components/openedWorkApplication";
export default {
  components: {
    appClosedApplication: closedApplication,
    appOpenedApplication: openedApplication,
  },
  data() {
    return {
      openedApplicationId: null,
      work: null,
      type: null,
      aplications: [],
    };
  },
  methods: {
    changeOpenedAppId(id) {
      this.openedApplicationId = id;
    },
    getWorkApplications() {
      let url = "workApplication/getWorkApplications";
      axios
        .get(url, {
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
          params: {
            work: this.work,
            accepted: this.type == "accepted" ? true : false,
          },
        })
        .then((response) => {
          this.aplications = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  mounted() {
    this.work = this.$route.params.work;
    this.type = this.$route.params.type;
    this.getWorkApplications();
  },
};
</script>