<template>
  <div>
    <appDonationProgress></appDonationProgress>
    <div class="row" id="infoArea" :class="{ 'text-white': getDarkMode }">
      <div class="col-12">
        <h6>Miks sa peaksid annetama ehk siis toetama serverit?</h6>
        <p>
          Annetamine on üks lihtsamaid viise aidata kaasa serveri toimimisele ja
          arenemisele.
        </p>

        <h6>Kuhu läheb sinu annetatud raha?</h6>
        <p>
          Kõige lihtsam vastus on serveri ülalpidamiseks. Tegemist on üsna
          kuluka tegevusega. Keskmisel maksab serveri toimimine ja ülalpidamine
          ~150€. (Serveri host, fivem litsents, teamspeak server, koduleht jpt.)
        </p>

        <h6>Mida toetamine sinule annab?</h6>
        <p>
          Vastavalt toetuse suurusele saad ise valida endale mõne boonuse. Kas
          linna sisenemiseks eelisjärjekorra pileti, mõne vägeva auto mis on
          linnas haruldane jne.
        </p>

        <p>
          <b>NB:</b> annetamine on vabatahtlik ja ei ole kohustuslik, et
          serveris mängida
        </p>
      </div>
    </div>
    <div
      class="row mt-5"
      id="donationData"
      :class="{ 'text-white': getDarkMode }"
    >
      <div class="col-12 col-xl-6">
        <h6>Kingitused:</h6>
        <p>
          Alates 15€ annetusest anname sulle (ühe) kingi. Mida rohkem annetad,
          seda rohkem kinke saad.
        </p>

        <ul class="align-items-center">
          <li>
            <div class="align-middle d-inline-flex">Auto</div>
          </li>
          <li>
            <div class="align-middle d-inline-flex">
              Eelisjärjekord (aste 1, 2 ja 3)
            </div>
          </li>
          <li>
            <div class="align-middle d-inline-flex">Palju muud kokkuleppel</div>
          </li>
        </ul>
      </div>
      <div class="col-12 col-xl-6">
        <h6>Toetamiseks vajalikud andmed:</h6>
        <ul class="text-justify">
          <li>SWED: EE032200001109454323 / SEB: EE031010010204635015</li>
          <li>Saaja: MARGUS ROOTS</li>
          <li>Selgitusse märkida: "{{ getExplanation }}"</li>
        </ul>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-4 col-xl-2 text-center mt-5 m-md-auto">
        <a
          href="https://www.lhv.ee/"
          target="blank"
          @click="showDonatinButton = true"
        >
          <img
            class="logo"
            src="../../assets/img/bank_logos/lhv-logo.svg"
            alt="LHV Bank"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-2 text-center mt-5 m-md-auto">
        <a
          href="https://www.swedbank.ee/"
          target="blank"
          @click="showDonatinButton = true"
        >
          <img
            class="logo"
            src="../../assets/img/bank_logos/swedbank.png"
            alt="Swedbank"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-2 text-center mt-0 m-md-auto">
        <a
          href="https://www.seb.ee/"
          target="blank"
          @click="showDonatinButton = true"
        >
          <img
            class="logo"
            :class="{ 'text-white': getDarkMode }"
            src="../../assets/img/bank_logos/seb_logotype_rgb.svg"
            alt="SEB"
          />
        </a>
      </div>
      <div
        class="col-12 col-md-4 col-xl-2 text-center mt-0 mb-4 ml-3 m-md-auto ml-xl-0"
      >
        <a
          href="https://www.luminor.ee/"
          target="blank"
          @click="showDonatinButton = true"
        >
          <img
            class="logo"
            src="../../assets/img/bank_logos/luminor-logo.svg"
            alt="Luminor"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 col-xl-2 text-center mt-5 m-md-auto">
        <a
          href="https://www.cooppank.ee/"
          target="blank"
          @click="showDonatinButton = true"
        >
          <img
            class="logo"
            src="../../assets/img/bank_logos/coop.svg"
            alt="Coop pank"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 d-xl-none text-center mt-5 m-md-auto">
        <a
          href="https://www.paypal.me/vjroots"
          target="blank"
          @click="showDonatinButton = true"
        >
          <img
            class="logo ml-3"
            style="height: 60px"
            src="../../assets/img/bank_logos/1280px-PayPal.svg.png"
            alt="paypal"
          />
        </a>
      </div>
      <div class="d-none d-xl-inline-block text-center m-md-auto">
        <a href="https://www.paypal.me/vjroots" target="blank">
          <img
            class="logo ml-3"
            style="height: 60px"
            src="../../assets/img/bank_logos/paypal.png"
            alt="paypal"
          />
        </a>
      </div>
    </div>
    <div class="row mb-3">
      <div
        class="col-12 col-xl-10 m-xl-auto mt-5 mb-5 alert alert-success rounded-borders"
        v-if="isSuccess"
      >
        <div class="alert-icon">
          <i class="material-icons">check</i>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">
            <i class="material-icons">clear</i>
          </span>
        </button>
        <b>Meeskonda on edukalt teavitatud</b>
      </div>
      <div
        class="col-12 col-xl-10 m-xl-auto mt-5 mb-5 alert alert-danger rounded-borders"
        v-if="isError"
      >
        <div class="alert-icon">
          <i class="material-icons">error_outline</i>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">
            <i class="material-icons">clear</i>
          </span>
        </button>
        <b
          >Meeskonda teavoitamine ebaõnnestus. Proovi uuesti või võta
          meeskonnaga ühendust discordi kaudu</b
        >
      </div>
    </div>
    <div
      class="row mt-5 ml-sm-1 ml-xl-0 text-xl-center"
      v-if="showDonatinButton"
    >
      <div class="col-12 col-xl-4" :class="{ 'text-white': getDarkMode }">
        <appCheckbox
          v-bind:label="'Sõiduk'"
          v-bind:value="'sõiduk'"
          v-on:onCheck="setVehicle"
        ></appCheckbox>
      </div>
      <div class="col-12 col-xl-4">
        <appCheckbox
          v-bind:label="'Eelisjärjekord'"
          v-bind:value="'eelisjärjekord'"
          v-on:onCheck="setPrio"
        ></appCheckbox>
      </div>
      <div class="col-12 col-xl-4">
        <appCheckbox
          v-bind:label="'Muu'"
          v-bind:value="'muu'"
          v-on:onCheck="setOther"
        ></appCheckbox>
      </div>
    </div>
    <div class="row mt-xl-2" v-if="showDonatinButton">
      <button
        class="btn btn-primary mt-3 ml-md-3 col-12 col-xl-10 m-xl-auto ld-over-full"
        :class="{ running: isLoading }"
        style="white-space: normal"
        :data-toggle="'modal'"
        :data-target="'#notifyAboutDonation'"
      >
        Anna oma annetusest teada meeskonnale
        <div class="ld ld-ring ld-spin"></div>
      </button>
      <span class="col-12 small text-center"
        >Enne nupule vajutust teosta makse, muidu make selgitus muutub</span
      >
    </div>
    <appModal
      v-bind:label="'notifyAboutDonationLabel'"
      v-bind:id="'notifyAboutDonation'"
    >
      <template v-slot:header>
        <h5 class="modal-title text-rose">Kinnita tegevus</h5>
      </template>
      <template v-slot:body>
        <p>
          Enne annetuset teada andmist tuleb teostada makse. Kas sul on makse
          teostatud?
        </p>
      </template>
      <template v-slot:footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Sulge
        </button>
        <button
          type="button"
          class="btn btn-primary ld-over-full"
          :class="{ running: isLoading }"
          @click="storeDonation()"
          data-dismiss="modal"
        >
          Kinnita
          <div class="ld ld-ring ld-spin"></div>
        </button>
      </template>
    </appModal>
  </div>
</template>
<script>
import axios from "axios";
import donationProgress from "./parts/donationProgres";
import checkbox from "./parts/forms/smallComponents/checkbox";
import modal from "./../parts/modal";
export default {
  components: {
    appDonationProgress: donationProgress,
    appCheckbox: checkbox,
    appModal: modal,
  },
  data() {
    return {
      showDonatinButton: false,
      donationNr: null,
      isLoading: false,
      isSuccess: false,
      isError: false,
      checkboxes: {
        vehicle: false,
        prio: false,
        other: false,
      },
    };
  },
  computed: {
    getExplanation() {
      return this.$store.getters.getWebUserData.email + " #" + this.donationNr;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    storeDonation() {
      this.isLoading = true;
      axios
        .post(
          "auth/user/donation",
          {
            explanation: this.getExplanation,
            donationNumber: this.donationNr,
            gifts: {
              vehicle: this.checkboxes.vehicle,
              prio: this.checkboxes.prio,
              other: this.checkboxes.other,
            },
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then(() => {
          this.isLoading = false;
          this.isSuccess = true;
          this.isError = false;
          this.generateDonationNumber();
          this.showDonatinButton = false;
        })
        .catch((error) => {
          this.isLoading = false;
          this.isError = true;
          this.isSuccess = false;
          console.log(error);
        });
    },
    generateDonationNumber() {
      this.donationNr = Math.floor(Math.random() * 99999) + 10000;
      axios
        .get("auth/user/isDonationNumberExist", {
          params: { donationNumber: this.donationNr },
          headers: {
            Authorization: "Bearer " + this.$store.getters.getToken,
          },
        })
        .then((response) => {
          if (response.data.exist) {
            this.generateDonationNumber();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    setVehicle() {
      this.checkboxes.vehicle = !this.checkboxes.vehicle;
    },
    setPrio() {
      this.checkboxes.prio = !this.checkboxes.prio;
    },
    setOther() {
      this.checkboxes.other = !this.checkboxes.other;
    },
  },
  created() {
    this.generateDonationNumber();
  },
};
</script>
<style scoped>
.logo {
  max-width: 300px;
  max-height: 200px;
}
.rounded-borders {
  border-radius: 10px;
}
</style>