<template>
    <appServerRules></appServerRules>
</template>
<script>
import serverRules from './../parts/serverRules'
export default {
    components: {
        appServerRules: serverRules
    }
}
</script>