<template>
  <div>
    <h4>Töö avaldused</h4>
    <p v-if="isLoading" class="text-center">Andmete Laadimine ...</p>
    <div class="row" v-else>
      <template v-for="(application, index) in workApplications">
        <template v-if="!openedApp">
          <div class="col-12 col-md-6 col-lg-4" :key="application.id">
            <div class="card pointer" @click="openApp(application.id)">
              <div class="card-header card-header-primary">
                <h4
                  class="card-title"
                >{{ application.user.firstname }} {{ application.user.lastname }}</h4>
                <p class="category">{{ application.id }}</p>
              </div>
              <div class="card-body">
                <p>
                  <strong>
                    <b>Praegune töökoht:</b>
                  </strong>
                  {{ application.user.job.label }}
                </p>
              </div>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="col-12" :key="application.id" v-if="application.id == openedApp">
            <div class="card">
              <div
                class="card-header card-header-primary clickable"
                @click="openApp(application.id)"
              >
                <h4 class="card-title">{{ (application.job == 'police') ? 'Politsei' : 'Kiirabi' }}</h4>
                <p class="category">{{ application.id }}</p>
              </div>
              <div class="card-body">
                <p>
                  <strong>
                    <b>Praegune töökoht:</b>
                  </strong>
                  {{ application.user.job.label }}
                </p>

                <hr />
                <div v-for="(answer, index) in JSON.parse(application.answers)" :key="index">
                  <p>
                    <strong>
                      <b>{{ answer.label }}:</b>
                    </strong>
                  </p>
                  <p>{{ answer.answer }}</p>
                  <hr />
                </div>
                <appSuccessButton
                  v-bind:label="'Võta vastu'"
                  v-bind:loading="submitted"
                  v-bind:disabled="submitted"
                  v-on:onSubmit="accept(application.id, index)"
                />
                <appRoseButton
                  v-bind:label="'Lükka tagasi'"
                  v-bind:loading="submitted"
                  v-bind:disabled="submitted"
                  v-on:onSubmit="reject(application.id, index)"
                />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4" :key="application.id" v-else>
            <div class="card clickable" @click="openApp(application.id)">
              <div class="card-header card-header-primary">
                <h4 class="card-title">{{ (application.job == 'police') ? 'Politsei' : 'Kiirabi' }}</h4>
                <p class="category">{{ application.id }}</p>
              </div>
              <div class="card-body">
                <p>
                  <strong>
                    <b>Praegune töökoht:</b>
                  </strong>
                  {{ application.user.job.label }}
                </p>
              </div>
            </div>
          </div>
        </template>
      </template>
    </div>
  </div>
</template>
<script>
import axios from "axios";

import successButton from "./../parts/buttons/successButton";
import roseButton from "./../parts/buttons/roseButton";

export default {
  components: {
    appRoseButton: roseButton,
    appSuccessButton: successButton,
  },
  data() {
    return {
      isLoading: false,
      submitted: false,
      workApplications: null,
      openedApp: null,
    };
  },
  methods: {
    getWorkApplications(work, accepted) {
      this.isLoading = true;
      axios
        .get("workApplication/getWorkApplications", {
          params: {
            work: work,
            accepted: accepted,
          },
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.workApplications = response.data;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.isLoading = false;
        });
    },
    getType(type) {
      if (type == "accepted") {
        return true;
      }

      return false;
    },
    openApp(id) {
      if (id == this.openedApp) {
        this.openedApp = null;
      } else {
        this.openedApp = id;
      }
    },
    accept(id, index) {
      this.submitted = true;
      axios
        .put(
          "workApplication/accept",
          { id: id },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.workApplications.splice(index, 1);
          this.submitted = false;
        })
        .catch((error) => {
          console.log(error);
          this.submitted = false;
        });
    },
    reject(id, index) {
      this.submitted = true;
      axios
        .put(
          "workApplication/reject",
          { id: id },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.workApplications.splice(index, 1);
          this.submitted = false;
        })
        .catch((error) => {
          console.log(error);
          this.submitted = false;
        });
    },
  },
  watch: {
    "$route.params.work"(work) {
      if (!this.isLoading) {
        this.getWorkApplications(work, this.getType(this.$route.params.type));
      }
    },
    "$route.params.type"(type) {
      if (!this.isLoading) {
        this.getWorkApplications(this.$route.params.work, this.getType(type));
      }
    },
  },
  created() {
    this.getWorkApplications(
      this.$route.params.work,
      this.getType(this.$route.params.type)
    );
  },
};
</script>