<template>
  <div>
    <div class="row">
      <app-box>
        <template v-slot:icon>person_add</template>
        <template v-slot:cardHeader>Whitelist avaludsed</template>
        <template v-slot:content>
          <router-link :to="{ name: 'adminWhitelistList' }">
            <div class="row">
              <div
                class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
              >
                <div
                  class="progress-circle"
                  :class="[
                    { over50: whitelistCounts.waitingInPercent > 49 },
                    'p' + whitelistCounts.waitingInPercent,
                  ]"
                >
                  <span
                    >{{ whitelistCounts.waiting }}/{{
                      whitelistCounts.total
                    }}</span
                  >
                  <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </template>
      </app-box>
      <app-box>
        <template v-slot:icon>person_add</template>
        <template v-slot:cardHeader>Prio queue</template>
        <template v-slot:content>
          <router-link :to="{ name: 'adminPrioList' }">
            <div class="row">
              <div
                class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
              >
                <div
                  class="progress-circle"
                  :class="[
                    { over50: prioListCounts.expiredInPercent > 49 },
                    'p' + prioListCounts.expiredInPercent,
                  ]"
                >
                  <span
                    >{{ prioListCounts.expired }}/{{
                      prioListCounts.total
                    }}</span
                  >
                  <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </template>
      </app-box>
    </div>
    <div class="row">
      <app-box>
        <template v-slot:icon>monetization_on</template>
        <template v-slot:cardHeader>Annetused</template>
        <template v-slot:content>
          <router-link :to="{ name: 'adminDonations' }">
            <div class="row">
              <div
                class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
              >
                <div
                  class="progress-circle"
                  :class="[
                    { over50: getDonationPercentage > 49 },
                    'p' + getDonationPercentage,
                  ]"
                >
                  <span
                    >{{ getDonationSums.sum }}/{{ getDonationSums.goal }}</span
                  >
                  <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </template>
      </app-box>
      <app-box>
        <template v-slot:icon>group_work</template>
        <template v-slot:cardHeader>Grupeeringu Avaldused</template>
        <template v-slot:content>
          <router-link :to="{ name: 'adminGangApplications' }">
            <div class="row">
              <div
                class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
              >
                <div
                  class="progress-circle"
                  :class="[
                    { over50: getGangPrecent > 49 },
                    'p' + getGangPrecent,
                  ]"
                >
                  <span
                    >{{ getGangCounts.waiting }}/{{ getGangCounts.total }}</span
                  >
                  <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </template>
      </app-box>
    </div>
    <appAddButton v-bind:menu="addButtonMenu"></appAddButton>
  </div>
</template>
<script>
import axios from "axios";
import box from "./../parts/box";
import addButton from "./../parts/addButton";
export default {
  components: {
    appBox: box,
    appAddButton: addButton,
  },
  data() {
    return {
      whitelistCounts: {
        total: null,
        waiting: null,
        waitingInPercent: null,
        dealthPercent: 0,
      },
      prioListCounts: {
        total: null,
        expired: null,
        expiredInPercent: null,
      },
    };
  },
  computed: {
    addButtonMenu() {
      return [
        {
          to: { name: "changeRules" },
          icon: "note_add",
          label: "Lisa/muuda reegleid",
        },
        {
          to: { name: "changeInfo" },
          icon: "note_add",
          label: "Lisa/muuda infot",
        },
      ];
    },
    getDonationSums() {
      return this.$store.getters.getSum;
    },
    getDonationPercentage() {
      return this.$store.getters.getDonationPercentage;
    },
    getGangCounts() {
      return this.$store.getters.getGangCounts;
    },
    getGangPrecent() {
      return (this.getGangCounts.waiting / this.getGangCounts.total) * 100;
    },
  },
  created() {
    // get whitelist counts
    axios
      .get("admin/whitelist/getCount", {
        headers: { Authorization: "Bearer " + this.$store.getters.getToken },
      })
      .then((response) => {
        this.whitelistCounts.total = response.data.total;
        this.whitelistCounts.waiting = response.data.waiting;
        this.whitelistCounts.waitingInPercent =
          (response.data.waiting / response.data.total) * 100;
        this.whitelistCounts.dealthPercent = Math.round(
          100 - this.whitelistCounts.waitingInPercent
        );
      })
      .catch((error) => {
        console.log(error);
      });
    // get priority list counts
    axios
      .get("admin/priority/getCounts", {
        headers: { Authorization: "Bearer " + this.$store.getters.getToken },
      })
      .then((response) => {
        this.prioListCounts.total = response.data.total;
        this.prioListCounts.expired = response.data.expired;
        this.prioListCounts.expiredInPercent =
          (response.data.expired / response.data.total) * 100;
      })
      .catch((error) => {
        console.log(error);
      });
    this.$store.dispatch("getSum", this.$store.getters.getToken);
    this.$store.dispatch("counts", this.$store.getters.getToken);
  },
};
</script>
<style scoped>
</style>