<template>
  <div :class="{ 'text-white': getDarkMode }">
    <h4>
      <strong>Annetuste nimekiri</strong>
    </h4>
    <app-donation-progres></app-donation-progres>
    <app-pending></app-pending>

    <app-waiting></app-waiting>

    <app-confirmed></app-confirmed>

    <app-add-button v-bind:menu="addButtonMenu"></app-add-button>
    <app-modal
      v-bind:ariaLabel="'updateDonationGoalLabel'"
      v-bind:id="'updateDonationGoal'"
    >
      <template v-slot:header>
        <h5 class="modal-title">
          <strong>Muuda annetuste eesmärgi summat</strong>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </template>
      <template v-slot:body>
        <div
          v-if="updateStatus.success"
          class="alert alert-success"
          @click="updateStatus.success = !updateStatus.success"
        >
          <div class="alert-icon">
            <i class="material-icons">check</i>
          </div>
          uuendatud
        </div>
        <div
          v-if="updateStatus.error"
          class="alert alert-danger"
          @click="updateStatus.error = !updateStatus.error"
        >
          <div class="alert-icon">
            <i class="material-icons">error_outline</i>
          </div>
          Ups, midagi läks ootamatult valesti. Proovi hiljem uuesti.
        </div>
        <input
          type="number"
          class="form-control"
          :class="{ 'text-white': getDarkMode }"
          placeholder="summa"
          v-model="updatedGoalAmount"
        />
      </template>
      <template v-slot:footer>
        <appModalCloseButton />
        <appPrimaryButton
          v-bind:label="'Salvesta'"
          v-bind:loading="updateGoalLoading"
          v-on:onSubmit="updateGoal"
        />
      </template>
    </app-modal>
  </div>
</template>
<script>
import axios from "axios";
import pending from "./parts/donations/pending.vue";
import waiting from "./parts/donations/waitingGifts.vue";
import confirmed from "./parts/donations/confimed.vue";
import addButton from "./../parts/addButton";
import modal from "./../../parts/modal";
import progresBar from "../parts/donationProgres";
import modalCloseButton from "./../../parts/buttons/modalCloseButton";
import primaryButton from "./../../parts/buttons/primaryButton";
export default {
  components: {
    appPending: pending,
    appWaiting: waiting,
    appConfirmed: confirmed,
    appAddButton: addButton,
    appModal: modal,
    appDonationProgres: progresBar,
    appPrimaryButton: primaryButton,
    appModalCloseButton: modalCloseButton,
  },
  data() {
    return {
      updatedGoalAmount: null,
      updateGoalLoading: false,
      updateStatus: {
        success: false,
        error: false,
      },
      addButtonMenu: [
        {
          to: "#",
          icon: "note_add",
          label: "Muuda annetuse eesmärgi summat",
          dataToggle: "modal",
          dataTarget: "#updateDonationGoal",
        },
      ],
    };
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    updateGoal() {
      this.updateGoalLoading = true;
      axios
        .post(
          "admin/donation/updateGoal",
          { amount: this.updatedGoalAmount },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then(() => {
          this.updateStatus.success = true;
          this.updateStatus.error = false;
          this.$store.dispatch("getSum", this.$store.getters.getToken);
          this.updateGoalLoading = false;
        })
        .catch((error) => {
          this.updateStatus.success = false;
          this.updateStatus.error = true;
          this.updateGoalLoading = false;
        });
    },
  },
};
</script>
<style scoped>
</style>