<template>
  <div>
    <h6 class="title" :class="{ 'text-white': getDarkMode }">
      Grupeeringu avaldused
    </h6>
    <div
      class="text-center"
      :class="{ 'text-white': getDarkMode }"
      v-if="getLoading"
    >
      Andmete laadimine ...
    </div>
    <div class="row">
      <template v-for="application in getGangApplications">
        <appClosedApplication
          v-bind:application="application"
          @changeOpenedApp="changeOpenedAppId"
          v-if="application.id !== openedApplicationId"
          :key="'closed' + application.id"
        />
        <appOpenedApplication
          v-bind:application="application"
          v-bind:isRecruiter="true"
          @changeOpenedApp="changeOpenedAppId"
          @reload="loadApplications"
          v-if="application.id == openedApplicationId"
          :key="'opened' + application.id"
        />
      </template>
    </div>
  </div>
</template>
<script>
import closedApplication from "./../applications/components/closedGangApplication";
import openedApplication from "./../applications/components/openedGangApplication";

export default {
  components: {
    appClosedApplication: closedApplication,
    appOpenedApplication: openedApplication,
  },
  data() {
    return {
      openedApplicationId: null,
    };
  },
  computed: {
    getLoading() {
      return this.$store.getters.getGangApplicationsLoading;
    },
    getGangApplications() {
      return this.$store.getters.getGangApplications;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    changeOpenedAppId(id) {
      this.openedApplicationId = id;
    },
    loadApplications() {
      this.$store.dispatch("gangApplications", this.$store.getters.getToken);
    },
  },
  created() {
    this.loadApplications();
  },
};
</script>