<template>
  <div :class="{ 'text-white': getDarkMode }">
    <h4><strong>Lisa ja muuda infot</strong></h4>
    <form id="addNewRule">
      <div
        v-if="newInfoSuccess"
        class="alert alert-success"
        @click="newInfoSuccess = !newInfoSuccess"
      >
        <div class="alert-icon"><i class="material-icons">check</i></div>
        Salvestatud
      </div>
      <div
        v-if="newInfoError"
        class="alert alert-danger"
        @click="newInfoError = !newInfoError"
      >
        <div class="alert-icon">
          <i class="material-icons">error_outline</i>
        </div>
        Ups, midagi läks ootamatult valesti.
      </div>
      <textarea
        rows="3"
        placeholder="Sisesta siia uus info"
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        v-model="newInfo"
      ></textarea>
      <input
        type="text"
        placeholder="Sisesta uus või otsi olemasoelvat kategooriat"
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        v-model="newCategory"
      />
      <template v-if="searchResults.length > 0">
        <div class="mt-3 mb-3">
          <p><b>Otsinug tulemused:</b></p>
          <div
            class="row pointer"
            v-for="result in searchResults"
            :key="result.id"
            @click="
              newCategory = result.name;
              searchResults = [];
            "
          >
            <div class="col-12">
              {{ result.name }}
            </div>
          </div>
          <hr />
        </div>
      </template>
      <appPrimaryButton
        v-bind:label="'Salvesta'"
        v-bind:loading="newInfoLoading"
        v-bind:cLickPrevent="true"
        v-on:onSubmit="addInfo"
      />
    </form>
    <hr />
    <div class="row">
      <div class="col-8">
        <p>Info</p>
      </div>
      <div class="col-4">
        <p>Kategooria</p>
      </div>
    </div>
    <template class="row" v-for="(info, index) in getInfo">
      <appInfo v-bind:info="info" v-bind:index="index" :key="info.id"></appInfo>
    </template>
  </div>
</template>
<script>
import axios from "axios";
import info from "./parts/info";
import primaryButton from "./../../parts/buttons/primaryButton";

export default {
  components: {
    appInfo: info,
    appPrimaryButton: primaryButton,
  },
  data() {
    return {
      newInfo: "",
      newCategory: "",
      newInfoLoading: false,
      newInfoSuccess: false,
      newInfoError: false,
      searchResults: [],
    };
  },
  methods: {
    addInfo() {
      this.newInfoLoading = true;
      axios
        .post(
          "admin/info/add",
          { info: this.newInfo, category: this.newCategory },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.$store.dispatch("getInfo", this.$store.getters.getToken);
          this.newInfoLoading = false;
          this.newInfoSuccess = true;
          this.newInfoError = false;
          this.newInfo = "";
          this.newCategory = "";
        })
        .catch((error) => {
          console.log(error);
          this.newInfoLoading = false;
          this.newInfoSuccess = false;
          this.newInfoError = true;
        });
    },
  },
  computed: {
    getInfo() {
      return this.$store.getters.getInfo;
    },
    isInfoLoading() {
      return this.$store.getters.isInfoLoading;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  created() {
    this.$store.dispatch("getInfo", this.$store.getters.getToken);
  },
  watch: {
    newCategory(keyword) {
      if (keyword.length > 2) {
        axios
          .get("admin/info/searchCategory", {
            params: { keyword: keyword },
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          })
          .then((response) => {
            this.searchResults = response.data.results;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
<style scoped>
</style>