<template>
  <div :class="{ 'text-white': getDarkMode }">
    <h4><strong>Priority queue list</strong></h4>

    <h5 class="text-danger"><strong>Aegunud:</strong></h5>
    <div class="row d-none d-lg-flex">
      <div class="col-3">
        <p><b>Nimi:</b></p>
      </div>
      <div class="col-12 col-lg-3">
        <p><b>email:</b></p>
      </div>
      <div class="col-12 col-lg-1">
        <p><b>Level:</b></p>
      </div>
      <div class="col-12 col-lg-2">
        <p><b>Lõpp:</b></p>
      </div>
      <div class="col-12 col-lg-3">
        <p><b>tegevused:</b></p>
      </div>
      <hr class="col-12" />
    </div>
    <div class="row" v-for="prio in prioList.expired" :key="prio.id">
      <div class="col-3">
        <p class="d-lg-none"><b>Nimi:</b></p>
        {{ prio.web_user.name }}
      </div>
      <div class="col-12 col-lg-3">
        <p class="d-lg-none"><b>Email:</b></p>
        {{ prio.web_user.email }}
      </div>
      <div class="col-12 col-lg-1">
        <p class="d-lg-none"><b>Level:</b></p>
        {{ prio.power }}
      </div>
      <div class="col-12 col-lg-2">
        <p class="d-lg-none"><b>Lõpp:</b></p>
        {{ prio.end_date }}
      </div>
      <div class="col-12 col-lg-3">
        <button
          class="btn btn-primary"
          data-toggle="modal"
          :data-target="'#updatePrioFormModal' + prio.id"
        >
          Muuda
        </button>
        <button class="btn btn-danger" @click="deletePrio(prio.id)">
          Eemalda
        </button>
      </div>
      <appPrioModal
        v-on:reload="loadPriorityList"
        v-bind:modalId="'updatePrioFormModal' + prio.id"
        v-bind:queueClientData="prio"
      ></appPrioModal>
      <hr class="col-12" />
    </div>

    <h5 class="text-warning"><strong>Aegumas:</strong></h5>
    <div class="row d-none d-lg-flex">
      <div class="col-3">
        <p><b>Nimi:</b></p>
      </div>
      <div class="col-12 col-lg-3">
        <p><b>Email:</b></p>
      </div>
      <div class="col-12 col-lg-1">
        <p><b>Level:</b></p>
      </div>
      <div class="col-12 col-lg-2">
        <p><b>Lõpp:</b></p>
      </div>
      <div class="col-12 col-lg-3">
        <p><b>tegevused:</b></p>
      </div>
      <hr class="col-12" />
    </div>
    <div class="row" v-for="prio in prioList.expiring" :key="prio.id">
      <div class="col-3">
        <p class="d-lg-none"><b>Nimi:</b></p>
        {{ prio.web_user.name }}
      </div>
      <div class="col-12 col-lg-3">
        <p class="d-lg-none"><b>Email:</b></p>
        {{ prio.web_user.email }}
      </div>
      <div class="col-12 col-lg-1">
        <p class="d-lg-none"><b>Level:</b></p>
        {{ prio.power }}
      </div>
      <div class="col-12 col-lg-2">
        <p class="d-lg-none"><b>Lõpp:</b></p>
        {{ prio.end_date }}
      </div>
      <div class="col-12 col-lg-3">
        <button
          class="btn btn-primary"
          data-toggle="modal"
          :data-target="'#updatePrioFormModal' + prio.id"
        >
          Muuda
        </button>
        <button class="btn btn-danger" @click="deletePrio(prio.id)">
          Eemalda
        </button>
      </div>
      <appPrioModal
        v-on:reload="loadPriorityList"
        v-bind:modalId="'updatePrioFormModal' + prio.id"
        v-bind:queueClientData="prio"
      ></appPrioModal>
      <hr class="col-12" />
    </div>

    <h5 class="text-success"><strong>Probleemideta:</strong></h5>
    <div class="row d-none d-lg-flex">
      <div class="col-3">
        <p><b>Nimi:</b></p>
      </div>
      <div class="col-12 col-lg-3">
        <p><b>Email:</b></p>
      </div>
      <div class="col-12 col-lg-1">
        <p><b>Level:</b></p>
      </div>
      <div class="col-12 col-lg-2">
        <p><b>Lõpp:</b></p>
      </div>
      <div class="col-12 col-lg-3">
        <p><b>tegevused:</b></p>
      </div>
      <hr class="col-12" />
    </div>
    <div class="row" v-for="prio in prioList.existing" :key="prio.id">
      <div class="col-3">
        <p class="d-lg-none"><b>Nimi:</b></p>
        {{ prio.web_user.name }}
      </div>
      <div class="col-12 col-lg-3">
        <p class="d-lg-none"><b>Email:</b></p>
        {{ prio.web_user.email }}
      </div>
      <div class="col-12 col-lg-1">
        <p class="d-lg-none"><b>Level:</b></p>
        {{ prio.power }}
      </div>
      <div class="col-12 col-lg-2">
        <p class="d-lg-none"><b>Lõpp:</b></p>
        {{ prio.end_date }}
      </div>
      <div class="col-12 col-lg-3">
        <button
          class="btn btn-primary"
          data-toggle="modal"
          :data-target="'#updatePrioFormModal' + prio.id"
        >
          Muuda
        </button>
        <button class="btn btn-danger" @click="deletePrio(prio.id)">
          Eemalda
        </button>
      </div>
      <appPrioModal
        v-on:reload="loadPriorityList"
        v-bind:modalId="'updatePrioFormModal' + prio.id"
        v-bind:queueClientData="prio"
      ></appPrioModal>
      <hr class="col-12" />
    </div>
    <appAddButton v-bind:menu="addButtonMenu"></appAddButton>
    <appPrioModal
      v-on:reload="loadPriorityList"
      v-bind:modalId="'addPrioFormModal'"
      v-bind:queueClientData="null"
    ></appPrioModal>
  </div>
</template>
<script>
import axios from "axios";
import addButton from "./../parts/addButton";
import prioModal from "./parts/queue/modal";

export default {
  components: {
    appAddButton: addButton,
    appPrioModal: prioModal,
  },
  data() {
    return {
      prioList: [],
      loading: false,
    };
  },
  computed: {
    addButtonMenu() {
      return [
        {
          to: "#",
          icon: "note_add",
          label: "Lisa isik priosse",
          dataToggle: "modal",
          dataTarget: "#addPrioFormModal",
        },
      ];
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    loadPriorityList() {
      this.loading = true;
      axios
        .get("admin/priority/getList", {
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.prioList = response.data;
          console.log(this.prioList);
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
        });
    },
    deletePrio(id) {
      this.loading = true;
      axios
        .delete("admin/priority/delete", {
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
          data: { id: id },
        })
        .then((response) => {
          this.loadPriorityList();
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
        });
    },
  },
  created() {
    this.loadPriorityList();
  },
};
</script>