<template>
  <div :class="{ 'text-white': getDarkMode }">
    <h4><strong>Lisa ja muuda reegleid</strong></h4>
    <form id="addNewRule">
      <div
        v-if="newRuleSuccess"
        class="alert alert-success"
        @click="newRuleSuccess = !newRuleSuccess"
      >
        <div class="alert-icon"><i class="material-icons">check</i></div>
        Salvestatud
      </div>
      <div
        v-if="newRuleError"
        class="alert alert-danger"
        @click="newRuleError = !newRuleError"
      >
        <div class="alert-icon">
          <i class="material-icons">error_outline</i>
        </div>
        Ups, midagi läks ootamatult valesti.
      </div>
      <textarea
        rows="3"
        placeholder="Sisesta siia uus reegel"
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        v-model="newRule"
      ></textarea>
      <input
        type="text"
        placeholder="Sisesta uus või otsi olemasoelvat kategooriat"
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        v-model="newCategory"
      />
      <template v-if="searchResults.length > 0">
        <div class="mt-3 mb-3">
          <p><b>Otsinug tulemused:</b></p>
          <div
            class="row pointer"
            v-for="result in searchResults"
            :key="result.id"
            @click="
              newCategory = result.name;
              searchResults = [];
            "
          >
            <div class="col-12">
              {{ result.name }}
            </div>
          </div>
          <hr />
        </div>
      </template>
      <appPrimaryButton
        v-bind:label="'Salvesta'"
        v-bind:loading="newRuleLoading"
        v-bind:cLickPrevent="true"
        v-on:onSubmit="addRule"
      />
    </form>
    <hr />
    <div class="row">
      <div class="col-8">
        <p>Reegel</p>
      </div>
      <div class="col-4">
        <p>Kategooria</p>
      </div>
    </div>
    <template class="row" v-for="(rule, index) in getRules">
      <appRule v-bind:rule="rule" v-bind:index="index" :key="rule.id"></appRule>
    </template>
  </div>
</template>
<script>
import axios from "axios";
import rule from "./parts/rule";
import primaryButton from "./../../parts/buttons/primaryButton";

export default {
  components: {
    appRule: rule,
    appPrimaryButton: primaryButton,
  },
  data() {
    return {
      newRule: "",
      newCategory: "",
      newRuleLoading: false,
      newRuleSuccess: false,
      newRuleError: false,
      searchResults: [],
    };
  },
  methods: {
    addRule() {
      this.newRuleLoading = true;
      axios
        .post(
          "admin/rules/add",
          { rule: this.newRule, category: this.newCategory },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.$store.dispatch("getRules", this.$store.getters.getToken);
          this.newRuleLoading = false;
          this.newRuleSuccess = true;
          this.newRuleError = false;
          this.newRule = "";
          this.newCategory = "";
        })
        .catch((error) => {
          console.log(error);
          this.newRuleLoading = false;
          this.newRuleSuccess = false;
          this.newRuleError = true;
        });
    },
  },
  computed: {
    getRules() {
      return this.$store.getters.getRules;
    },
    isRulesLoading() {
      return this.$store.getters.isRulesLoading;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  created() {
    this.$store.dispatch("getRules", this.$store.getters.getToken);
  },
  watch: {
    newCategory(keyword) {
      axios
        .get("admin/rules/searchCategory", {
          params: { keyword: keyword },
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.searchResults = response.data.results;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
<style scoped>
</style>