<template>
  <div :class="{ 'text-white': getDarkMode }">
    <appNav v-on:reload="changeApplicationType"></appNav>
    <p v-if="loading" class="text-center">Andmete laadimine...</p>
    <div class="row">
      <template v-for="(application, index) in whitelistApplications">
        <template v-if="!application.isAccepted && !application.isRejected">
          <div
            class="col-12 col-md-6 col-lg-4"
            v-if="!openedApp"
            :key="application.id"
          >
            <div
              class="card clickable"
              :class="{ 'bg-dark': getDarkMode }"
              @click="openApp(application.id)"
            >
              <div class="card-header card-header-primary">
                <h4 class="card-title">{{ application.characterName }}</h4>
                <div class="row">
                  <div class="col-6">
                    <p class="category">{{ application.steamName }}</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="category">
                      Admin:
                      {{ application.admin ? application.admin.name : null }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p>
                  <strong>
                    <b>Hex:</b>
                  </strong>
                  {{ application.user_identifier }}
                </p>
                <p>
                  <strong>
                    <b>Email:</b>
                  </strong>
                  {{ application.web_user.email }}
                </p>
              </div>
            </div>
          </div>
          <template v-else>
            <div
              class="col-12"
              :key="application.id"
              v-if="application.id == openedApp"
            >
              <div class="card" :class="{ 'bg-dark': getDarkMode }">
                <div
                  class="card-header card-header-primary clickable"
                  @click="openApp(application.id)"
                >
                  <h4 class="card-title">{{ application.characterName }}</h4>
                  <div class="row">
                    <div class="col-6">
                      <p class="category">{{ application.steamName }}</p>
                    </div>
                    <div class="col-6 text-right">
                      <p class="category">
                        Admin:
                        {{ application.admin ? application.admin.name : null }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    <strong>
                      <b>Hex:</b>
                    </strong>
                    {{ application.user_identifier }}
                  </p>
                  <p>
                    <strong>
                      <b>Email:</b>
                    </strong>
                    {{ application.web_user.email }}
                  </p>
                  <hr />
                  <div
                    v-for="(question, index) in JSON.parse(
                      application.extra_questions
                    )"
                    :key="index"
                  >
                    <p>
                      <strong>
                        <b>{{ question.label }}:</b>
                      </strong>
                    </p>
                    <p>{{ question.answer ? question.answer : null }}</p>
                    <hr />
                  </div>
                  <appSuccessButton
                    v-bind:label="'Võta vastu'"
                    v-bind:loading="loadingButton"
                    v-on:onSubmit="
                      acceptWhitelistApplication(application.id, index)
                    "
                  />
                  <appInfoButton
                    v-if="!application.is_chat"
                    v-bind:label="'Kutsu Vestlusele'"
                    v-bind:loading="loadingButton"
                    v-on:onSubmit="
                      openRejectTextArea = !openRejectTextArea;
                      chat = true;
                      reject = false;
                    "
                  />
                  <appRoseButton
                    v-bind:label="'Keeldu'"
                    v-bind:loading="loadingButton"
                    v-on:onSubmit="
                      openRejectTextArea = !openRejectTextArea;
                      chat = false;
                      reject = true;
                    "
                  />
                  <div v-if="openRejectTextArea" class="form-group">
                    <textarea
                      class="form-control"
                      :class="{ 'text-white': getDarkMode }"
                      rows="3"
                      v-model="rejectionReason"
                    ></textarea>

                    <appPrimaryButton
                      v-bind:label="'Kinnita'"
                      v-bind:loading="loadingButton"
                      v-bind:cLickPrevent="true"
                      v-on:onSubmit="
                        rejectWhitelistApplication(application.id, index)
                      "
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" :key="application.id" v-else>
              <div
                class="card clickable"
                :class="{ 'bg-dark': getDarkMode }"
                @click="openApp(application.id)"
              >
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ application.characterName }}</h4>
                  <div class="col-6">
                    <p class="category">{{ application.steamName }}</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="category">
                      Admin:
                      {{ application.admin ? application.admin.name : null }}
                    </p>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    <strong>
                      <b>Hex:</b>
                    </strong>
                    {{ application.user_identifier }}
                  </p>
                  <p>
                    <strong>
                      <b>Email:</b>
                    </strong>
                    {{ application.web_user.email }}
                  </p>
                </div>
              </div>
            </div>
          </template>
        </template>
      </template>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import box from "./../parts/box";
import nav from "./parts/whitelist/nav";
import primaryButton from "./../../parts/buttons/primaryButton";
import roseButton from "./../../parts/buttons/roseButton";
import successButton from "./../../parts/buttons/successButton";
import infoButton from "./../../parts/buttons/infoButton";
export default {
  components: {
    appNav: nav,
    appInfoButton: infoButton,
    appSuccessButton: successButton,
    appRoseButton: roseButton,
    appPrimaryButton: primaryButton,
  },
  data() {
    return {
      applicationType: "notAccepted",
      whitelistApplications: null,
      loading: false,
      loadingButton: false,
      openedApp: null,
      openRejectTextArea: false,
      rejectionReason: null,
      reject: false,
      chat: false,
      oldeQuestionMap: {
        oocIc: "Seleta lahti OOC, IC",
        carTax: "Millal on kohustus tasuda automaksu?",
        vdmRdm: "Seleta lahti oma sõnadega VDM, RDM, Copbait",
        radioUsage: "Kellel on lubatud kasutada discordi mängus olles?",
        newLifeRule:
          "Mis juhtub teiega, kui olete haavatud ning jooksete verest tühjaks ehk siis kiirabi teid ei elusta?",
        helmetMaskRules:
          "Kirjelda millal on lubatud kasutada kiivrit ja millal maski?",
        robbingOtherCitizen:
          "Millisel hetkel on lubatud röövida teist mängijat, mis hetkel NPCd? (politseinike arv)",
        whenYouCanUseWeapons: "Millises olukorras võite kasutada relva?",
      },
    };
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    changeApplicationType(type) {
      this.applicationType = type;
      this.getApllications();
    },
    openApp(id) {
      if (id == this.openedApp) {
        this.openedApp = null;
        this.openRejectTextArea = false;
      } else {
        this.openedApp = id;
        this.openRejectTextArea = false;
      }
    },
    acceptWhitelistApplication(id, index) {
      this.loadingButton = true;
      axios
        .put(
          "admin/whitelist/accept",
          { id: id },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.whitelistApplications[index].isAccepted = true;
          this.loadingButton = false;
        })
        .catch((error) => {
          console.log(error);
          this.loadingButton = false;
        });
    },
    rejectWhitelistApplication(id, index) {
      this.loadingButton = true;
      let url = null;
      if (this.reject && !this.chat) {
        url = "admin/whitelist/rejected";
      } else if (!this.reject && this.chat) {
        url = "admin/whitelist/invietToChat";
      }

      if (url) {
        axios
          .put(
            url,
            { id: id, rejectionReason: this.rejectionReason },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.whitelistApplications[index].isRejected = true;
            this.loadingButton = false;
            this.rejectionReason = null;
          })
          .catch((error) => {
            console.log(error);
            this.loadingButton = false;
          });
      } else {
        this.loadingButton = false;
        console.log(error);
      }
    },
    getApllications() {
      this.loading = true;
      let url = null;
      if (this.applicationType == "notAccepted") {
        url = "admin/whitelist/getWaitingApplications";
      } else {
        url = "admin/whitelist/getInChatApplications";
      }
      axios
        .get(url, {
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.whitelistApplications = response.data.applications;
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          console.log(error);
        });
    },
  },
  created() {
    this.getApllications();
  },
};
</script>
<style scoped>
.clickable:hover {
  cursor: pointer;
}
</style>