<template>
  <div class="row pb-4">
    <div
      class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-success p-3 rounded text-white text-center"
    >
      <slot></slot>
    </div>
  </div>
</template>