<template>
  <!-- Refactored modal -->
  <appModal
    v-bind:ariaLabel="'criminalRecordFormModal'"
    v-bind:id="'criminalRecordFormModal'"
  >
    <template v-slot:header>
      <h5 class="modal-title" id="criminalRecordFormModalLabel">
        Lisa sissekanne
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </template>
    <template v-slot:body>
      <!-- Status messages -->
      <div
        v-if="success"
        class="alert alert-success"
        @click="success = !success"
      >
        <div class="alert-icon">
          <i class="material-icons">check</i>
        </div>
        Salvestatud
      </div>
      <div v-if="error" class="alert alert-danger" @click="error = !error">
        <div class="alert-icon">
          <i class="material-icons">error_outline</i>
        </div>
        Ups, midagi läks ootamatult valesti. Veendu et kõik kohustuslikud väljad
        on täidetud.
      </div>
      <!-- Form start -->
      <div class="row">
        <div class="col-12 col-lg-6">
          <p>
            <b>Trahvide nimekiri:</b>
            <i
              class="material-icons icon-center pointer"
              @click="getUserFines()"
              >refresh</i
            >
          </p>
          <template v-if="fines.length > 0">
            <div class="row" v-for="(fine, index) in fines" :key="index">
              <div class="col-8">
                <p>{{ fine.label }}</p>
              </div>
              <div class="col-3 text-right">
                <p>{{ fine.amount }}</p>
              </div>
              <div class="col-1">
                <i
                  class="material-icons icon-center pointer"
                  @click="removeFine(index)"
                  >clear</i
                >
              </div>
              <hr class="col-10 m-1" />
            </div>
          </template>
          <div class="row">
            <div class="col-3">
              <i
                class="material-icons icon-center pointer text-success"
                @click="showSearchFine = !showSearchFine"
                >add</i
              >
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <p>
            <b>Vanglakaristuse pikkus trahvide põhjal:</b>
          </p>
          <p>
            <b>Min:</b>
            {{ getMinJailTime }}
          </p>
          <p>
            <b>Max:</b>
            {{ getMaxJailTime }}
          </p>
        </div>
      </div>
      <div class="row mb-4" v-if="showSearchFine">
        <div class="col-12">
          <input
            type="text"
            class="form-control"
            :class="{ 'text-white': getDarkMode }"
            placeholder="otsi trahvi"
            v-model="searchKeyword"
          />
        </div>
      </div>
      <template v-if="showSearchFine">
        <div
          v-if="fineAddError"
          class="alert alert-danger"
          @click="fineAddError = !fineAddError"
        >
          <div class="alert-icon">
            <i class="material-icons">error_outline</i>
          </div>
          Arve tegemine ebaõnnestus
        </div>
        <p>
          <b>Otsingu tulemused:</b>
        </p>
        <template v-for="fine in searchResults">
          <div class="row pointer" :key="fine.id">
            <div class="col-6 col-lg-5">
              <p>{{ fine.label }}</p>
            </div>
            <div class="col-6 col-lg-2">
              <p>{{ fine.amount }}</p>
            </div>
            <div class="col-12 col-lg-5">
              <button class="btn btn-white" @click="addFine(fine)">Lisa</button>
              <button class="btn btn-rose" @click="addFineWithbill(fine)">
                Lisa koos arvega
              </button>
            </div>
            <hr class="col-11" :key="'line' + fine.id" />
          </div>
        </template>
      </template>
      <div row>
        <hr />
      </div>
      <form>
        <div class="row mt-2">
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                :class="{ 'text-white': getDarkMode }"
                id="jailTime"
                placeholder="Vanglakaristuse pikku"
                v-model="formaData.jailTime"
              />
            </div>
          </div>
          <div class="col-12 col-lg-6"></div>
        </div>
        <div class="row mt-2">
          <div class="col-12 col-lg-6 form-group">
            <input
              type="text"
              class="form-control"
              :class="{ 'text-white': getDarkMode }"
              placeholder="Asukoht"
              v-model="formaData.location"
            />
          </div>
          <div class="col-12 col-lg-6 form-group">
            <input
              type="text"
              class="form-control"
              :class="{ 'text-white': getDarkMode }"
              placeholder="Sõiduki numbrimärk"
              v-model="formaData.vehiclePlate"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 col-lg-6">
            <div class="togglebutton">
              <label :class="{ 'text-white': getDarkMode }">
                <input
                  type="checkbox"
                  :class="{ 'text-white': getDarkMode }"
                  :checked="formaData.warning"
                  @click="formaData.warning = !formaData.warning"
                />
                <span class="toggle"></span>
                Hoiatus?
              </label>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 col-lg-6">
            <div class="togglebutton">
              <label :class="{ 'text-white': getDarkMode }">
                <input
                  type="checkbox"
                  :class="{ 'text-white': getDarkMode }"
                  :checked="formaData.criminalCase"
                  @click="formaData.criminalCase = !formaData.criminalCase"
                />
                <span class="toggle"></span>
                Kas juhutum on kriminaalne?
              </label>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <textarea
            rows="3"
            class="form-control"
            :class="{ 'text-white': getDarkMode }"
            placeholder="Teised osapooled"
            name="summary"
            v-model="formaData.otherParties"
          ></textarea>
        </div>
        <div class="row mt-2">
          <textarea
            rows="3"
            class="form-control"
            :class="{ 'text-white': getDarkMode }"
            placeholder="Sisesta juhtumi kokkuvõte"
            name="summary"
            v-model="formaData.summary"
          ></textarea>
        </div>
      </form>
    </template>
    <template v-slot:footer>
      <appModalCloseButton />
      <appPrimaryButton
        v-bind:label="'Salvesta'"
        v-bind:loading="saveLoading"
        v-on:onSubmit="saveReport"
      />
    </template>
  </appModal>
</template>
<script>
import axios from "axios";
import primaryButton from "./../../../../parts/buttons/primaryButton";
import modalCloseButton from "./../../../../parts/buttons/modalCloseButton";
import modal from "./../../../../parts/modal";

export default {
  components: {
    appPrimaryButton: primaryButton,
    appModalCloseButton: modalCloseButton,
    appModal: modal,
  },
  props: ["criminalId"],
  data() {
    return {
      success: false,
      error: false,
      saveLoading: false,
      formaData: {
        jailTime: 0,
        location: null,
        vehiclePlate: null,
        warning: false,
        criminalCase: false,
        otherParties: null,
        summary: null,
      },
      finesLoading: false,
      fines: [],
      showSearchFine: false,
      searchKeyword: "",
      searchLoading: false,
      searchResults: [],
      fineAddError: false,
    };
  },
  methods: {
    getUserFines() {
      this.finesLoading = true;
      axios
        .get("police/getUserFines", {
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
          params: { criminalId: this.criminalId },
        })
        .then((response) => {
          this.fines = response.data.fines;
          this.finesLoading = false;
        })
        .catch((error) => {
          console.log(error);
          console.log(error.response.data);
          this.finesLoading = false;
        });
    },
    removeFine(index) {
      this.fines.splice(index, 1);
      console.log(this.fines);
    },
    addFine(fine) {
      this.fines.push(fine);
    },
    addFineWithbill(fine) {
      this.addFine(fine);
      axios
        .post(
          "police/addFineBill",
          {
            fineId: fine.id,
            criminalHex: this.criminalId,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.fineAddError = false;
        })
        .catch((error) => {
          console.log(error);
          console.log(error.response);
          this.fineAddError = true;
        });
    },
    saveReport() {
      this.saveLoading = true;
      axios
        .post(
          "police/saveReport",
          {
            criminalHex: this.criminalId,
            fines: this.fines,
            jailTime: this.formaData.jailTime,
            warning: this.formaData.warning,
            summary: this.formaData.summary,
            isCriminalCase: this.formaData.criminalCase,
            loacation: this.formaData.location,
            vehiclePlate: this.formaData.vehiclePlate,
            otherParties: this.formaData.otherParties,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.saveLoading = false;
          this.success = true;
          this.error = false;
          if (
            this.criminalId == this.$store.getters.getCharacterData.identifier
          ) {
            this.$store.dispatch("getUserData", this.$store.getters.getToken);
          }

          if (
            this.$store.getters.getLatestSearchedCharacterData &&
            this.criminalId ==
              this.$store.getters.getLatestSearchedCharacterData.identifier
          ) {
            this.$store.dispatch("latesSearchedCharacterData", {
              token: this.$store.getters.getToken,
              hex: this.criminalId,
            });
          }
        })
        .catch((error) => {
          console.error(error.response);
          this.saveLoading = false;
          this.success = false;
          this.error = true;
        });
    },
  },
  created() {
    this.getUserFines();
  },
  computed: {
    getMinJailTime() {
      let fineMinJailTimeAmount = 0;
      this.fines.forEach((fine) => {
        fineMinJailTimeAmount = fineMinJailTimeAmount + fine.min_jail;
      });

      return Math.round(fineMinJailTimeAmount, 0);
    },
    getMaxJailTime() {
      let fineMaxJailTimeAmount = 0;
      this.fines.forEach((fine) => {
        fineMaxJailTimeAmount = fineMaxJailTimeAmount + fine.max_jail;
      });

      return Math.round(fineMaxJailTimeAmount, 0);
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  watch: {
    searchKeyword(newSearchKeyword, oldSearchKeyword) {
      if (newSearchKeyword.length > 3) {
        this.searchLoading = true;
        axios
          .get("police/searchFines", {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
            params: { keyword: newSearchKeyword },
          })
          .then((response) => {
            this.searchResults = response.data.fines;
            this.searchLoading = false;
          })
          .catch((error) => {
            console.log(error);
            console.log(error.response);
            this.searchLoading = false;
          });
      }
    },
    criminalId(newId) {
      this.criminalId = newId;
      this.getUserFines();
    },
  },
};
</script>
<style scoped>
</style>