<template>
  <appModal
    v-bind:ariaLabel="'mechanicBillModalLabel'"
    v-bind:id="'mechanicBillModal'"
  >
    <template v-slot:header>
      <h5 class="modal-title" id="criminalRecordFormModalLabel">
        Lisa mehaaniku arve
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </template>
    <template v-slot:body>
      <!-- Status notifications -->
      <div
        v-if="success"
        class="alert alert-success"
        @click="success = !success"
      >
        <div class="alert-icon">
          <i class="material-icons">check</i>
        </div>
        Salvestatud
      </div>
      <div v-if="error" class="alert alert-danger" @click="error = !error">
        <div class="alert-icon">
          <i class="material-icons">error_outline</i>
        </div>
        Ups, midagi läks ootamatult valesti. Veendu et kõik kohustuslikud väljad
        on täidetud.
      </div>
      <!-- Form -->
      <form>
        <div class="row mt-2">
          <div class="col-12">
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                :class="{ 'text-white': getDarkMode }"
                id="billAmountMechanic"
                placeholder="Arve suurus"
                v-model="formaData.billAmount"
              />
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                :class="{ 'text-white': getDarkMode }"
                id="billLabelMechanic"
                placeholder="arve kirjeldus"
                v-model="formaData.label"
              />
            </div>
          </div>
        </div>
      </form>
    </template>
    <template v-slot:footer>
      <appModalCloseButton />
      <appPrimaryButton
        v-bind:label="'Esita Arve'"
        v-bind:loading="saveLoading"
        v-on:onSubmit="saveBill"
      />
    </template>
  </appModal>
</template>
<script>
import axios from "axios";
import modal from "./../../../../parts/modal";
import primaryButton from "./../../../../parts/buttons/primaryButton";
import modalCloseButton from "./../../../../parts/buttons/modalCloseButton";

export default {
  components: {
    appModal: modal,
    appPrimaryButton: primaryButton,
    appModalCloseButton: modalCloseButton,
  },
  props: ["clientId"],
  data() {
    return {
      success: false,
      error: false,
      saveLoading: false,
      formaData: {
        billAmount: null,
        label: "",
      },
    };
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    saveBill() {
      this.saveLoading = true;
      axios
        .post(
          "billing/createMechanicBill",
          {
            clientId: this.clientId,
            amount: this.formaData.billAmount,
            label: this.formaData.label,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.$store.dispatch("latesSearchedCharacterData", {
            token: this.$store.getters.getToken,
            hex: this.$route.params.hex,
          });
          this.saveLoading = false;
          this.success = true;
          this.error = false;
          this.formaData.billAmount = null;
          this.formaData.label = "";
        })
        .catch((error) => {
          console.error(error.response);
          this.saveLoading = false;
          this.success = false;
          this.error = true;
        });
    },
  },
  watch: {
    clientId(newId) {
      this.clientId = newId;
    },
  },
};
</script>
<style scoped>
</style>
