<template>
  <appModal
    v-bind:ariaLabel="'medicalRecordFormModal'"
    v-bind:id="'medicalRecordFormModal'"
  >
    <template v-slot:header>
      <h5 class="modal-title" id="medicalRecordFormModalLabel">
        Lisa meditsiinilne sissekanne
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </template>
    <template v-slot:body>
      <div
        v-if="success"
        class="alert alert-success"
        @click="success = !success"
      >
        <div class="alert-icon">
          <i class="material-icons">check</i>
        </div>
        Salvestatud
      </div>
      <div v-if="error" class="alert alert-danger" @click="error = !error">
        <div class="alert-icon">
          <i class="material-icons">error_outline</i>
        </div>
        Ups, midagi läks ootamatult valesti. Veendu et kõik kohustuslikud väljad
        on täidetud.
      </div>
      <textarea
        rows="3"
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        placeholder="Sisesta juhtum"
        name="summary"
        v-model="summary"
      ></textarea>
    </template>
    <template v-slot:footer>
      <appModalCloseButton />
      <appPrimaryButton
        v-bind:label="'Salvesta'"
        v-bind:loading="isLoading"
        v-on:onSubmit="createReport"
      />
    </template>
  </appModal>
</template>
<script>
import axis from "axios";
import primaryButton from "./../../../../parts/buttons/primaryButton";
import modalCloseButton from "./../../../../parts/buttons/modalCloseButton";
import modal from "./../../../../parts/modal";

export default {
  components: {
    appPrimaryButton: primaryButton,
    appModalCloseButton: modalCloseButton,
    appModal: modal,
  },
  props: ["patientId"],
  data() {
    return {
      summary: "",
      isLoading: false,
      success: false,
      error: false,
    };
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    createReport() {
      this.isLoading = true;
      axis
        .post(
          "medic/createReport",
          {
            summary: this.summary,
            patiendId: this.patientId,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.$store.dispatch("latesSearchedCharacterData", {
            token: this.$store.getters.getToken,
            hex: this.$route.params.hex,
          });
          this.isLoading = false;
          this.success = true;
          this.error = false;
          this.summary = "";
        })
        .catch((error) => {
          console.log(error);
          this.isLoading = false;
          this.success = false;
          this.error = treu;
        });
    },
  },
};
</script>
<style scoped>
</style>