<template>
  <footer class="footer footer-default" :class="{ 'text-white': getDarkMode }">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="/">Tallinn RP</a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <a href="https://bitbucket.org/aivarsomelar/" target="blank"
          >Aivar Somelar</a
        >
        for a better web.
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>