<template>
  <nav
    class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg bg-dark"
    color-on-scroll="100"
  >
    <div class="container">
      <div class="navbar-translate">
        <a
          href="/"
        ><img src="../../assets/img/logo/tallinnrp2-w.png" class="navbar-brand"></a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto" v-if="!auth">
          <li class="nav-item dropdown">
                <a href="navItem.href" class="nav-link"  id="media" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                        
                    <i class="material-icons">web</i> Meedia
                </a>
                <div class="dropdown-menu" aria-labelledby="media" style="height:auto">
                    <a class="dropdown-item text-left" href="https://7sed.net/"><i class="material-icons mr-2">message</i> Uudised </a>
                    <a class="dropdown-item text-left" href="http://www.runagate.eu/webhitradio/" target="_blank"><i class="material-icons mr-2">radio</i> WebHit Radio </a>
                </div>
          </li>
          <div v-for="navItem in navItems" v-bind:key="navItem.title">
            <!-- Dropdown menu -->
            <li class="nav-item dropdown" v-if="navItem.type == 'dropDown'">
              <a :href="navItem.href" class="nav-link"  :id="navItem.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">{{navItem.icon}}</i> {{navItem.label}}
              </a>
              <div class="dropdown-menu" :aria-labelledby="navItem.id" style="height:auto">
                <div v-for="subMenu in navItem.subMenus" v-bind:key="subMenu.title">
                  <a class="dropdown-item text-left" :href="subMenu.href" @click="setMainContentSlotComponent(subMenu.componentName)"><i class="material-icons mr-2">{{subMenu.icon}}</i> {{subMenu.label}} </a>
                </div>
              </div>
            </li>
            <!-- Normal menu -->
            <li class="nav-item" v-else>
              <a :href="navItem.href" class="nav-link" @click="setMainContentSlotComponent(navItem.componentName)"> 
                <i class="material-icons mr-2">{{navItem.icon}}</i> {{navItem.label}}
              </a>
            </li>
          </div>
        </ul>
        <ul class="navbar-nav ml-auto" v-if="auth">
          <div v-for="navItem in logedInNavItems" v-bind:key="navItem.title">
            <!-- Dropdown menu -->
            <li class="nav-item dropdown" v-if="navItem.type == 'dropDown'">
              <a :href="navItem.href" class="nav-link"  :id="navItem.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">{{navItem.icon}}</i> {{navItem.label}}
              </a>
              <div class="dropdown-menu" :aria-labelledby="navItem.id" style="height:auto">
                <div v-for="subMenu in navItem.subMenus" v-bind:key="subMenu.title">
                  <a class="dropdown-item text-left" :href="subMenu.href" @click="setMainContentSlotComponent(subMenu.componentName)"><i class="material-icons mr-2">{{subMenu.icon}}</i> {{subMenu.label}} </a>
                </div>
              </div>
            </li>
            <!-- Normal menu -->
            <li class="nav-item" v-else>
              <a :href="navItem.href" class="nav-link" @click="setMainContentSlotComponent(navItem.componentName)" v-if="navItem.componentName"> 
                <i class="material-icons mr-2">{{navItem.icon}}</i> {{navItem.label}}
              </a>
              <router-link :to="navItem.route" class="nav-link" v-if="navItem.route"> 
                <i class="material-icons mr-2">{{navItem.icon}}</i> {{navItem.label}}
              </router-link>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data () {
        return {
            navItems: [
                {
                    label: "Reeglid Ja info",
                    icon: "list",
                    href: "#",
                    type: "dropDown",
                    id: "ruledDropdownMenu",
                    subMenus: [
                      {
                        label: "Serveri reeglid",
                        icon: "list",
                        href: "#mainContent",
                        type: "normal",
                        componentName: 'appServerRules'
                      },
                      {
                        label: "Info",
                        icon: "info",
                        href: "#mainContent",
                        type: "normal",
                        componentName: 'appServerInfo'
                      },
                    ]
                },
                {
                    label: "Logi Sisse",
                    icon: "fingerprint",
                    href: "#mainContent",
                    type: "normal",
                    componentName: 'appLogin'
                },
                {
                    label: "Whitelist avaldus",
                    icon: "person_add",
                    href: "#mainContent",
                    type: "normal",
                    componentName: 'appWhitelistAppliction'
                },
                {
                    label: "Arendajatele",
                    icon: "dvr",
                    href: "#mainContent",
                    type: "normal",
                    componentName: 'appForDevs'
                },
            ],
            logedInNavItems: [
                {
                    label: "Reeglid Ja info",
                    icon: "list",
                    href: "#",
                    type: "dropDown",
                    id: "ruledDropdownMenu",
                    subMenus: [
                      {
                        label: "Serveri reeglid",
                        icon: "list",
                        href: "#mainContent",
                        type: "normal",
                        componentName: 'appServerRules'
                      },
                      {
                        label: "Info",
                        icon: "info",
                        href: "#mainContent",
                        type: "normal",
                        componentName: 'appServerInfo'
                      },
                    ]
                },
                {
                    label: "Dashboard",
                    icon: "dashboard",
                    href: "",
                    type: "normal",
                    route: {name: 'userHome'}
                }
            ]
        }
    },
    methods: {
      ...mapActions(['setMainContentSlotComponent']),
    },
    computed: {
      auth () {
        if (this.$store.getters.isAuthenticated) {
          return true
        }
         return false
      }
    }
};
</script>

<style scoped>
</style>