<template>
    <div>
        <app-main-header @changeContent="mainContentSlotComponent = $event"></app-main-header>
        <app-page-header></app-page-header>
        <app-main-content>
            <component :is="getMainContentSlotComponent"></component>
        </app-main-content>
    </div>
</template>

<script>
import headerVue from './header.vue'
import pageHeaderVue from './pageHeader.vue'
import mainContentAreaVue from './mainContentArea.vue'
import serverRulesVue from './contentArea/serverRulesArea.vue'
import infoVue from './contentArea/infoArea.vue'
import loginVue from './contentArea/login.vue'
import whitelistApplicationVue from './contentArea/whitelistApplication.vue'
import forDevs from './contentArea/forDevs'
import { mapGetters} from 'vuex'

export default {
    components: {
        appMainHeader: headerVue,
        appPageHeader: pageHeaderVue,
        appMainContent: mainContentAreaVue,
        appServerRules: serverRulesVue,
        appServerInfo: infoVue,
        appLogin: loginVue,
        appWhitelistAppliction: whitelistApplicationVue,
        appForDevs: forDevs
    },
    computed: {
        ...mapGetters([
            'getMainContentSlotComponent'
        ])
    }
}
</script>