<template>
  <div class="main main-raised" id="mainContent">
    <div class="container">
      <div class="section">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style scoped>
</style>