<template>
  <div
    class="page-header header-filter"
    data-parallax="true"
    style="background-image: url('/src/assets/img/taust.jpg')"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <img
              src="../../assets/img/logo/tallinnrp2-w.png"
              class="img-fluid"
            />
            <h5 class="title text-center">
              Ühine meie
              <a :href="discordLink" target="blank" class="discordLink" alt
                >discordiga</a
              >
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      discordLink: "https://discord.gg/88kf8tF",
    };
  },
};
</script>

<style scoped>
.discordLink {
  color: gainsboro;
  text-decoration: underline;
}
.discordLink:hover {
  color: paleturquoise;
}
.discordLink:active {
  color: aqua;
}
</style>