<template>
  <div>
    <div class="row">
      <app-box>
        <template v-slot:icon>perm_identity</template>
        <template v-slot:cardHeader>Viimased karistatud</template>
        <template v-slot:content>
          <template
            v-if="
              !isLatestCriminalRecordsLoading ||
              latestCriminalRecords.length > 0
            "
          >
            <div
              class="row"
              v-for="(record, index) in latestCriminalRecords"
              :key="index"
            >
              <div class="col-6">
                {{ record.character_name }}
              </div>
              <div class="col-6">
                {{ record.created_at }}
              </div>
              <div class="col-12"><hr /></div>
            </div>
          </template>
          <p v-else class="m-auto text-center">Andmete laadimine...</p>
        </template>
      </app-box>
      <app-box>
        <template v-slot:icon>perm_identity</template>
        <template v-slot:cardHeader>Top Karistatud (nädal)</template>
        <template v-slot:content>
          <template
            v-if="
              !isTopCriminalsOfWeekLoading ||
              Object.keys(topCriminalOfWeek).length > 0
            "
          >
            <div
              class="row"
              v-for="(record, index) in topCriminalOfWeek"
              :key="index"
            >
              <div class="col-6">
                {{ record.name }}
              </div>
              <div class="col-6 text-center m-auto">
                {{ record.count }}
              </div>
              <div class="col-12"><hr /></div>
            </div>
          </template>
          <p v-else class="m-auto text-center">Andmete laadimine...</p>
        </template>
      </app-box>
    </div>
    <div class="row">
      <app-box>
        <template v-slot:icon>perm_identity</template>
        <template v-slot:cardHeader>Top võlglased</template>
        <template v-slot:content>
          <template
            v-if="
              !isTopDeptorsLoading || Object.keys(topCriminalOfWeek).length > 0
            "
          >
            <div class="row" v-for="(deptor, index) in topDeptors" :key="index">
              <div class="col-6">
                {{ deptor.name }}
              </div>
              <div class="col-6 text-center m-auto">
                {{ deptor.sum }}
              </div>
              <div class="col-12"><hr /></div>
            </div>
          </template>
          <p v-else class="m-auto text-center">Andmete laadimine...</p>
        </template>
      </app-box>
      <app-box>
        <template v-slot:icon>perm_identity</template>
        <template v-slot:cardHeader>Top politseinikud (nädal)</template>
        <template v-slot:content>
          <template
            v-if="
              !isTopPoliceOfficersLoading ||
              Object.keys(topPoliceOfficers).length > 0
            "
          >
            <div
              class="row"
              v-for="(officer, index) in topPoliceOfficers"
              :key="index"
            >
              <div class="col-6">
                {{ officer.name }}
              </div>
              <div class="col-6 text-center m-auto">
                {{ officer.count }}
              </div>
              <div class="col-12"><hr /></div>
            </div>
          </template>
          <p v-else class="m-auto text-center">Andmete laadimine...</p>
        </template>
      </app-box>
    </div>
    <div class="row">
      <app-box>
        <template v-slot:icon>work</template>
        <template v-slot:cardHeader>Töö Avaldused</template>
        <template v-slot:content>
          <router-link
            v-if="
              allowedJobs.includes(getCharacterData.job) ||
              getGodRoles.includes(getLogedInUserRole)
            "
            :to="{
              name: 'workApplications',
              params: { work: 'police', type: 'notAccepted' },
            }"
            tag="div"
            class="row pointer"
          >
            <div
              class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
            >
              <div
                class="progress-circle"
                :class="[
                  { over50: getUnchecedJobApplicationsPercent > 49 },
                  'p' + getUnchecedJobApplicationsPercent,
                ]"
              >
                <span
                  >{{ jobApplicationCounts.unchecked }}/{{
                    jobApplicationCounts.total
                  }}</span
                >
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div>
            </div>
          </router-link>
          <div v-else class="row">
            <div
              class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
            >
              <div
                class="progress-circle"
                :class="[
                  { over50: getUnchecedJobApplicationsPercent > 49 },
                  'p' + getUnchecedJobApplicationsPercent,
                ]"
              >
                <span
                  >{{ jobApplicationCounts.unchecked }}/{{
                    jobApplicationCounts.total
                  }}</span
                >
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </app-box>
      <app-box>
        <template v-slot:icon>work</template>
        <template v-slot:cardHeader>Oodatakse vestlusele</template>
        <template v-slot:content>
          <router-link
            v-if="
              allowedJobs.includes(getCharacterData.job) ||
              getGodRoles.includes(getLogedInUserRole)
            "
            :to="{
              name: 'workApplications',
              params: { work: 'police', type: 'accepted' },
            }"
            tag="div"
            class="row pointer"
          >
            <div
              class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
            >
              <div
                class="progress-circle"
                :class="[
                  { over50: getWaitingJobApplicationPercent > 49 },
                  'p' + getWaitingJobApplicationPercent,
                ]"
              >
                <span
                  >{{ jobApplicationCounts.waiting }}/{{
                    jobApplicationCounts.total
                  }}</span
                >
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div>
            </div>
          </router-link>
          <div v-else class="row">
            <div
              class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4"
            >
              <div
                class="progress-circle"
                :class="[
                  { over50: getWaitingJobApplicationPercent > 49 },
                  'p' + getWaitingJobApplicationPercent,
                ]"
              >
                <span
                  >{{ jobApplicationCounts.waiting }}/{{
                    jobApplicationCounts.total
                  }}</span
                >
                <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </app-box>
    </div>
  </div>
</template>
<script>
import box from "./../parts/box";
export default {
  components: {
    appBox: box,
  },
  data() {
    return {
      allowedJobs: ["police", "offpolice"],
    };
  },
  computed: {
    latestCriminalRecords() {
      return this.$store.getters.getlatestCriminalRecords;
    },
    isLatestCriminalRecordsLoading() {
      return this.$store.getters.isLatestCriminalRecordsLoading;
    },
    topCriminalOfWeek() {
      return this.$store.getters.getTopCriminalOfWeek;
    },
    isTopCriminalsOfWeekLoading() {
      return this.$store.getters.isTopCriminalsOfWeekLoading;
    },
    topDeptors() {
      return this.$store.getters.getTopDeptors;
    },
    jobApplicationCounts() {
      return this.$store.getters.getJobApplicationsCounts;
    },
    getWaitingJobApplicationPercent() {
      return (
        100 -
        Math.round(
          (this.jobApplicationCounts.waiting /
            this.jobApplicationCounts.total) *
            100
        )
      );
    },
    getUnchecedJobApplicationsPercent() {
      return (
        100 -
        Math.round(
          (this.jobApplicationCounts.unchecked /
            this.jobApplicationCounts.total) *
            100
        )
      );
    },
    isTopDeptorsLoading() {
      return this.$store.getters.isTopdeptorsLoading;
    },
    topPoliceOfficers() {
      return this.$store.getters.getTopPoliceOfficers;
    },
    isTopPoliceOfficersLoading() {
      return this.$store.getters.isTopPoliceOfficersLoading;
    },
    isJobApplicationCountsLoading() {
      return this.$store.getters.isJobApplicationCountsLoading;
    },
    getFirstCharacterId() {
      return this.$store.getters.getCharactesIdentifiers[0];
    },
    getCharacterData() {
      return this.$store.getters.getCharacter(this.getFirstCharacterId);
    },
    getLogedInUserRole() {
      return this.$store.getters.getLogedInUserRoleName;
    },
    getGodRoles() {
      return this.$store.getters.getGodRoles;
    },
  },
  created() {
    this.$store.dispatch(
      "latestCriminalRecordsAction",
      this.$store.getters.getToken
    );
    this.$store.dispatch(
      "topCriminelasOfWeekAction",
      this.$store.getters.getToken
    );
    if (Object.keys(this.topDeptors).length < 1) {
      this.$store.dispatch("topDeptorsAction", this.$store.getters.getToken);
    }
    this.$store.dispatch(
      "topPoliceOfficersAction",
      this.$store.getters.getToken
    );
    this.$store.dispatch(
      "jobApplicationCountsAction",
      this.$store.getters.getToken
    );
  },
};
</script>
<style scoped>
</style>