.floating-conteiner-padding-top {
    padding-top: 100px;
}

.pointer {
    cursor: pointer;
}

.icon-center {
    display: inline-flex;
    vertical-align: middle;
}

 @media (min-width: 375px) {
    .floating-conteiner-padding-top {
        padding-top: 100px;
    }
}

 @media (min-width: 410px) {
    .floating-conteiner-padding-top {
        padding-top: 100px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .floating-conteiner-padding-top {
        padding-top: 120px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .floating-conteiner-padding-top {
        padding-top: 120px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .floating-conteiner-padding-top {
        padding-top: 120px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .floating-conteiner-padding-top {
        padding-top: 120px;
    }
}