<template>
  <appModal
    v-bind:ariaLabel="'donationAcceptLabel'"
    v-bind:id="'donationAccept' + id"
  >
    <template v-slot:header>
      <h5 class="modal-title text-dark">Kinnita annetus</h5>
    </template>
    <template v-slot:body>
      <input
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        type="number"
        placeholder="Summa"
        v-model="amount"
      />
    </template>
    <template v-slot:footer>
      <appModalCloseButton />
      <appPrimaryButton
        v-bind:label="'Salvesta'"
        v-bind:loading="loading"
        v-bind:dataDismiss="true"
        v-on:onSubmit="confirmDonation"
      />
    </template>
  </appModal>
</template>

<script>
import modal from "./../../../../../parts/modal.vue";
import primaryButton from "./../../../../../parts/buttons/primaryButton";
import modalCloseButton from "./../../../../../parts/buttons/modalCloseButton";
import axios from "axios";
export default {
  props: ["id", "index"],
  components: {
    appModal: modal,
    appModalCloseButton: modalCloseButton,
    appPrimaryButton: primaryButton,
  },
  data() {
    return {
      loading: false,
      amount: null,
    };
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    confirmDonation() {
      if (this.amount != null) {
        this.loading = true;
        this.$store.commit("toggleDonationIsLoading", true);
        axios
          .post(
            "admin/donation/confirmDonation",
            { id: this.id, amount: this.amount },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.$store.dispatch("removeDataFromDonationArray", {
              index: this.index,
              type: "pending",
            });
            this.loading = false;
            this.$store.commit("toggleDonationIsLoading", false);
            this.$store.dispatch(
              "getWaitingGiftDonations",
              this.$store.getters.getToken
            );
            this.$store.dispatch("getSum", this.$store.getters.getToken);
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.$store.commit("toggleDonationIsLoading", false);
          });
      }
    },
  },
};
</script>