<template>
    <div class="col-12 col-lg-6 col-xl-6 pl-1 pl-lg-2 pl-xl-2 pr-1 pr-lg-2 pr-xl-2 pt-0 pb-5">
        <div class="card bg-info h-100">
            <div class="card-body">
                    <h5 class="card-category card-category-social">
                        <i class="material-icons"><slot name="icon"></slot></i>
                        <slot name="cardHeader"></slot>
                    </h5> 
                    <slot name="content"></slot>               
            </div>
        </div>
    </div>
</template>