<template>
  <appModal v-bind:ariaLabel="'removeClothesConfirmLabel'" v-bind:id="'removeClothesConfirm'">
    <template v-slot:header>
      <h5 class="modal-title">
        <strong>Oled sa kindel et soovid oma riidekappi põletada</strong>
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </template>
    <template v-slot:body>
        <div v-if="success" class="alert alert-success" @click="success = !success">
            <div class="alert-icon"><i class="material-icons">check</i></div>Tühjendatud
        </div>
        <div v-if="error" class="alert alert-danger" @click="error = !error">
            <div class="alert-icon"><i class="material-icons">error_outline</i></div>Ups, midagi läks ootamatult valesti. Proovi hiljem uuesti.
        </div>
      <p>
        <b>NB:</b> Et riide kaapi põletada pead olema mängust väljas. Vastasel juhul jäävad riided alles. Sa näed effekti alles peale järgmist serveri restarti.
      </p>
    </template>
    <template v-slot:footer>
      <appModalCloseButton></appModalCloseButton>
      <appPrimaryButton v-bind:label="'Põleta'" v-bind:loading="loading" v-on:onSubmit="removeClouths"></appPrimaryButton>
    </template>
  </appModal>
</template>
<script>
import modal from "./../../../parts/modal";

import axios from 'axios'
import primaryButton from './../../../parts/buttons/primaryButton'
import modalCloseButton from './../../../parts/buttons/modalCloseButton'

export default {
  components: {
    appModal: modal,
    appPrimaryButton: primaryButton,
    appModalCloseButton: modalCloseButton
  },
  data() {
      return {
          loading: false,
          success: false,
          error: false
      }
  },
  methods: {
      removeClouths() {
          this.loading = true
           axios.delete(
               'auth/user/removeClouths',
                {headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken}}
           ).then(response => {
               this.loading = false
               this.success = true
               this.error = false
           }).catch(error => {
               console.log(error)
               this.loading = false
               this.success = false
               this.error = true
           })
      }
  }
};
</script>