<template>
    <div>
        <h3 class="text-muted text-center" id="wlAppStart">Whitelist avalduse</h3>
        <div class="row" v-if="wlStatus.isAccepted">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card bg-success">
                    <div class="card-body">
                        <h5 class="card-category card-category-social">
                            <i class="material-icons">person_add</slot></i>
                            Whitelisti saatus
                        </h5> 
                        <p>Teie Whitelist avaldus on heaks kiidetud. Võite asuda oma karakterit looma</p>  
                        <p class="mt-4 mb-1"><b>Avaldust vaatas:</b> {{ adminName }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="wlStatus.isRejected">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card bg-rose">
                    <div class="card-body">
                        <h5 class="card-category card-category-social">
                            <i class="material-icons">person_add</slot></i>
                            Whitelisti saatus
                        </h5> 
                        <p><strong> Whitelist avaldus on tagasi lükatud. Palun paranda ära järgnevalt kirjeldatud probleemid:</strong></p>
                        <h6 class="mt-4 mb-1">Põhjus:</h6>
                        <p style="white-space: pre-line;">{{ rejectionReason }}</p>  
                        <p class="mt-4 mb-1"><b>Avaldust vaatas:</b> {{ adminName }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="!wlStatus.isAccepted && !wlStatus.isRejected && !wlStatus.isChat && wlStatus.exist">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card bg-warning">
                    <div class="card-body">
                        <h5 class="card-category card-category-social">
                            <i class="material-icons">person_add</slot></i>
                            Whitelisti saatus
                        </h5> 
                        <p>Teie Whitelist avaldus on esitatud ja ootab üle vaatamist. Palun kannatust.</p>  
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="wlStatus.isChat && wlStatus.exist">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-category card-category-social">
                            <i class="material-icons">person_add</slot></i>
                            Whitelisti saatus
                        </h5>
                        <p>Avalduse ülevaataja soovib teiega vestelda. Lepi aeg kokku läbi discordi, luues discordi abi pilet.</p>  
                        <h6 class="mt-4 mb-1">Põhjus:</h6>
                        <p style="white-space: pre-line;">{{ rejectionReason }}</p> 
                        <p class="mt-4 mb-1"><b>Avaldust vaatas:</b> {{ adminName }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" v-if="!wlStatus.exist">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h5 class="card-category card-category-social">
                            <i class="material-icons">person_add</slot></i>
                            Whitelisti saatus
                        </h5> 
                        <p>Teie whitelisti avaldust ei leitud. Palun looge uus taotlus. Rohkemaks infoks palun pöördu adminite poole läbi discordi et abi saada</p>  
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="row p-3" v-if="showUpdateMessage">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-success p-3 rounded">
                    <b>Taotluse uuendamine õnnestus!</b>
                </div>
            </div>
            <div class="row p-3" v-if="showErrorMessage">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-danger p-3 rounded">
                    <b>Taotluse uuendamine ebõnnestus!</b>
                </div>
            </div>
        <h5><b>Roleplay Serveri kasutaja ja karakteri andmed</b></h5>
      <div class="form-group" :class="{ 'has-danger':errors.characterName || wlErrors.includes('characterName') }">
        <label for="inputCharacterName">Karakteri nimi</label>
        <input
          type="text"
          class="form-control"
          id="inputCharacterName"
          aria-describedby="characterNameHelp"
          placeholder="Sisesta karakteri nimi"
          v-model.trim="rpData.characterName"
        />
        <span class="material-icons form-control-feedback" v-if="errors.characterName || wlErrors.includes('characterName')">clear</span>
        <small id="characterNameHelp" class="form-text text-muted">Karakteri nimi mida sa plaanid kasutada</small>
      </div>
      <div class="form-group" :class="{ 'has-danger':errors.steamName || wlErrors.includes('steamName') }">
        <label for="inputSteamName">Steam nimi</label>
        <input
          type="text"
          class="form-control"
          id="inputSteamName"
          aria-describedby="steamNameHelp"
          placeholder="Sisesta steam nimi"
          v-model.trim="rpData.steamName"
        />
        <span class="material-icons form-control-feedback" v-if="errors.steamName || wlErrors.includes('steamName')">clear</span>
        <small id="steamNameHelp" class="form-text text-muted">Sisesta oma steam kastuaja nimi</small>
      </div>
      <div class="form-group" :class="{ 'has-danger':errors.steamHex || wlErrors.includes('steamHex') }">
        <label for="inputSteamHex">Steam hex</label>
        <input
          type="text"
          class="form-control"
          id="inputSteamHex"
          aria-describedby="steamHexHelp"
          placeholder="Sisesta steam hex"
          v-model.trim="rpData.steamhex"
        />
        <span class="material-icons form-control-feedback" v-if="errors.steamHex || wlErrors.includes('steamHex')">clear</span>
        <small id="steamHexHelp" class="form-text text-muted">Hex-i leiad kui külastad <a href="http://vacbanned.com/" target="blank">http://vacbanned.com/</a> lehekülge</small>
      </div>

      <h5 aria-describedby="whitelistQuestionsHelp"><b>Whitelisti küsimused</b></h5>
      <small id="whitelistQuestionsHelp" class="form-text text-muted pb-4">Enne küsimustele vastamist loe läbi Reeglid</small>

      <div class="form-group" v-for="(question, index) in questions" v-bind:key="index">
        <label :for="'input' + index">{{ question.label }}</label>
        <textarea
          class="form-control"
          :id="'input' + index"
          v-model="questions[index].answer"
        ></textarea>
      </div>
            <button role="button" class="btn btn-primary ld-over-full" :class="{running: submitted}" @click.prevent="onSubmit()" v-if="wlStatus.isRejected">
                Esita
                <div class="ld ld-ring ld-spin"></div>
            </button>
            <button role="button" class="btn btn-primary ld-over-full" :class="{running: submitted}" @click.prevent="onSubmitExistingUserWithoutWhitelist()" v-if="!wlStatus.exist">
                Esita
                <div class="ld ld-ring ld-spin"></div>
            </button>
        </form>
    </div>
</template>
<script>
import conteiner from "./../../parts/containerWithoutSidebar";
import axios from "axios";

export default {
  data() {
    return {
      wlStatus: {
        isAccepted: false,
        isRejected: false,
        isChat: false,
        exist: true,
      },
      rpData: {
        characterName: null,
        steamName: null,
        steamhex: null,
      },
      adminName: null,
      wlId: 0,
      submitted: false,
      showUpdateMessage: false,
      showErrorMessage: false,
      rejectionReason: "",
      errors: {
        count: 0,
        email: false,
        password: false,
        passwordAgain: false,
        characterName: false,
        steamName: false,
        steamHex: false,
      },
      questions: {
        question0: {
          label: "Mis on su Discordi nimi?",
          answer: null,
        },
        question1: {
          label:
            "Kas olete varem mänginud mõnes FiveM RP serveris? Kui olete siis millis(t)es serveris.",
          answer: null,
        },
        question2: {
          label:
            "Kirjeldage oma plaani, mida hakkate oma karakteriga Tallinn RP serveris tegema.",
          answer: null,
        },
        question3: {
          label:
            "Sõidate mööda Vespucci puiesteed ning märkate kuidas 3 politseinikkut sihvad oma relvadega ühte seisvat sõidukit. Kuidas käitub teie karakter?",
          answer: null,
        },
        question4: {
          label: "Kui teid sihitakse relvaga siis mida teie karakter teeb?",
          answer: null,
        },
        question5: {
          label:
            "Mis juhtub teiega, kui olete haavatud ning jooksete verest tühjaks ehk siis kiirabi teid ei elusta?",
          answer: null,
        },
        question6: {
          label:
            "Seletage lahti oma sõnadega mida tähendab metagaming? Tooge selle kohta üks näide.",
          answer: null,
        },
        question7: {
          label: "Millal on teil kohustus tasuda automaksu?",
          answer: null,
        },
        question8: {
          label:
            "Mitut politseinikut on tarvis, et röövida teist mängijat? Mitut politeinikut on tarvis, et röövida NPC-lt asju?",
          answer: null,
        },
        question9: {
          label: "Kellel on lubatud kasutada raadiosaatjat?",
          answer: null,
        },
        question10: {
          label: "Kas discordi on lubatud kasutada raadiosaatjana?",
          answer: null,
        },
        question11: {
          label:
            "Seletage lahti oma sõnadega mida tähendab copbait ja tooge selle kohta üks näide.",
          answer: null,
        },
      },
      wlErrors: [],
    };
  },
  components: {
    appConteiner: conteiner,
  },
  computed: {
    whitelistErrors() {
      return this.$store.getters.getWhitelistErros;
    },
  },
  methods: {
    onSubmit() {
      this.submitted = true;
      axios
        .put(
          "/auth/user/updateWhitelistApplication",
          {
            whitelistId: this.wlId,
            characterName: this.rpData.characterName,
            steamName: this.rpData.steamName,
            steamHex: this.rpData.steamhex,
            questions: this.questions,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.wlStatus.isRejected = false;
          this.submitted = false;
          this.showUpdateMessage = true;
        })
        .catch((error) => {
          if (
            typeof error.response != "undefined" &&
            typeof error.response.data != "undefined"
          ) {
            let messages = error.response.data.messages;
            this.wlErrors = Object.keys(messages);
          }
          this.showErrorMessage = true;
          this.submitted = false;
        });
    },
    onSubmitExistingUserWithoutWhitelist() {
      this.submitted = true;
      axios
        .post(
          "auth/user/createWhitelistApplicationForExistingUser",
          {
            characterName: this.rpData.characterName,
            steamName: this.rpData.steamName,
            steamHex: this.rpData.steamhex,
            questions: this.questions,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.submitted = false;
          this.showUpdateMessage = true;
          if (response.data.alreadyWhitelisted) {
            this.$router.replace({ name: "userHome" });
          }
        })
        .catch((error) => {
          if (
            typeof error.response != "undefined" &&
            typeof error.response.data != "undefined"
          ) {
            let messages = error.response.data.messages;
            this.wlErrors = Object.keys(messages);
          }
          this.showErrorMessage = true;
          this.submitted = false;
        });
    },
  },
  created() {
    axios
      .get("/auth/user/getWhitelistApplication", {
        headers: { Authorization: "Bearer " + this.$store.getters.getToken },
      })
      .then((response) => {
        if (typeof response.data.isAccepted == "undefined") {
          this.wlStatus.exist = false;
          return;
        }
        this.wlStatus.isAccepted = response.data.isAccepted;
        this.wlStatus.isRejected = response.data.isRejected;
        this.wlStatus.isChat = response.data.is_chat;
        this.adminName = response.data.admin ? response.data.admin.name : null;
        this.rpData.characterName = response.data.characterName;
        this.rpData.steamName = response.data.steamName;
        this.rpData.steamhex = response.data.user_identifier.split(":").pop();
        this.rejectionReason = response.data.rejectionReason;
        let questions = JSON.parse(response.data.extra_questions);
        this.wlId = response.data.id;

        for (let property in questions) {
          this.questions[property].answer = questions[property].answer;
        }
      })
      .catch((error) => {
        this.wlStatus.exist = false;
        console.log(error);
      });
  },
};
</script>