<template>
    <div>
        <div class="row">
            <app-box>
                <template v-slot:icon>directions_car</template>
                <template v-slot:cardHeader>Top Sõidukid</template>
                <template v-slot:content> 
                    <template v-if="!isTopCarModelsLoading || Object.keys(topCarModels).length > 0">
                        <div class="row" v-for="(carModel, index) in topCarModels" :key="index">
                            <div class="col-6">
                                {{ carModel.name }}
                            </div>
                            <div class="col-6 text-center m-auto">
                                {{ carModel.count }}
                            </div>
                            <div class="col-12"><hr></div>
                        </div>
                    </template>
                    <p v-else class="m-auto text-center">Andmete laadimine...</p>
                </template>
            </app-box>
            <app-box>
                <template v-slot:icon>insert_drive_file</template>
                <template v-slot:cardHeader>Automüügi taotlused (vana)</template>
                <template v-slot:content>
                    <div class="row">
                        <div class="col-4 offset-2 col-sm-5 offset-sm-4 col-lg-4 offset-lg-3 col-xl-5 offset-xl-4">
                            <div class="progress-circle" :class="[{'over50': sellRequestsWaitingPercants > 49}, 'p'+sellRequestsWaitingPercants]">
                                <span>{{sellRequestCounts.waiting}}/{{sellRequestCounts.total}}</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </app-box>
        </div>
    </div>
</template>
<script>
import box from './../parts/box'
export default {
    components: {
        appBox: box
    },
    computed: {
        topCarModels() {
            return this.$store.getters.getTopCarModels
        },
        isTopCarModelsLoading() {
            return this.$store.getters.isTopCarModelsLoading
        },
        sellRequestCounts() {
            return this.$store.getters.getSellRequestCounts
        },
        sellRequestsWaitingPercants() {
            return 100 - Math.round((this.sellRequestCounts.waiting / this.sellRequestCounts.total) * 100)
        },
        isSellRequesCountsLoading() {
            return this.$store.getters.isSellRequestCountsLoading
        }
    },
    created() {
        this.$store.dispatch('topCarModelsAction', this.$store.getters.getToken)
        this.$store.dispatch('sellRequestCountsAction', this.$store.getters.getToken)
    }
}
</script>
<style scoped>

</style>