<template>
    <div class="fixed">
        <div class="col-1 offset-10 offset-lg-11">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    
                    <button type="href" href="#" class="nav-link btn btn-white btn-circle" id="test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons text-primary" style="font-size: 30px;">add</i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="test" style="height:auto">
                        <template v-for="(menuItem, index) in menu">
                            <router-link class="dropdown-item text-left"
                                :to="menuItem.to" :key="index"
                                :data-toggle="(menuItem.dataToggle) ? menuItem.dataToggle : ''"
                                :data-target="(menuItem.dataTarget) ? menuItem.dataTarget : ''">
                                    <i class="material-icons mr-2">{{ menuItem.icon }}</i>
                                     {{ menuItem.label }}
                            </router-link>
                        </template>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    props: ['menu']
}
</script>
<style scoped>
.fixed {
    position: sticky;
    bottom: 5px;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 35px;
    text-align: center;
    line-height: 1.42857;
}
</style>