<template>
  <div
    class="col-12 col-lg-6 col-xl-6 pl-1 pl-lg-2 pl-xl-2 pr-1 pr-lg-2 pr-xl-2 pt-0 pb-5"
    :class="{ 'col-lg-12': fullWight, 'col-xl-12': fullWight }"
  >
    <div class="card bg-info h-100" :class="{ 'bg-danger': isDanger }">
      <div class="card-body">
        <h5 class="card-category card-category-social">
          <i class="material-icons"><slot name="icon"></slot></i>
          <slot name="cardHeader"></slot>
        </h5>
        <slot name="content"></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    isDanger: {
      default: false,
    },
    fullWight: {
      default: false,
    },
  },
};
</script>
<style scoped>
.red-shadow {
  box-shadow: 2px 2px 5px rgb(221, 32, 120);
}
</style>