<template>
<div class="row mr-0">
    <div class="col-12 floating-conteiner-padding-top row">
        <div class="container pl-5" id="content">
            <slot></slot>
        </div>
    </div>
</div>
</template>
<script>

export default {
    
}
</script>
<style scoped>
</style>