<template>
<div class="row mr-0">
    <app-sidebar class="col-xl-1 col-lg-2 d-none d-lg-inline-flex" style="z-index:2"></app-sidebar>
    <div class="col-xl-10 col-lg-9 floating-conteiner-padding-top row">
        <div class="container pl-5 pl-sm-4 pl-md-4 pl-lg-2 pl-xl-3" id="content">
            <slot></slot>
        </div>
    </div>
</div>
</template>
<script>
import sidebar from './sidebar'

export default {
    components: {
        appSidebar: sidebar
    }
}
</script>
<style scoped>
</style>