<template>
  <app-conteiner>
    <router-view></router-view>
    <appSettings />
  </app-conteiner>
</template>
<script>
import conteiner from "./container";
import userSettings from "./user/modals/settings";
export default {
  components: {
    appConteiner: conteiner,
    appSettings: userSettings,
  },
};
</script>
<style scoped>
</style>