<template>
    <div class="row mt-3 mb-3">
      <div class="col-12">
        <div class="progress" style="height: 20px">
          <div class="progress-bar bg-success" role="progressbar" :style="'width:' + getPercentage + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          </div>
          <span class="text-dark position-absolute w-100 text-center pr-4" style="top: -3%"><b>{{getSum.sum}} / {{getSum.goal}}</b></span>
        </div>
      </div>
    </div>    
</template>
<script>
export default {
    computed: {
      getSum() {
        return this.$store.getters.getSum;
      },
      getPercentage () {
        return this.$store.getters.getDonationPercentage
      },
    },
    created() {
      this.$store.dispatch("getSum", this.$store.getters.getToken);
    }
}
</script>
<style scoped>

</style>