<template>
    <nav
    class="navbar fixed-top navbar-expand-lg bg-dark">
    <div class="container">
      <div class="navbar-translate">
        <a href="/">
            <img src="../../../assets/img/logo/tallinnrp2-w.png" class="navbar-brand">
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
        <!--##########################-->
        <!-- normal left navbar items -->
        <!--##########################-->
        <app-left-side-nav></app-left-side-nav>
        <ul class="navbar-nav ml-auto">
          <!--############-->
          <!-- search bar -->
          <!--############-->
            <app-search-bar></app-search-bar>
            <!--###########################-->
            <!-- normal right navbar items -->
            <!--###########################-->
            <app-right-side-nav></app-right-side-nav>
            <!--#####################-->
            <!-- mobile navbar items -->
            <!--#####################-->
            <app-mobilenav></app-mobilenav>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  import leftSideVue from './navbar/leftSide.vue'
  import searchBarVue from './navbar/searchBar.vue'
  import rightSideVue from './navbar/rightSide.vue'
import mobileNavVue from './navbar/mobileNav.vue'

  export default {
      data () {
          return {}
      },
      methods: {
        logOut() {
          console.log('välja logimine')
        }
      },
      components: {
        appLeftSideNav: leftSideVue,
        appSearchBar: searchBarVue,
        appRightSideNav: rightSideVue,
        appMobilenav: mobileNavVue
      }
}
</script>

<style scoped>

</style>