<template>
  <nav class="nav floating-conteiner-padding-top">
    <ul
      class="nav-pills nav-pills-primary flex-column nav-pills-icons"
      role="tablist"
    >
      <li class="nav-item">
        <router-link
          :to="{ name: 'userHome' }"
          active-class="active"
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          style="border-radius: 0 3px 3px 0"
          role="tab"
          data-toggle="tab"
        >
          <i class="material-icons">dashboard</i>
          Dashboard
        </router-link>
      </li>
      <li
        class="nav-item"
        v-if="config.MENU.WORKAPPLICATIONS && getActiveCharacterIdentifier"
      >
        <router-link
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          :to="{ name: 'myApplications' }"
          active-class="active"
          role="tab"
          data-toggle="tab"
          style="border-radius: 0 3px 3px 0"
        >
          <i class="material-icons">work</i>
          Avaldused
        </router-link>
      </li>
      <li class="nav-item">
        <router-link
          :to="{ name: 'policeDashboard' }"
          :class="{ 'text-white': getDarkMode }"
          class="nav-link"
          active-class="active"
          role="tab"
          data-toggle="tab"
          style="border-radius: 0 3px 3px 0"
        >
          <i class="material-icons">policy</i>
          Politsei
        </router-link>
      </li>
      <li class="nav-item">
        <router-link
          :to="{ name: 'ambulanceDashboard' }"
          :class="{ 'text-white': getDarkMode }"
          class="nav-link"
          active-class="active"
          role="tab"
          data-toggle="tab"
          style="border-radius: 0 3px 3px 0"
        >
          <i class="material-icons">local_hospital</i>
          Kiirabi
        </router-link>
      </li>
      <li class="nav-item" v-if="config.MENU.ARK">
        <router-link
          :to="{ name: 'arkDashboard' }"
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          active-class="active"
          role="tab"
          data-toggle="tab"
          style="border-radius: 0 3px 3px 0"
        >
          <i class="material-icons">local_shipping</i>
          ARK
        </router-link>
      </li>
      <li class="nav-item">
        <router-link
          :to="{ name: 'mechanicDashboard' }"
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          active-class="active"
          role="tab"
          data-toggle="tab"
          style="border-radius: 0 3px 3px 0"
        >
          <i class="material-icons">directions_car</i>
          Mehaanik
        </router-link>
      </li>
      <li class="nav-item" v-if="config.MENU.BROKER">
        <router-link
          :to="{ name: 'brokerDashboard' }"
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          active-class="active"
          role="tab"
          data-toggle="tab"
          style="border-radius: 0 3px 3px 0"
        >
          <i class="material-icons">apartment</i>
          Kinnisvara maakler
        </router-link>
      </li>
      <li
        class="nav-item"
        v-if="
          webUserData.roleId == 1 ||
          webUserData.roleId == 3 ||
          logiedInUserRoleId == 1 ||
          logiedInUserRoleId == 3
        "
      >
        <router-link
          :to="{ name: 'adminDashboard' }"
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          active-class="active"
          role="tab"
          data-toggle="tab"
          style="border-radius: 0 3px 3px 0"
        >
          <i class="material-icons">security</i>
          Admin
        </router-link>
      </li>
      <li
        class="nav-item"
        v-if="
          config.MENU.SHOWLOGS &&
          (webUserData.roleId == 1 ||
            webUserData.roleId == 3 ||
            logiedInUserRoleId == 1 ||
            logiedInUserRoleId == 3)
        "
      >
        <router-link
          :to="{ name: 'mainLogs' }"
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          active-class="active"
          role="tab"
          data-toggle="tab"
          style="border-radius: 0 3px 3px 0"
        >
          <i class="material-icons">receipt_long</i>
          Logs
        </router-link>
      </li>
    </ul>
  </nav>
</template>
<script>
import config from "./../../../../config/env";
export default {
  data() {
    return {
      config: config,
    };
  },
  computed: {
    webUserData() {
      return this.$store.getters.getWebUserData;
    },
    logiedInUserRoleId() {
      return this.$store.getters.getLogedInUserRoleId;
    },
    getActiveCharacterIdentifier() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>