<template>
  <appModal
    v-bind:ariaLabel="'gangApplicationFormLabel'"
    v-bind:id="'gangApplicationForm'"
  >
    <template v-slot:header>
      <h5 class="modal-title">
        <strong>Loo uus gangi avaldus</strong>
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </template>
    <template v-slot:body>
      <appSuccessNotification v-if="submitted">
        <b>Taotluse esitamine õnnestus</b>
      </appSuccessNotification>
      <appErrorNotification v-if="validationErrors.count > 0">
        <b>Taotluse esitamine ebaõnnestus</b>
      </appErrorNotification>
      <form>
        <div
          v-for="(question, index) in formData"
          :key="index"
          class="form-group"
          :class="{
            'has-danger': validationErrors[index],
          }"
        >
          <input
            v-if="question.type !== 'textarea'"
            :type="question.type"
            class="form-control"
            :class="{ 'text-white': getDarkMode }"
            :id="'input' + question.name"
            :aria-describedby="question.name + 'Help'"
            :placeholder="question.label"
            v-model.trim="question.answer"
          />
          <textarea
            v-else
            class="form-control"
            :class="{ 'text-white': getDarkMode }"
            :id="'input' + question.name"
            :aria-describedby="question.name + 'Help'"
            :placeholder="question.label"
            v-model.trim="question.answer"
            rows="4"
          />
          <span
            class="material-icons form-control-feedback"
            v-if="validationErrors[index]"
            >clear</span
          >
          <small
            :id="question.name + 'Help'"
            class="form-text text-muted"
            v-if="question.placeholder !== question.label"
            >{{ question.placeholder }}</small
          >
        </div>
      </form>
    </template>
    <template v-slot:footer>
      <appModalCloseButton></appModalCloseButton>
      <appPrimaryButton
        v-bind:label="'Esita'"
        v-bind:loading="loading"
        v-bind:disabled="submitted"
        v-bind:cLickPrevent="true"
        v-on:onSubmit="submit"
      ></appPrimaryButton>
    </template>
  </appModal>
</template>
<script>
import axios from "axios";
import modal from "./../../../parts/modal";
import primaryButton from "./../../../parts/buttons/primaryButton";
import modalCloseButton from "./../../../parts/buttons/modalCloseButton";
import successNotification from "./../../../parts/notifications/success";
import errorNotification from "./../../../parts/notifications/error";
export default {
  components: {
    appModal: modal,
    appPrimaryButton: primaryButton,
    appModalCloseButton: modalCloseButton,
    appSuccessNotification: successNotification,
    appErrorNotification: errorNotification,
  },
  data() {
    return {
      submitted: false,
      loading: false,
      validationErrors: {
        count: 0,
        gangName: false,
        shortDescription: false,
        fieldOfActivity: false,
        members: false,
        appearance: false,
        area: false,
        neededStuff: false,
        rules: false,
      },
      formData: {
        gangName: {
          label: "Grupeeringu nimi",
          name: "gangName",
          placeholder: "Grupeeringu nimi",
          type: "text",
          answer: null,
        },
        shortDescription: {
          label: "lühikirjeldus",
          name: "shortDescription",
          placeholder: "kes olete jne",
          type: "textarea",
          answer: null,
        },
        fieldOfActivity: {
          label: "Millega tegelete/plaanite tegeleda",
          name: "fieldOfActivity",
          placeholder:
            "Kõik legaalsed kui ka illegaalsed tegevused, millega tegelete mängus. Illegaalsel tegevusel peab olema täpselt seletatud kuidas tegutsete ja mis piirkonnas.",
          type: "textarea",
          answer: null,
        },
        members: {
          label: "Liikmete ig ja discordi nimed",
          name: "members",
          placeholder:
            "Lisaks panna ka kirja nende auastmed, võimalusel lühikirjeldus",
          type: "textarea",
          answer: null,
        },
        appearance: {
          label: "Välimus",
          name: "appearance",
          placeholder:
            "Välimus või mingi kindel tunnus, (kui on) mille kaudu ära tuntakse teid: (Karakteri ning sõidukite välimus ja värv + kindel tunnus, mis kõigil liikmetel peab olema. Grupeeringu värv võiks olla kahevärviline).",
          type: "textarea",
          answer: null,
        },
        area: {
          label: "Piirkond",
          name: "area",
          placeholder: "Piirkond kus grupeering tegutseb",
          type: "textarea",
          answer: null,
        },
        neededStuff: {
          label: "Vajalikud asjad grupeeringu jaoks",
          name: "neededStuff",
          placeholder: "Vajalikud asjad grupeeringu jaoks",
          type: "textarea",
          answer: null,
        },
        rules: {
          label: "Grupeeringu sisesed reeglid",
          name: "rules",
          placeholder:
            "Grupeeringu sisesed reeglid, mille järgi on grupeering KOHUSTATUD käituma",
          type: "textarea",
          answer: null,
        },
      },
    };
  },
  methods: {
    submit() {
      this.loading = true;
      this.validateForm()
        .then(() => {
          let questions = [];

          for (const [key, value] of Object.entries(this.formData)) {
            if (value.name != "gangName") {
              questions.push({
                question: value.label,
                answer: value.answer,
              });
            }
          }

          axios
            .post(
              "gangApplication/save",
              {
                identifier: this.getActiveCharacterIdendtifier,
                gangName: this.formData.gangName.answer,
                questions: questions,
              },
              {
                headers: {
                  Authorization: "Bearer " + this.$store.getters.getToken,
                },
              }
            )
            .then(() => {
              this.$emit("submit");
              for (const [key, value] of Object.entries(this.formData)) {
                this.formData[key].answer = null;
              }
              this.loading = false;
            })
            .catch((error) => {
              this.validationErrors.count++;
              console.log(error);
              this.loading = false;
            });
        })
        .catch((error) => {
          this.loading = false;
        });
    },
    validateForm() {
      let formData = this.formData;
      let validationErrors = this.validationErrors;
      validationErrors.count = 0;
      return new Promise(function (resolve, reject) {
        Object.keys(formData).forEach((index) => {
          if (!formData[index].answer) {
            validationErrors[index] = true;
            validationErrors.count++;
          } else {
            validationErrors[index] = false;
          }
        });
        if (validationErrors.count > 0) {
          reject("Validation failed");
        } else {
          resolve(true);
        }
      });
    },
  },
  computed: {
    getActiveCharacterIdendtifier() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>