<template>
  <appModal
    v-bind:ariaLabel="'workApplicationFormLabel'"
    v-bind:id="'workApplicationForm'"
  >
    <template v-slot:header>
      <h5 class="modal-title">
        <strong>Loo uus töö avaldus</strong>
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </template>
    <template v-slot:body>
      <appSuccessNotification v-if="submitted">
        <b>Taotluse esitamine õnnestus</b>
      </appSuccessNotification>
      <appErrorNotification v-if="validationErrors.count > 0">
        <b>Taotluse esitamine ebaõnnestus</b>
      </appErrorNotification>
      <form>
        <p :class="{ 'text-danger': validationErrors.selecteWork }">
          {{ formaData.selecteWork.label }}
        </p>
        <div class="col-12 form-check form-check-radio">
          <label class="form-check-label">
            <input
              class="form-check-input"
              :class="{ 'text-white': getDarkMode }"
              type="radio"
              name="selectWork"
              :value="'police'"
              v-model="formaData.selecteWork.answer"
            />
            Politsei
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>
        <div class="col-12 form-check form-check-radio">
          <label class="form-check-label">
            <input
              class="form-check-input"
              :class="{ 'text-white': getDarkMode }"
              type="radio"
              name="selectWork"
              :value="'ems'"
              v-model="formaData.selecteWork.answer"
            />
            Kiirabi
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>
        <p :class="{ 'text-danger': validationErrors.playingRegularity }">
          {{ formaData.playingRegularity.label }}
        </p>
        <div class="col-12 form-check form-check-radio">
          <label class="form-check-label">
            <input
              class="form-check-input"
              :class="{ 'text-white': getDarkMode }"
              type="radio"
              name="playingRegularity"
              :value="'Iga päev'"
              v-model="formaData.playingRegularity.answer"
            />
            Iga päev
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>
        <div class="col-12 form-check form-check-radio">
          <label class="form-check-label">
            <input
              class="form-check-input"
              :class="{ 'text-white': getDarkMode }"
              type="radio"
              name="playingRegularity"
              :value="'Ainult nädalavahetustel'"
              v-model="formaData.playingRegularity.answer"
            />
            Ainult nädalavahetustel
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>
        <div class="col-12 form-check form-check-radio">
          <label class="form-check-label">
            <input
              class="form-check-input"
              :class="{ 'text-white': getDarkMode }"
              type="radio"
              name="playingRegularity"
              :value="'Ei oska täpselt öelda, oleneb kuidas aega on'"
              v-model="formaData.playingRegularity.answer"
            />
            Ei oska täpselt öelda, oleneb kuidas aega on
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>
        <div class="row">
          <div class="col-6">
            <div
              class="form-group label-floating"
              :class="{ 'has-danger': validationErrors.discordName }"
            >
              <label class="control-label"></label>
              <input
                type="text"
                :class="{ 'text-white': getDarkMode }"
                class="form-control"
                :placeholder="formaData.discordName.label"
                v-model="formaData.discordName.answer"
              />
              <span
                class="material-icons form-control-feedback"
                v-if="validationErrors.discordName"
                >clear</span
              >
            </div>
          </div>
          <div class="col-6">
            <div
              class="form-group label-floating"
              :class="{ 'has-danger': validationErrors.age }"
            >
              <label class="control-label"></label>
              <input
                type="number"
                :class="{ 'text-white': getDarkMode }"
                class="form-control"
                :placeholder="formaData.age.label"
                v-model="formaData.age.answer"
              />
              <span
                class="material-icons form-control-feedback"
                v-if="validationErrors.age"
                >clear</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="form-group label-floating"
              :class="{ 'has-danger': validationErrors.activeServer }"
            >
              <label class="control-label"></label>
              <input
                type="text"
                :class="{ 'text-white': getDarkMode }"
                class="form-control"
                :placeholder="formaData.activeServer.label"
                v-model="formaData.activeServer.answer"
              />
              <span
                class="material-icons form-control-feedback"
                v-if="validationErrors.activeServer"
                >clear</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="form-group label-floating"
              :class="{ 'has-danger': validationErrors.experience }"
            >
              <label class="control-label"></label>
              <input
                type="text"
                :class="{ 'text-white': getDarkMode }"
                class="form-control"
                :placeholder="formaData.experience.label"
                v-model="formaData.experience.answer"
              />
              <span
                class="material-icons form-control-feedback"
                v-if="validationErrors.experience"
                >clear</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="form-group label-floating"
              :class="{ 'has-danger': validationErrors.cv }"
            >
              <label class="control-label"></label>
              <textarea
                class="form-control"
                :class="{ 'text-white': getDarkMode }"
                :placeholder="formaData.cv.label"
                rows="3"
                v-model="formaData.cv.answer"
              ></textarea>
              <span
                class="material-icons form-control-feedback"
                v-if="validationErrors.cv"
                >clear</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="form-group label-floating"
              :class="{ 'has-danger': validationErrors.why }"
            >
              <label class="control-label"></label>
              <input
                type="text"
                :class="{ 'text-white': getDarkMode }"
                class="form-control"
                :placeholder="formaData.why.label"
                v-model="formaData.why.answer"
              />
              <span
                class="material-icons form-control-feedback"
                v-if="validationErrors.why"
                >clear</span
              >
            </div>
          </div>
        </div>
      </form>
    </template>
    <template v-slot:footer>
      <appModalCloseButton></appModalCloseButton>
      <appPrimaryButton
        v-bind:label="'Esita'"
        v-bind:loading="loading"
        v-bind:disabled="submitted"
        v-on:onSubmit="submit"
      ></appPrimaryButton>
    </template>
  </appModal>
</template>
<script>
import axios from "axios";

import modal from "./../../../parts/modal";
import primaryButton from "./../../../parts/buttons/primaryButton";
import modalCloseButton from "./../../../parts/buttons/modalCloseButton";
import successNotification from "./../../../parts/notifications/success";
import errorNotification from "./../../../parts/notifications/error";
import { localeData } from "moment";
export default {
  components: {
    appModal: modal,
    appPrimaryButton: primaryButton,
    appModalCloseButton: modalCloseButton,
    appSuccessNotification: successNotification,
    appErrorNotification: errorNotification,
  },
  data() {
    return {
      submitted: false,
      loading: false,
      validationErrors: {
        count: 0,
        selecteWork: false,
        discordName: false,
        age: false,
        playingRegularity: false,
        activeServer: false,
        experience: false,
        cv: false,
        why: false,
      },
      formaData: {
        selecteWork: {
          label: "Vali amet kellel taotlus esitada",
          answer: null,
        },
        discordName: {
          label: "Sinu Discordi nimi",
          answer: null,
        },
        age: {
          label: "Sinu vanus",
          answer: null,
        },
        playingRegularity: {
          label: "Kui tihti mängid TallinnRp-d",
          answer: null,
        },
        activeServer: {
          label:
            "Nimeta teised serverid, kus mängid ja millises oled kõige aktiivsem?",
          answer: null,
        },
        experience: {
          label:
            "Kas sul on eelnevat kogemust antud ametikohal RP-ga? Kui jah, nimeta server(id)",
          answer: null,
        },
        cv: {
          label: "Sinu (karakteri) CV",
          answer: null,
        },
        why: {
          label: "Miks sa soovid saada tööd antud ametikohal?",
          answer: null,
        },
      },
    };
  },
  methods: {
    submit() {
      this.validateForm()
        .then((res) => {
          this.loading = true;
          axios
            .post(
              "workApplication/save",
              {
                identifier: this.getActiveCharacterIdendtifier,
                questions: this.formaData,
                job: this.formaData.selecteWork.answer,
              },
              {
                headers: {
                  Authorization: "Bearer " + this.$store.getters.getToken,
                },
              }
            )
            .then((response) => {
              this.submitted = true;
              this.loading = false;
              this.$emit("submit");
            })
            .catch((error) => {
              console.log(error);
              this.validationErrors.count++;
              this.loading = false;
            });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    validateForm() {
      let formaData = this.formaData;
      let validationErrors = this.validationErrors;
      validationErrors.count = 0;
      return new Promise(function (resolve, reject) {
        Object.keys(formaData).forEach((index) => {
          if (!formaData[index].answer) {
            validationErrors[index] = true;
            validationErrors.count++;
          } else {
            validationErrors[index] = false;
          }
        });
        if (validationErrors.count > 0) {
          reject("Validation failed");
        } else {
          resolve(true);
        }
      });
    },
  },
  computed: {
    getActiveCharacterIdendtifier() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>
<style scoped>
</style>