<template>
  <div>
    <h5 class="text-primary">
      <strong>Selle kuu annetused:</strong>
    </h5>
    <app-table
      v-bind:fetchingData="fetchingData"
      v-bind:getDonationsData="getThisMonthConfirmedDonations"
      v-bind:deleteFromArray="'confirmed'"
      v-bind:confirmType="'function'"
      v-bind:showConfirmButton="false"
      v-on:confirm-function="() => {}"
    ></app-table>
  </div>
</template>

<script>
import axios from "axios";
import table from './tables/table'
export default {
  components: {
    appTable: table,
  },
  computed: {
    getThisMonthConfirmedDonations() {
      return this.$store.getters.getThisMonthConfirmedDonations
    },
    loading() {
      return this.$store.getters.isDonationsLoading
    },
    fetchingData() {
      return this.$store.getters.isFetchingConfimedData
    },
  },
  methods: {
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
    deleteDonation(id, index) {
      this.$store
        .dispatch("deleteDonation", {
          id: id,
          index: index,
          type: "confirmed",
          token: this.$store.getters.getToken,
        })
    },
    setLoading(status) {
      this.$store.commit("toggleDonationIsLoading", status);
    },
    getVehicleGiftInfo(gifts) {
      return JSON.parse(gifts).vehicle
    },
    getPrioGiftInfo(gifts) {
      return JSON.parse(gifts).prio
    },
    getOtherGiftInfo(gifts) {
      return JSON.parse(gifts).other
    }
  },
  created() {
    this.$store.dispatch("geConfermedDonations", this.$store.getters.getToken);
  },
};
</script>