<template>
  <div>
    <h5 class="text-danger">
      <strong>Ootavad Kinnitust:</strong>
    </h5>
    <app-table
      v-bind:fetchingData="fetchingData"
      v-bind:getDonationsData="getPendingDonations"
      v-bind:deleteFromArray="'pending'"
      v-bind:confirmType="'modal'"
      v-bind:showConfirmButton="true"
      v-on:confirmFunction="() => {}"
    ></app-table>
  </div>
</template>

<script>
import axios from "axios";
import table from './tables/table'

export default {
  components: {
    appTable: table,
  },
  computed: {
    getPendingDonations() {
      return this.$store.getters.getPendingDonations
    },
    fetchingData() {
      return this.$store.getters.isFetchingPendingData
    },
  },
  created() {
    this.$store.dispatch("fetchPendingDonations", this.$store.getters.getToken);
  },
};
</script>