<template>
  <div>
    <h5 class="text-warning">
      <strong>Ootavad Kingitust:</strong>
    </h5>
    <app-table
      v-bind:fetchingData="fetchingData"
      v-bind:getDonationsData="getWaitingGiftsDonations"
      v-bind:deleteFromArray="'waiting'"
      v-bind:confirmType="'function'"
      v-bind:showConfirmButton="true"
      v-on:confirm-function="confirmGift"
    ></app-table>
  </div>
</template>

<script>
import axios from "axios";
import table from './tables/table'

export default {
  components: {
    appTable: table,
  },
  methods: {
    
    confirmGift(data) {
      this.setLoading(true)
      axios.post(
        'admin/donation/confirmGift',
        {id: data.id},
        {headers: { Authorization: "Bearer " + this.$store.getters.getToken }}
      ).then(response => {
        this.$store.dispatch('removeDataFromDonationArray', {index: data.index, type: 'waiting'})
        this.$store.dispatch('geConfermedDonations', this.$store.getters.getToken)
        this.setLoading(false)
      }).catch(error => {
        this.setLoading(false)
      })
    },
    setLoading(status) {
      this.$store.commit("toggleDonationIsLoading", status);
    },
  },
  computed: {
    fetchingData() {
      return this.$store.getters.isFetchingWaitingGiftData
    },
    getWaitingGiftsDonations() {
      return this.$store.getters.getWaitingGiftsDonations
    },
  },
  
  created() {
    this.$store.dispatch("getWaitingGiftDonations", this.$store.getters.getToken);
  },
};
</script>