<template>
  <div class="form-check">
    <label
      class="form-check-label"
      :class="{ 'text-white': getDarkMode, 'text-dark': !getDarkMode }"
    >
      <input
        class="form-check-input"
        type="checkbox"
        :value="value"
        @click="onClick"
      />
      {{ label }}
      <span class="form-check-sign">
        <span class="check"></span>
      </span>
    </label>
  </div>
</template>
<script>
export default {
  props: ["label", "value"],
  methods: {
    onClick() {
      this.$emit("onCheck");
    },
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>