<template>
<div>
    <div class="card-header card-header-primary">
        <p class="category">
            <span v-if="newOwner">{{newOwnerName}}</span>
            <span v-else>{{ ownerData.user.firstname }} {{ ownerData.user.lastname }}</span>
        </p>
    </div>
    <div class="card-body">
      <p>
        <b>Hind:</b>
        {{ownerData.price}}
      </p>
       <button
        class="btn btn-rose"
        v-if="property.owned_properties.length > 0"
        data-toggle="modal"
        :data-target="'#bd-buyback-apartment-modal' + ownerData.id"
      >Osta tagasi</button>
      <button class="btn btn-primary" @click="showSearch = !showSearch">Müü edasi</button>
      <div class="row mt-2" v-if="showSearch">
        <div class="col-12">
          <input
            class="form-control pl-1"
            type="text"
            name="searchBuyer"
            placeholder="otsi ostjat nime järgi"
            v-model.lazy="searchKeyword"
          />
        </div>
      </div>
      <div v-if="showSearch">
        <div class="pt-4">
          <p>Otsingu tulemused:</p>
        </div>
        <div
            class="row pointer"
            v-for="(result, index) in getSearchResults.persons"
            :key="index"
            @click="selectBuyer(
                result.firstname,
                result.lastname,
                result.identifier
            )"
            data-toggle="modal"
            data-target=".bd-sell-apartment-modal"
        >
          <div class="col-12">{{result.firstname}} {{result.lastname}} | {{result.dateofbirth}}</div>
          <hr class="col-12" />
        </div>
      </div>
    </div>
    <!-- Modals -->
    <div class="modal fade bd-buyback-apartment-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" :id="'bd-buyback-apartment-modal' + ownerData.id">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Kinnita tegevus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Oled sa kindel et soovid seda kinnisvara tagasi osta</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary ld-over-full" :class="{running: this.buybackData.isBuybackLoading}" data-dismiss="modal" @click="buyback()">Jah</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ei</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-sell-apartment-modal" tabindex="-1" role="dialog" aria-labelledby="sellModalArea" aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Kinnita tegevus</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Oled sa kindel et soovid seda kinnisvara müüja</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary ld-over-full" :class="{running: this.sellData.isLoading}" data-dismiss="modal" @click="sell()">Jah</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ei</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</template>
<script>
import axios from 'axios'
export default {
    props: ['property', 'ownerData'],
    data() {
        return {
            showSearch: false,
            searchKeyword: null,
            newOwner: null,
            newOwnerName: null,
            buybackData: {
                isBuybackLoading: false,
                buybackError: false,
                buybackSuccess: false
            },
            sellData: {
                isLoading: false,
                error: false,
                successs: false
            }
        }
    },
    methods: {
        buyback() {
            this.buybackData.isBuybackLoading = true
            axios.delete(
                'broker/buyBackProperty',
                {
                    headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken},
                    data: {id: this.property.id, owner: this.ownerData.user.identifier}
                }
            ).then(response => {
                this.buybackData.isBuybackLoading = false
                this.buybackData.buybackSuccess = true
                this.buybackData.buybackError = false
                this.showBuybackModel = false
                this.$emit('loadProperty')
            }).catch(error => {
                console.log(error)
                this.buybackData.isBuybackLoading = false
                this.buybackData.buybackError = true
                this.buybackData.buybackSuccess = false
                this.showBuybackModel = false
            })
        },
        selectBuyer(firstname, lastname, identifier) {
            this.newOwnerName = firstname + ' ' + lastname
            this.newOwner = identifier,
            this.showSearch = false
            this.$store.commit('setSearchWord', '')
            this.$store.commit('setSearchResults', [])
        },
        sell() {
            this.sellData.isLoading = true
            axios.put(
                'broker/sellProperty',
                {id: this.property.id, newOwner: this.newOwner, oldOwner: this.ownerData.user.identifier},
                {headers: {'Authorization': 'Bearer ' + this.$store.getters.getToken}}
            ).then(response => {
                this.sellData.successs = true
                this.sellData.error = false
            }).catch(error => {
                console.log(error)
                this.sellData.successs = false
                this.sellData.error = true
            })
        }
    },
    computed: {
        getSearchResults() {
             return this.$store.getters.getSearchResults
        }
    },
    watch: {
        searchKeyword(newSearch, oldSearch) {
            this.$store.commit('setSearchWord', newSearch)
            if (newSearch.length > 2) {
                this.$store.dispatch('searchAction', this.$store.getters.getToken)
            }
        }
    },
}
</script>