<template>
  <div v-if="!isLoading">
    <div v-if="property.price">
      <div class="row" v-if="!property.is_apartment">
        <div class="col-12">
          <p>
            <b>Kasutajad:</b>
          </p>
          <template v-for="ownerData in property.owned_properties">
            <p
              v-if="!ownerData.is_owner"
              :key="ownerData.id"
            >{{ ownerData.user.firstname }} {{ ownerData.user.lastname }}</p>
          </template>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b>Hind:</b>
          <div
            v-if="priceChangeSuccess"
            class="alert alert-success"
            @click="priceChangeSuccess = !priceChangeSuccess"
          >
            <div class="alert-icon">
              <i class="material-icons">check</i>
            </div>Hind muudetud
          </div>
          <div
            v-if="priceChangeError"
            class="alert alert-danger"
            @click="priceChangeError = !priceChangeError"
          >
            <div class="alert-icon">
              <i class="material-icons">error_outline</i>
            </div>Hinna muutmine ebaõnnestus
          </div>
          <input type="number" name="price" class="form-control" v-model="price" />
          <button class="btn btn-primary" v-if="showPriceChangeBtn" @click="changePrice()">Muuda</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div
            v-if="buybackData.buybackSuccess"
            class="alert alert-success"
            @click="buybackData.buybackSuccess = !buybackData.buybackSuccess"
          >
            <div class="alert-icon">
              <i class="material-icons">check</i>
            </div>Kinnisvara ostetud
          </div>
          <div
            v-if="buybackData.buybackError"
            class="alert alert-danger"
            @click="buybackData.buybackError = !buybackData.buybackError"
          >
            <div class="alert-icon">
              <i class="material-icons">error_outline</i>
            </div>Kinnisvara ostmine ebaõnnestus
          </div>
          <div
            v-if="sellData.successs"
            class="alert alert-success"
            @click="sellData.successs = !sellData.successs"
          >
            <div class="alert-icon">
              <i class="material-icons">check</i>
            </div>Kinnisvara Müüdud
          </div>
          <div
            v-if="sellData.error"
            class="alert alert-danger"
            @click="sellData.error = !sellData.error"
          >
            <div class="alert-icon">
              <i class="material-icons">error_outline</i>
            </div>Kinnisvara müümine ebaõnnestus
          </div>
          <button
            class="btn btn-rose"
            v-if="property.owned_properties.length > 0"
            data-toggle="modal"
            data-target=".bd-buyback-property-modal"
          >Osta tagasi</button>
          <button class="btn btn-primary" @click="search.showSearch = !search.showSearch">
            Müü
            <span v-if="property.owned_properties.length > 0">edasi</span>
          </button>
        </div>
      </div>
      <div class="row mt-2" v-if="search.showSearch">
        <div class="col-12">
          <input
            class="form-control pl-1"
            type="text"
            name="searchBuyer"
            placeholder="otsi ostjat nime järgi"
            v-model.lazy="searchKeyword"
          />
        </div>
      </div>
      <div v-if="search.showSearch">
        <div class="pt-4">
          <p>Otsingu tulemused:</p>
        </div>
        <div
          class="row pointer"
          v-for="(result, index) in getSearchResults.persons"
          :key="index"
          @click="selectBuyer(
                                result.firstname,
                                result.lastname,
                                result.identifier
                            )"
          data-toggle="modal"
          data-target=".bd-sell-property-modal"
        >
          <div class="col-12">{{result.firstname}} {{result.lastname}} | {{result.dateofbirth}}</div>
          <hr class="col-12" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    props: ['isLoading', 'property'],
    data() {
        return {
            isPriceChangeLoading: false,
            priceChangeSuccess: false,
            priceChangeError: false,
            showPriceChangeBtn: false,
            price: 0,
            buybackData: {
                isBuybackLoading: false,
                buybackError: false,
                buybackSuccess: false
            },
            newOwner: null,
            sellData: {
                isLoading: false,
                error: false,
                successs: false
            },
            search: {
                showSearch: false,
            },
            searchKeyword: null,
        }
    },
    watch: {
        price(newPrice, oldPrice) {
            if (newPrice !== this.property.price) {
                this.showPriceChangeBtn = true
            } 
            if (newPrice == this.property.price) {
                this.showPriceChangeBtn = false
            }
        },
        searchKeyword(newSearch, oldSearch) {
            this.$store.commit('setSearchWord', newSearch)
            if (newSearch.length > 2) {
                this.$store.dispatch('searchAction', this.$store.getters.getToken)
            }
        }
    },
}
</script>