<template>
    <div v-if="!isLoading || properties.length > 0">
        <div class="row" v-for="(property, index) in properties" :key="index">
            <div class="col-6">
                {{ property.label }}
            </div>
            <div class="col-6 text-center m-auto">
                {{ property.price }}
            </div>
            <div class="col-12"><hr></div>
        </div>
    </div>
    <p v-else class="m-auto text-center">Andmete laadimine...</p>
</template>
<script>
export default {
    props: ['properties', 'isLoading']
}
</script>