<template>
  <div>
    <div class="row">
      <app-box>
        <template v-slot:icon>perm_identity</template>
        <template v-slot:cardHeader>Top Võlglased</template>
        <template v-slot:content>
          <template
            v-if="
              !isTopMechanicDeptorsLoading ||
              Object.keys(topMechanicDeptors).length > 0
            "
          >
            <div
              class="row"
              v-for="(deptor, index) in topMechanicDeptors"
              :key="index"
            >
              <div class="col-6">{{ deptor.name }}</div>
              <div class="col-6 text-center m-auto">{{ deptor.sum }}</div>
              <div class="col-12">
                <hr />
              </div>
            </div>
          </template>
          <p v-else class="m-auto text-center">Andmete laadimine...</p>
        </template>
      </app-box>
      <app-box>
        <template v-slot:icon>perm_identity</template>
        <template v-slot:cardHeader>Top Töölised</template>
        <template v-slot:content>
          <template
            v-if="
              !isTopMechanicWorkersLoading ||
              Object.keys(topMechanicWorkers).length > 0
            "
          >
            <router-link
              :to="{ name: 'mechanicWorkersList' }"
              tag="div"
              v-if="
                getCharacterData.job == 'deluxe' ||
                getLogedInUserRole == 'admin'
              "
            >
              <appBestWorkers
                :topMechanicWorkers="topMechanicWorkers"
              ></appBestWorkers>
            </router-link>
            <appBestWorkers
              v-bind:topMechanicWorkers="topMechanicWorkers"
              v-else
            ></appBestWorkers>
          </template>
          <p v-else class="m-auto text-center">Andmete laadimine...</p>
        </template>
      </app-box>
    </div>
    <appAddButton
      v-bind:menu="addButtonMenu"
      v-if="
        getCharacterData.job == 'deluxe' ||
        getCharacterData.job == 'offdeluxe' ||
        getLogedInUserRole == 'admin'
      "
    ></appAddButton>
  </div>
</template>
<script>
import box from "./../parts/box";
import addButton from "./../parts/addButton";
import bestWorkers from "./components/bestWorkerRow";
export default {
  components: {
    appBox: box,
    appAddButton: addButton,
    appBestWorkers: bestWorkers,
  },
  data() {
    return {
      addButtonMenu: [
        {
          to: { name: "mechanicReportForm" },
          icon: "note_add",
          label: "Lisa uus kirje",
        },
        {
          to: { name: "mechanicPriceList" },
          icon: "note_add",
          label: "Halda hinnakirja",
        },
      ],
    };
  },
  computed: {
    topMechanicDeptors() {
      return this.$store.getters.getTopMechanicDeptors;
    },
    topMechanicWorkers() {
      return this.$store.getters.getTopMechanicWorkers;
    },
    isTopMechanicDeptorsLoading() {
      return this.$store.getters.isTopMechanicDeptorsLoading;
    },
    isTopMechanicWorkersLoading() {
      return this.$store.getters.isTopMechanicWorkersLoading;
    },
    getFirstCharacterId() {
      return this.$store.getters.getCharactesIdentifiers[0];
    },
    getCharacterData() {
      return this.$store.getters.getCharacter(this.getFirstCharacterId);
    },
    getLogedInUserRole() {
      return this.$store.getters.getLogedInUserRoleName;
    },
  },
  created() {
    if (Object.keys(this.topMechanicDeptors).length < 1) {
      this.$store.dispatch(
        "topMechanicDeptorsAction",
        this.$store.getters.getToken
      );
    }
    this.$store.dispatch(
      "topMechanicWorkersAction",
      this.$store.getters.getToken
    );
    if (
      !this.$store.getters.isWhitelistApplicationOnReview &&
      !this.$store.getters.getCharacterData
    ) {
      this.$store.dispatch("getCharacters", this.$store.getters.getToken);
    }
  },
};
</script>
<style scoped>
</style>