<template>
  <div :class="{ 'text-white': getDarkMode }">
    <h4><strong>Lisa ja muuda hinnakirja</strong></h4>
    <form id="addNewWork">
      <div
        v-if="addNewWorkSuccess"
        class="alert alert-success"
        @click="addNewWorkSuccess = !addNewWorkSuccess"
      >
        <div class="alert-icon"><i class="material-icons">check</i></div>
        Salvestatud
      </div>
      <div
        v-if="addNewWorkError"
        class="alert alert-danger"
        @click="addNewWorkError = !addNewWorkError"
      >
        <div class="alert-icon">
          <i class="material-icons">error_outline</i>
        </div>
        Ups, midagi läks ootamatult valesti.
      </div>
      <textarea
        rows="3"
        placeholder="Sisesta uus töö kirjeldus"
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        v-model="newWork"
      ></textarea>
      <input
        type="text"
        placeholder="Sisesta töö hind"
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        v-model="newPrice"
      />
      <appPrimaryButton
        v-bind:label="'Salvesta'"
        v-bind:loading="newWorkLoading"
        v-bind:clickPrevent="true"
        v-on:onSubmit="addWork()"
      ></appPrimaryButton>
    </form>
    <hr />
    <div class="row">
      <div class="col-8">
        <p>Nimetus</p>
      </div>
      <div class="col-4">
        <p>Hind</p>
      </div>
    </div>
    <template v-if="!loadingWorksList">
      <template class="row" v-for="(work, index) in worksList">
        <appWork
          v-bind:work="work"
          v-bind:index="index"
          :key="work.id"
          v-on:reload="getWorkList()"
        ></appWork>
      </template>
    </template>
    <p v-if="loadingWorksList" class="text-center">Andmete Laadimine ...</p>
  </div>
</template>
<script>
import axios from "axios";
import work from "./components/work";
import primaryButton from "./../../parts/buttons/primaryButton";

export default {
  components: {
    appWork: work,
    appPrimaryButton: primaryButton,
  },
  data() {
    return {
      newWork: "",
      newPrice: "",
      newWorkLoading: false,
      addNewWorkSuccess: false,
      addNewWorkError: false,
      loadingWorksList: false,
      worksList: [],
    };
  },
  methods: {
    addWork() {
      this.newWorkLoading = true;
      axios
        .post(
          "mechanic/workList/add",
          { label: this.newWork, price: this.newPrice },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.getWorkList();
          this.newWorkLoading = false;
          this.addNewWorkSuccess = true;
          this.addNewWorkError = false;
          this.newWork = "";
          this.newPrice = "";
        })
        .catch((error) => {
          console.log(error);
          this.newWorkLoading = false;
          this.addNewWorkSuccess = false;
          this.addNewWorkError = true;
        });
    },
    getWorkList() {
      this.loadingWorksList = true;
      axios
        .get("mechanic/workList/get", {
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.worksList = response.data;
          this.loadingWorksList = false;
        })
        .catch((error) => {
          console.log(error);
          this.loadingWorksList = false;
        });
    },
  },
  created() {
    this.getWorkList();
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>
<style scoped>
</style>