<template>
    <div class="main main-raised mt-5" :class="{'bg-dark': getDarkMode, 'text-white': getDarkMode}">
         <div class="container">
            <div class="section p-3">
                <h3><b>Töö raport</b></h3>
                <div class="row" v-if="submitError">
                    <div class="col-12">
                        <div class="card bg-danger">
                            <div class="card-body">
                                <h5 class="card-category card-category-social">
                                    <i class="material-icons">error</slot></i>
                                    Viga
                                </h5> 
                                <p>Te pole täitnud kõiki kohustulikke väljasid või pole teil luba seda vormi täita</p>  
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h6>Sõiduki info</h6>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" :class="{'text-white': getDarkMode}" placeholder="Sisesta sõiduki number" v-model="formData.vehiclePlate">
                        </div>
                        <template v-if="showVehiclePlateSearch">
                            <div class="col-12">
                                <p class="mt-3">Otsingu tulemused:</p>
                                <div class="row align-items-center" v-for="(result, index) in vehiclePlateSearchResults" :key="'payerSearchList'  + index">
                                    <div class="col-11 pointer" @click="setPlate(result)"><p>{{result.plate}}</p></div>
                                    <hr class="col-11">
                                </div>
                            </div>
                        </template>
                    </div>
                    <hr>
                    <h6>Tehtud tööd</h6>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" :class="{'text-white': getDarkMode}" placeholder="Otsi tööd hinnakirjast" v-model="searchWorkKeyword">
                            <template v-if="showSearchWork">
                                <p class="mt-3">Otsingu tulemused:</p>
                                <div class="row align-items-center" v-for="result in searchWorkResulst" :key="'workList'  + result.id">
                                    <div class="col-4"><p>{{result.label}}</p></div>
                                    <div class="col-4"><p>{{result.price}}</p></div>
                                    <div class="col-4"><button class="btn btn-info" @click="addWork(result)">Lisa</button></div>
                                    <hr class="col-11">
                                </div>
                            </template>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="row align-items-center m-auto" v-for="(work, index) in workList" :key="'finalWorkList' + index">
                            <div class="col-8"><p>{{work.label}}</p></div>
                            <div class="col-4"><p>{{work.price}}</p></div>
                        </div>
                        </div>
                    </div>
                    <hr>
                    <h6>Kasutatud jupid</h6>
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="row align-items-center m-auto">
                                <input type="text" class="form-control col-9" :class="{'text-white': getDarkMode}" placeholder="Sisesta kasutatud jupp" v-model="searchPartKeyword">
                                <div class="col-1"></div>
                                <button class="btn btn-info col-2 m-auto" @click="addPart(searchPartKeyword, false)">Lisa</button>
                            </div>
                            <template v-if="showSearchParts">
                                <p class="mt-3">Otsingu tulemused:</p>
                                <div class="row align-items-center" v-for="result in searchPartResulst" :key="'partsList'  + result.id">
                                    <div class="col-11 pointer" @click="addPart(result.label, true)"><p>{{result.label}}</p></div>
                                    <hr class="col-11">
                                </div>
                            </template>
                        </div>
                        <hr class="col-11 d-xl-none mt-4 mb-4">
                        <div class="col-12 col-xl-6">
                            <div class="row align-items-center m-xl-auto" v-for="(part, index) in partsList" :key="'finalPartList' + index">
                                <div class="col-9"><p>{{part.label}}</p></div>
                                <div class="col-3"><input type="number" class="form-control  text-right" :class="{'text-white': getDarkMode}" v-model="part.price"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h6>Hind Kokku: {{getTotalPrice}}</h6>
                    <hr>

                    <h6>Töö tegija</h6>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" :class="{'text-white': getDarkMode}" placeholder="Sisesta töö tegija nimi" v-model="formData.workerName">
                        </div>
                        <template v-if="showWorkerSearch">
                            <div class="col-12">
                                <p class="mt-3">Otsingu tulemused:</p>
                                <div class="row align-items-center" v-for="(result, index) in workerSearchResults" :key="'workerSearchList'  + index">
                                    <div class="col-11 pointer" @click="setWorker(result)"><p>{{result.firstname}} {{result.lastname}}</p></div>
                                    <hr class="col-11">
                                </div>
                            </div>
                        </template>
                    </div>
                    <hr>
                    <h6>Arve saaja</h6>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" :class="{'text-white': getDarkMode}" placeholder="Sisesta arve saaja nimi" v-model="formData.payerName">
                        </div>
                        <template v-if="showPayerSearch">
                            <div class="col-12">
                                <p class="mt-3">Otsingu tulemused:</p>
                                <div class="row align-items-center" v-for="(result, index) in payerSearchResults" :key="'payerSearchList'  + index">
                                    <div class="col-11 pointer" @click="setPayer(result)"><p>{{result.firstname}} {{result.lastname}}</p></div>
                                    <hr class="col-11">
                                </div>
                            </div>
                        </template>
                    </div>
                    <hr>
                    <h6>Kokkuvõte</h6>
                    <div class="row mt-3">
                        <div class="form-group col-12">
                            <textarea row="3" class="form-control" :class="{'text-white': getDarkMode}" placeholder="Sisesta kokkuvõte" v-model="formData.summary"></textarea>
                        </div>
                    </div>
                    <appPrimaryButton v-bind:label="'Esita'" v-bind:clickPrevent="true" v-bind:loading="submitLoading" v-on:onSubmit="validateAndSubmit"></appPrimaryButton>
                </div>
            </div>
         </div>
    </div>
</template>
<script>
import axios from "axios";

import primaryButton from "./../../parts/buttons/primaryButton";

export default {
  components: {
    appPrimaryButton: primaryButton,
  },
  data() {
    return {
      formData: {
        vehiclePlate: null,
        workerName: null,
        workerHex: null,
        payerName: null,
        payerHex: null,
        summary: null,
      },
      allowSearch: {
        plate: true,
        payer: true,
        worker: true,
      },
      searchWorkKeyword: null,
      searchWorkResulst: [],
      showSearchWork: false,
      submitError: false,
      workList: [],
      searchPartKeyword: null,
      searchPartResulst: [],
      showSearchParts: false,
      partsList: [],
      showWorkerSearch: false,
      workerSearchResults: [],
      showPayerSearch: false,
      payerSearchResults: [],
      showVehiclePlateSearch: false,
      vehiclePlateSearchResults: [],
      submitLoading: false,
    };
  },
  methods: {
    validateAndSubmit() {
      this.submitLoading = true;
      this.submitError = false;
      if (
        !this.formData.vehiclePlate ||
        !this.formData.workerName ||
        !this.formData.workerHex ||
        !this.formData.payerName ||
        !this.formData.payerHex ||
        this.workList.length < 1
      ) {
        this.submitError = true;
        this.submitLoading = false;
        return;
      }

      axios
        .post(
          "mechanic/createReport",
          {
            workerHex: this.formData.workerHex,
            price: this.getTotalPrice,
            vehiclePlate: this.formData.vehiclePlate,
            workList: this.workList,
            partsList: this.partsList,
            summary: this.formData.summary,
            payerHex: this.formData.payerHex,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.submitLoading = false;
          this.$router.replace({ name: "mechanicDashboard" });
        })
        .catch((error) => {
          console.log(error);
          this.submitError = true;
          this.submitLoading = false;
        });
    },
    addWork(result) {
      this.workList.push({ label: result.label, price: result.price });
      this.showSearchWork = false;
    },
    addPart(part, addedFromSearchResulst) {
      let upercasePart = part.charAt(0).toUpperCase() + part.slice(1);
      this.partsList.push({ label: upercasePart, price: 0 });

      if (!addedFromSearchResulst) {
        axios
          .post(
            "mechanic/parts/save",
            { label: upercasePart },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            // do nothing in here
          })
          .catch((error) => {
            console.log(error);
          });
      }

      this.showSearchParts = false;
    },
    setWorker(data) {
      this.allowSearch.worker = false;
      this.formData.workerName = data.firstname + " " + data.lastname;
      this.formData.workerHex = data.identifier;
      this.showWorkerSearch = false;
      this.workerSearchResults = [];
      var v = this;
      setTimeout(function () {
        v.allowSearch.worker = true;
      }, 1000);
    },
    setPayer(data) {
      this.allowSearch.payer = false;
      this.formData.payerName = data.firstname + " " + data.lastname;
      this.formData.payerHex = data.identifier;
      this.showPayerSearch = false;
      this.payerSearchResults = [];
      var v = this;
      setTimeout(function () {
        v.allowSearch.payer = true;
      }, 1000);
    },
    setPlate(data) {
      this.allowSearch.plate = false;
      this.formData.vehiclePlate = data.plate;
      this.showVehiclePlateSearch = false;
      this.vehiclePlateSearchResults = [];
      var v = this;
      setTimeout(function () {
        v.allowSearch.plate = true;
      }, 1000);
    },
  },
  computed: {
    getTotalPrice() {
      let total = 0;
      this.workList.forEach((element) => {
        total = total + parseInt(element.price);
      });

      this.partsList.forEach((element) => {
        total = total + parseInt(element.price);
      });

      return total;
    },
    workerName() {
      return this.formData.workerName;
    },
    payerName() {
      return this.formData.payerName;
    },
    plate() {
      return this.formData.vehiclePlate;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  watch: {
    searchWorkKeyword(keyword) {
      if (keyword.length > 3) {
        axios
          .get("mechanic/workList/search", {
            params: { keyword: this.searchWorkKeyword },
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          })
          .then((response) => {
            this.showSearchWork = true;
            this.searchWorkResulst = response.data;
          })
          .catch((error) => {
            console.log(error);
            this.showSearchWork = false;
          });
      }
    },
    searchPartKeyword(keyword) {
      if (keyword.length > 3) {
        axios
          .get("mechanic/parts/search", {
            params: { keyword: keyword },
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          })
          .then((response) => {
            this.showSearchParts = true;
            this.searchPartResulst = response.data;
          })
          .catch((error) => {
            console.log(error);
            this.showSearchWork = false;
          });
      }
    },
    workerName(name) {
      if (name.length > 2 && this.allowSearch.worker) {
        axios
          .post(
            "search/getResults",
            { search: name },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.showWorkerSearch = true;
            this.workerSearchResults = response.data.results.persons;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    payerName(name) {
      if (name.length > 2 && this.allowSearch.payer) {
        axios
          .post(
            "search/getResults",
            { search: name },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.showPayerSearch = true;
            this.payerSearchResults = response.data.results.persons;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    plate(keyword) {
      if (keyword.length > 2 && this.allowSearch.plate) {
        axios
          .post(
            "search/getResults",
            { search: keyword },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.showVehiclePlateSearch = true;
            this.vehiclePlateSearchResults = response.data.results.vehicles;
            console.log(response.data.results);
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
<style scoped>
</style>