<template>
    <div>
        <p v-if="isWorkersListLoading && workers.length == 0" class="text-center">Andmete laadimine...</p>
        <div class="row">
            <template v-for="(worker, index) in workers">
                <div class="col-12 col-md-6 col-lg-4" v-if="!openedWorker" :key="index">
                    <div class="card clickable" @click="openApp(worker.identifier)">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title text-center">{{ worker.firstname }} {{ worker.lastname }}</h4>
                            <p class="category text-center">{{ worker.dateofbirth }}</p>
                        </div>
                        <div class="card-body">
                            <p><b>Sissekandeid kokku:</b> {{ worker.mechanic_reports.length }}</p>
                        </div>
                    </div>
                </div>
                <template v-else>
                    <div class="col-12" :key="index" v-if="worker.identifier == openedWorker">
                    <div class="card clickable" @click="openApp(worker.identifier)">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">{{ worker.firstname }} {{ worker.lastname }}</h4>
                            <p class="category">{{ worker.dateofbirth }}</p>
                        </div>
                        <div class="card-body">
                            <p><b>Sissekandeid kokku:</b> {{ worker.mechanic_reports.length }}</p>
                            <hr>
                            <div v-for="report in worker.mechanic_reports" :key="report.id">
                                <p><b>Sõiduki numbrimärk:</b> {{ report.car_plate }}</p>
                                <p><b>Tööde nimekiri:</b>
                                    <ul>
                                        <li v-for="(workList, index) in JSON.parse(report.work_list)" :key="'workList' + index">
                                            <div class="row">
                                                <div class="col-6">{{workList.label}}</div>
                                                <div class="col-6">{{workList.price}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </p>
                                <p><b>Sõiduki varuosad/kulu materjalid:</b>
                                    <ul>
                                        <li v-for="(partsList, index) in JSON.parse(report.parts_list)" :key="'partsList' + index">
                                            <div class="row">
                                                <div class="col-6">{{partsList.label}}</div>
                                                <div class="col-6">{{partsList.price}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </p>
                                <p><b>Maksumus:</b> {{ report.job_price }}</p>
                                <p><b>Kokkuvõte:</b> {{ report.summary }}</p>
                                <p><b>Kuupäev:</b> {{ report.created_at }}</p>
                                <hr>
                            </div> 
                        </div>
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4" v-else :key="index">
                    <div class="card clickable" @click="openApp(worker.identifier)">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title text-center">{{ worker.firstname }} {{ worker.lastname }}</h4>
                            <p class="category text-center">{{ worker.dateofbirth }}</p>
                        </div>
                        <div class="card-body">
                            <p><b>Sissekandeid kokku:</b> {{ worker.mechanic_reports.length }}</p>
                        </div>
                    </div>
                    </div>
                </template>
            </template>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            openedWorker: null,
            jobTypes: {
                carTransport: 'Autode transport',
                carFix: 'Auto parandus',
                carTuning: 'Auto tuunimine',
                carDeals: 'Sõidukitega seotud tehingud',
            }
        }
    },
    methods: {
        openApp(identifier) {
            if (identifier == this.openedWorker) {
                this.openedWorker = null
            } else {
                this.openedWorker = identifier
            }
        },
        getJobTypeLabel(jobType) {
            return this.jobTypes[jobType]
        }
    },
    computed: {
        workers() {
            return this.$store.getters.getMechanicWorkers
        },
        isWorkersListLoading() {
            return this.$store.getters.isMechanicWorkersLoading
        }
    },
    created() {
        this.$store.dispatch('mechanicWorkersAction', this.$store.getters.getToken)
    }
}
</script>
<style scoped>
    
</style>