<template>
  <div :class="{ 'text-white': getDarkMode }">
    <h4><strong>LOGS</strong></h4>
    <app-nav @changeJob="changeJob"></app-nav>
    <div class="row">
      <input
        type="text"
        class="form-control col-9 m-auto mt-4"
        placeholder="Otsi"
        v-model="keyword"
      />
    </div>

    <div class="row d-none d-lg-flex mt-4">
      <div class="col-2">
        <p><b>Nimi:</b></p>
      </div>
      <div class="col-12 col-lg-1">
        <p><b>Tegevus:</b></p>
      </div>
      <div class="col-12 col-lg-5">
        <p><b>Ese:</b></p>
      </div>
      <div class="col-12 col-lg-1">
        <p><b>Kogus:</b></p>
      </div>
      <div class="col-12 col-lg-3">
        <p><b>Kuupäev:</b></p>
      </div>
      <hr class="col-12" />
    </div>
    <div class="row" v-for="log in logs" :key="log.id">
      <div class="col-2">
        <p class="d-lg-none"><b>Nimi:</b></p>
        {{ log.name }}
      </div>
      <div class="col-12 col-lg-1">
        <p class="d-lg-none"><b>Tegevus:</b></p>
        {{ log.action }}
      </div>
      <div class="col-12 col-lg-5">
        <p class="d-lg-none"><b>Ese:</b></p>
        {{ log.itemName }}
      </div>
      <div class="col-12 col-lg-1">
        <p class="d-lg-none"><b>Kogus:</b></p>
        {{ log.count }}
      </div>
      <div class="col-12 col-lg-3">
        <p class="d-lg-none"><b>Kuupäev:</b></p>
        {{ log.dateTime }}
      </div>
      <hr class="col-12" />
    </div>
  </div>
</template>
<script>
import nav from "./nav.vue";
import axios from "axios";

export default {
  components: {
    appNav: nav,
  },
  data() {
    return {
      logs: null,
      job: "police",
      keyword: null,
    };
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    getLogs() {
      axios
        .get("logs/getLogs", {
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
          params: {
            job: this.job,
            keyword: this.keyword,
          },
        })
        .then((response) => {
          this.logs = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    changeJob(job) {
      this.job = job;
    },
  },
  created() {
    this.getLogs();
  },
  watch: {
    job(newJob) {
      this.getLogs();
    },
    keyword(newKeyword) {
      this.getLogs();
    },
  },
};
</script>
<style scoped>
</style>