<template>
  <div class="row">
    <ul class="nav nav-pills nav-pills-icons m-auto" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          :class="{ 'text-white': getDarkMode }"
          href="#"
          role="tab"
          data-toggle="tab"
          @click="changeJob('police')"
        >
          <i class="material-icons">policy</i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          href="#"
          role="tab"
          data-toggle="tab"
          @click="changeJob('mechanic')"
        >
          <i class="material-icons">directions_car</i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          :class="{ 'text-white': getDarkMode }"
          href="#"
          role="tab"
          data-toggle="tab"
          @click="changeJob('ambulance')"
        >
          <i class="material-icons">local_hospital</i>
        </a>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  methods: {
    changeJob(job) {
      this.$emit("changeJob", job);
    },
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>
<style scoped>
</style>