<template>
  <appModal
    v-bind:ariaLabel="'adminPenaltyFormModalLabel'"
    v-bind:id="'adminPenaltyFormModal'"
  >
    <template v-slot:header>
      <strong>Lisa admin karistus</strong>
    </template>
    <template v-slot:body>
      <appMessage v-bind:success="success" v-bind:error="error"></appMessage>
      <textarea
        v-if="
          getGodRoles.includes(getLogedInUserRole) &&
          web_user_id != getLogedInUserWebId
        "
        class="form-control"
        :class="{ 'text-white': getDarkMode }"
        rows="3"
        placeholder="Sisesta karistuse põhjus"
        v-model="reason"
      ></textarea>
      <p v-else>Sul pole õigust seda tegevust teha</p>
    </template>
    <template v-slot:footer>
      <template
        v-if="
          getGodRoles.includes(getLogedInUserRole) &&
          web_user_id != getLogedInUserWebId
        "
      >
        <button class="btn btn-warning m-2" @click="addPunishment()">
          Lisa karisuts
        </button>
        <button class="btn btn-rose m-2" @click="addWhitelistBan()">
          Määra WL Ban
        </button>
      </template>
    </template>
  </appModal>
</template>
<script>
import modal from "./../../parts/modal";
import message from "./../../parts/message";
import axios from "axios";

export default {
  props: ["identifier", "web_user_id"],
  components: {
    appModal: modal,
    appMessage: message,
  },
  data() {
    return {
      isLoading: false,
      reason: "",
      success: false,
      error: false,
    };
  },
  computed: {
    getGodRoles() {
      return this.$store.getters.getGodRoles;
    },
    getLogedInUserRole() {
      return this.$store.getters.getLogedInUserRoleName;
    },
    getLogedInUserWebId() {
      return this.$store.getters.getLogedInUserWebId;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    addPunishment() {
      this.isLoading = true;
      axios
        .post(
          "admin/penalty/addPunishment",
          { webUserId: this.web_user_id, reason: this.reason },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.$store.dispatch("latesSearchedCharacterData", {
            token: this.$store.getters.getToken,
            hex: this.identifier,
          });
          this.isLoading = false;
          this.error = false;
          this.success = true;
        })
        .catch((error) => {
          console.log(error);
          this.isLoading = false;
          this.error = true;
          this.success = false;
        });
    },
    addWhitelistBan() {
      this.isLoading = true;
      axios
        .put(
          "admin/penalty/addWhitelistBan",
          { webUserId: this.web_user_id, reason: this.reason },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.$store.dispatch("latesSearchedCharacterData", {
            token: this.$store.getters.getToken,
            hex: this.identifier,
          });
          this.isLoading = false;
          this.error = false;
          this.success = true;
        })
        .catch((error) => {
          console.log(error);
          this.isLoading = false;
          this.error = true;
          this.success = false;
        });
    },
    removeWhitelistBan() {
      this.isLoading = true;
      axios
        .put(
          "admin/penalty/removeWhitelistBan",
          { webUserId: this.web_user_id },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.$store.dispatch("latesSearchedCharacterData", {
            token: this.$store.getters.getToken,
            hex: this.identifier,
          });
          this.isLoading = false;
          this.error = false;
          this.success = true;
        })
        .catch((error) => {
          console.log(error);
          this.isLoading = false;
          this.error = true;
          this.success = false;
        });
    },
  },
};
</script>
<style scoped>
</style>