<template>
  <div>
    <!-- Wanted notification -->
    <div class="row" v-if="getWantedRecords && getWantedRecords.is_wanted">
      <div class="col-12 alert alert-danger text-center">
        <div class="alert-icon mt-2 ml-1">
          <i class="material-icons">pan_tool</i>
        </div>
        <button
          type="button"
          class="close"
          data-toggle="modal"
          data-target="#wantedRemoveModal"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h6>Isik on tagaotsitav</h6>
        <p class="text-left mt-5">
          <b>Põhjus:</b>
          {{ getWantedRecords.reason }}
        </p>
        <p class="text-left mt-2">
          <b>Koostaja:</b>
          {{ getWantedRecords.officer.firstname }}
          {{ getWantedRecords.officer.lastname }}
        </p>
      </div>
      <div
        class="modal fade"
        id="wantedRemoveModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="wantedRemoveModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="wantedRemoveModalLabel">
                Kinnita tegvus
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Oled kindel et soovid eemaldada isikult tagaotsitavust</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Sulge
              </button>
              <button
                data-dismiss="modal"
                aria-label="Close"
                type="button"
                class="btn btn-primary ld-over-full"
                :class="{ running: isWantedRemovingLoading }"
                @click="removeWanted()"
              >
                Eemalda
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Wl ban notification -->
    <appWlBanMessage
      v-bind:isBanned="isBanned"
      v-bind:banReason="
        getPunishements.length > 0 && getPunishements[0].reason
          ? getPunishements[0].reason
          : ''
      "
      v-bind:identifier="this.$route.params.hex"
      v-bind:webUserId="getWebUserData.id"
    ></appWlBanMessage>
    <div class="row">
      <appIdCard
        v-bind:userDataLoading="isLatestSeachedCharacterDataLoading"
        v-bind:characterData="getCharacterdata"
      ></appIdCard>
      <appLicenses
        v-bind:isLicensesLoading="isLicensesLoading"
        v-bind:licenses="getLicenses"
        v-bind:identifier="getCharacterdata.identifier"
        v-bind:isLogedInUserData="false"
      ></appLicenses>
    </div>
    <div class="row">
      <appMoney
        v-bind:userDataLoading="false"
        v-bind:characterData="getCharacterdata"
        v-bind:bills="getBills"
      ></appMoney>
      <appCompanyMoney
        v-bind:userDataLoading="isCompanyMoneyLoading"
        v-bind:identifier="getCharacterdata.identifier"
        v-bind:companyMoney="getCompanyMoney"
      ></appCompanyMoney>
    </div>
    <div class="row">
      <appCarsCount
        v-bind:isCarsLoading="isCarsLoading"
        v-bind:carsCount="getCarsCount"
        v-bind:getCarsCountOutsideGarage="getCarsCountOutsideGarage"
        v-bind:to="{
          name: 'searchedUserCars',
          params: { hex: $route.params.hex },
        }"
      ></appCarsCount>
      <appPropertyList
        v-bind:isPropertiesLoading="isPropertiesLoading"
        v-bind:properties="getProperties"
        v-bind:isHousesLodaing="isHousesLoading"
        v-bind:houses="getHouses"
      ></appPropertyList>
    </div>
    <div class="row">
      <appCriminalRecordsCount
        v-bind:isCriminalRecordsCountLoading="isCriminalRecordsLoading"
        v-bind:criminalRecordCounts="getCriminalRecordsCount"
        v-bind:to="{
          name: 'searchedUserCriminalRecords',
          params: { hex: $route.params.hex },
        }"
      ></appCriminalRecordsCount>
      <appMedicalRecordsCount
        v-bind:isMedicalRecordsCountLoading="isMedicalHistoryLoading"
        v-bind:medicalRecordsCount="getMedicalRecordsCount"
        v-bind:to="{
          name: 'searchedUserMedicalRecords',
          params: { hex: $route.params.hex },
        }"
      ></appMedicalRecordsCount>
    </div>
    <div class="row" v-if="getGodRoles.includes(getLogedInWebUserRole)">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Adminite poolt määratud karisutsed</h4>
          </div>
          <div class="card-body">
            <div v-for="punishment in getPunishements" :key="punishment.id">
              <p>
                <b>Karistuse põhjus:</b>
                {{ punishment.reason }}
              </p>
              <p>
                <b>Kuupäev:</b>
                {{ punishment.updated_at }}
              </p>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <appAddButton v-bind:menu="addButtonMenu"></appAddButton>
    <appMedicalForm v-bind:patientId="getCharacterdata"></appMedicalForm>
    <appPoliceForm v-bind:criminalId="getCriminalId"></appPoliceForm>
    <appWantedForm v-bind:criminalId="getCriminalId"></appWantedForm>
    <appAdminPenalty
      v-bind:identifier="getCharacterdata.identifier"
      v-bind:web_user_id="getWebUserData.id"
    ></appAdminPenalty>
    <appMechanicBillModal
      v-bind:clientId="getCharacterdata.identifier"
    ></appMechanicBillModal>
    <appPoliceBillModal
      v-bind:clientId="getCharacterdata.identifier"
    ></appPoliceBillModal>
    <appAmbulanceBillModal
      v-bind:clientId="getCharacterdata.identifier"
    ></appAmbulanceBillModal>
  </div>
</template>
<script>
import axios from "axios";

import idcard from "./../parts/user/idcard";
import licenses from "./../parts/user/licenses";
import money from "./../parts/user/money";
import companyMoney from "./../parts/user/companyMoney";
import carsCount from "./../parts/user/carsCount";
import propertyList from "./../parts/user/propertyList";
import criminalRecordsCount from "./../parts/user/criminalRecordsCount";
import medicalRecordsCount from "./../parts/user/medicalRecordsCount";
import addButton from "./../parts/addButton";
import medicalForm from "./../parts/user/forms/medical";
import policeForm from "./../parts/user/forms/criminal";
import wantedForm from "./../parts/user/forms/wanted";
import adminPenalty from "./adminPenalty";
import wlBanMessage from "./../parts/user/wlBanMessage";
import mechanicBillModal from "./../parts/user/forms/mechanicBill";
import policeBillModal from "./../parts/user/forms/policeBill";
import ambulanceBillModal from "./../parts/user/forms/ambulanceBill";

export default {
  components: {
    appIdCard: idcard,
    appLicenses: licenses,
    appMoney: money,
    appCompanyMoney: companyMoney,
    appCarsCount: carsCount,
    appPropertyList: propertyList,
    appCriminalRecordsCount: criminalRecordsCount,
    appMedicalRecordsCount: medicalRecordsCount,
    appAddButton: addButton,
    appMedicalForm: medicalForm,
    appPoliceForm: policeForm,
    appWantedForm: wantedForm,
    appAdminPenalty: adminPenalty,
    appWlBanMessage: wlBanMessage,
    appMechanicBillModal: mechanicBillModal,
    appPoliceBillModal: policeBillModal,
    appAmbulanceBillModal: ambulanceBillModal,
  },
  data() {
    return {
      criminalId: null,
      isWantedRemovingLoading: false,
    };
  },
  methods: {
    removeWanted() {
      this.isWantedRemovingLoading = true;
      axios
        .delete("police/removeWantedFromperson", {
          params: { wantedId: this.getWantedRecords.id },
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.$store.dispatch("latesSearchedCharacterData", {
            token: this.$store.getters.getToken,
            hex: this.$route.params.hex,
          });
          this.isWantedRemovingLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.isWantedRemovingLoading = false;
        });
    },
  },
  computed: {
    getCarsCount() {
      return this.getCars.length;
    },
    getCarsCountOutsideGarage() {
      let count = 0;
      this.getCars.forEach((car) => {
        if (!car.stored) {
          count++;
        }
      });

      return count;
    },
    getCharacterdata() {
      return this.$store.getters.getLatestSearchedCharacterData;
    },
    getWebUserData() {
      return this.$store.getters.getLatestSearchedWebUserData;
    },
    isLatestSeachedCharacterDataLoading() {
      return this.$store.getters.isLatestSeachedCharacterDataLoading;
    },
    getLicenses() {
      return this.$store.getters.getLatestSearchedCharacterLicenses;
    },
    isLicensesLoading() {
      return this.$store.getters.isLatestSeachedCharacterLicensesLoading;
    },
    getCompanyMoney() {
      return this.$store.getters.getLatestSearchedCharacterCompanyMoney;
    },
    isCompanyMoneyLoading() {
      return this.$store.getters.isLatestSeachedCharacterCompanyMoneyLoading;
    },
    getCars() {
      return this.$store.getters.getLatestSearchedCharacterCars;
    },
    isCarsLoading() {
      return this.$store.getters.isLatestSeachedCharacterCarsLoading;
    },
    getProperties() {
      return this.$store.getters.getLatestSearchedCharacterProperties;
    },
    isPropertiesLoading() {
      return this.$store.getters.isLatestSeachedCharacterPropertiesLoading;
    },
    getHouses() {
      return this.$store.getters.getLatestSearchedCharacterHouses;
    },
    isHousesLoading() {
      return this.$store.getters.isLatestSeachedCharacterHousesLoading;
    },
    getCriminalRecordsCount() {
      return this.$store.getters.getLatestSearchedCharacterCriminalRecordsCount;
    },
    isCriminalRecordsLoading() {
      return this.$store.getters.isLatestSeachedCharacterCriminalRecordsLoading;
    },
    getMedicalRecordsCount() {
      return this.$store.getters.getLatestSearchedCharacterMedicalRecordsCount;
    },
    isMedicalHistoryLoading() {
      return this.$store.getters.isLatestSeachedCharacterMedicalHistoryLoading;
    },
    getWantedRecords() {
      return this.$store.getters.getLatestSeachedCharacterWantedRecords;
    },
    addButtonMenu() {
      return [
        {
          to: "#",
          icon: "note_add",
          label: "Lisa meditsiiniline kirje",
          dataToggle: "modal",
          dataTarget: "#medicalRecordFormModal",
        },
        {
          to: "#",
          icon: "note_add",
          label: "Lisa politsei sissekanne",
          dataToggle: "modal",
          dataTarget: "#criminalRecordFormModal",
        },
        {
          to: "#",
          icon: "pan_tool",
          label: "Lisa isik tagaotsitavaks",
          dataToggle: "modal",
          dataTarget: "#wantedFormModal",
        },
        {
          to: "#",
          icon: "attach_money",
          label: "Lisa auto teisaldamise arve",
          dataToggle: "modal",
          dataTarget: "#mechanicBillModal",
        },
        {
          to: "#",
          icon: "attach_money",
          label: "Lisa politsei arve",
          dataToggle: "modal",
          dataTarget: "#policeBillModal",
        },
        {
          to: "#",
          icon: "attach_money",
          label: "Lisa kiirabi arve",
          dataToggle: "modal",
          dataTarget: "#ambulanceBillModal",
        },
        {
          to: "#",
          icon: "report_problem",
          label: "Lisa admin karistus",
          dataToggle: "modal",
          dataTarget: "#adminPenaltyFormModal",
        },
      ];
    },
    getCriminalId() {
      return this.criminalId;
    },
    getLogedInWebUserRole() {
      return this.$store.getters.getLogedInUserRoleName;
    },
    getGodRoles() {
      return this.$store.getters.getGodRoles;
    },
    getPunishements() {
      return this.$store.getters.getLatestSeachedCharacterPunishments;
    },
    isBanned() {
      return this.$store.getters.isLatestSearchedCharaceterBanned;
    },
    getBills() {
      return this.$store.getters.getLatestSearchedCharaceterBills;
    },
  },
  watch: {
    "$route.params.hex"(hex) {
      this.$store.dispatch("latesSearchedCharacterData", {
        token: this.$store.getters.getToken,
        hex: this.$route.params.hex,
      });
      this.$store.dispatch("companyMoneyAction", {
        token: this.$store.getters.getToken,
        hex: this.$route.params.hex,
      });
      this.criminalId = hex;
    },
  },
  created() {
    this.$store.dispatch("latesSearchedCharacterData", {
      token: this.$store.getters.getToken,
      hex: this.$route.params.hex,
    });
    this.$store.dispatch("companyMoneyAction", {
      token: this.$store.getters.getToken,
      hex: this.$route.params.hex,
    });
    this.criminalId = this.$route.params.hex;
  },
};
</script>
<style scoped>
</style>
