<template>
  <appCriminalRecords
    v-bind:cases="cases"
    v-bind:isLoading="isCriminalRecordsLoading"
    v-bind:identifier="characterData.identifier"
    v-bind:isLogedInUserCases="false"
  ></appCriminalRecords>
</template>
<script>
import criminalRecords from "./../parts/user/criminalRecords";
export default {
  components: {
    appCriminalRecords: criminalRecords,
  },
  data() {
    return {};
  },
  computed: {
    cases() {
      return this.$store.getters.getLatestSearchedCharacterCriminalRecords;
    },
    isCriminalRecordsLoading() {
      return this.$store.getters.isLatestSeachedCharacterCriminalRecordsLoading;
    },
    characterData() {
      return this.$store.getters.getLatestSearchedCharacterData;
    },
  },
};
</script>
<style scoped>
</style>