<template>
  <appMedicalRecords
    v-bind:cases="cases"
    v-bind:isLoading="isMedicalRecordsLoading"
    v-bind:identifier="characterData.identifier"
    v-bind:isLogedInUserCases="false"
  ></appMedicalRecords>
</template>
<script>
import medicalRecords from "./../parts/user/medicalRecords";
export default {
  components: {
    appMedicalRecords: medicalRecords,
  },
  data() {
    return {
      openCase: null,
    };
  },
  computed: {
    cases() {
      return this.$store.getters.getLatestSearchedCharacterMedicalHistory;
    },
    isMedicalRecordsLoading() {
      return this.$store.getters.isLatestSeachedCharacterMedicalHistoryLoading;
    },
    characterData() {
      return this.$store.getters.getLatestSearchedCharacterData;
    },
  },
};
</script>
<style scoped>
.clickable:hover {
  cursor: pointer;
}
</style>