<template>
    <appCars
        v-bind:cars="cars"
        v-bind:characterData="getCharacterData"
        v-bind:isCarsLoadin="isCarsLoadin"
        v-bind:isLogedInUserCars="false">
    </appCars>
</template>
<script>
import cars from "./../parts/user/cars";
export default {
    components: {
        appCars: cars
    },
    data() {
        return {}
    },
    computed: {
        cars() {
            let cars = this.$store.getters.getLatestSearchedCharacterCars
            if(cars.length > 0) {
                return cars
            }

            this.$store.dispatch('latesSearchedCharacterData', {token: this.$store.getters.getToken, hex: this.$route.params.hex})
            return this.$store.getters.getLatestSearchedCharacterCars
        },
        getCharacterData() {
            return this.$store.getters.getLatestSearchedCharacterData
        },
        isCarsLoadin() {
            return this.$store.getters.isLatestSeachedCharacterCarsLoading
        }
    },
     watch: {
        '$route.params.hex'(hex) {
            this.$store.dispatch('latesSearchedCharacterData', {token: this.$store.getters.getToken, hex: this.$route.params.hex})
        }
    },
    created() {
        this.$store.dispatch('latesSearchedCharacterData', {token: this.$store.getters.getToken, hex: this.$route.params.hex})
    }
}
</script>
<style scoped>
</style>