<template>
    <div>
        <div class="row" v-for="(worker, index) in topMechanicWorkers" :key="index">
            <div class="col-6">
                {{ worker.name }}
            </div>
            <div class="col-6 text-center m-auto">
                {{ worker.amount }}
            </div>
            <div class="col-12"><hr></div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['topMechanicWorkers']
}
</script>