<template>
  <div>
    <div
      class="row point"
      data-toggle="modal"
      :data-target="'#changeWork' + index"
    >
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          :class="{ 'text-white': getDarkMode }"
          v-model="work.label"
        />
      </div>
      <div class="col-4">
        <input
          type="number"
          class="form-control"
          :class="{ 'text-white': getDarkMode }"
          v-model="work.price"
        />
      </div>
    </div>
    <appModal
      v-bind:ariaLabel="'changeWorkLabel'"
      v-bind:id="'changeWork' + index"
    >
      <template v-slot:header>Muuda hinnakirja</template>
      <template v-slot:body>
        <div
          v-if="success"
          class="alert alert-success"
          @click="success = !success"
        >
          <div class="alert-icon">
            <i class="material-icons">check</i>
          </div>
          Salvestatud
        </div>
        <div v-if="error" class="alert alert-danger" @click="error = !error">
          <div class="alert-icon">
            <i class="material-icons">error_outline</i>
          </div>
          Ups, midagi läks ootamatult valesti.
        </div>
        <div class="row">
          <div class="col-8">
            <input
              type="text"
              class="form-control"
              :class="{ 'text-white': getDarkMode }"
              v-model="work.label"
            />
          </div>
          <div class="col-4">
            <input
              type="number"
              class="form-control"
              :class="{ 'text-white': getDarkMode }"
              v-model="work.price"
            />
          </div>
        </div>
      </template>
      <template v-slot:footer>
        <appPrimaryButton
          v-bind:label="'Salvesta'"
          v-bind:loading="loading"
          v-on:onSubmit="update(work.id, work.label, work.price)"
        ></appPrimaryButton>
        <appRoseButton
          v-bind:label="'Kustuta'"
          v-bind:loading="loading"
          v-bind:dataDismiss="true"
          v-on:onSubmit="deleteWork(work.id)"
        ></appRoseButton>
      </template>
    </appModal>
  </div>
</template>
<script>
import axios from "axios";
import modal from "./../../../parts/modal";
import primaryButton from "./../../../parts/buttons/primaryButton";
import roseButton from "./../../../parts/buttons/roseButton";
export default {
  components: {
    appModal: modal,
    appPrimaryButton: primaryButton,
    appRoseButton: roseButton,
  },
  props: ["work", "index"],
  data() {
    return {
      loading: false,
      success: false,
      error: false,
    };
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    update(id, label, price) {
      this.loading = true;
      axios
        .put(
          "mechanic/workList/update",
          { id: id, label: label, price: price },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.loading = false;
          this.success = true;
          this.error = false;
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
          this.success = false;
          this.error = true;
        });
    },
    deleteWork(id) {
      this.loading = true;
      axios
        .delete("mechanic/workList/delete", {
          params: { id: id },
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.$emit("reload");
          this.loading = false;
          this.success = true;
          this.error = false;
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
          this.success = false;
          this.error = true;
        });
    },
  },
};
</script>
<style scoped>
</style>