<template>
  <div>
    <p v-if="fetchingData" class="text-center">Andmete laadimine...</p>
    <div v-else class="row d-none d-xl-flex">
      <div class="col-12 col-xl-2">
        <p>
          <b>Email:</b>
        </p>
      </div>
      <div class="col-12 col-xl-3">
        <p>
          <b>Annetuse Selgitus:</b>
        </p>
      </div>
      <div class="col-12 col-xl-3">
        <p>
          <b>Kingitused:</b>
        </p>
      </div>
      <div class="col-12 col-xl-1">
        <p>
          <b>Loodud:</b>
        </p>
      </div>
      <div class="col-12 col-xl-3">
        <p>
          <b>tegevused:</b>
        </p>
      </div>
      <hr class="col-12" />
    </div>
    <div
      class="row"
      v-for="(donationData, index) in getDonationsData"
      :key="donationData.id"
    >
      <div class="col-12 col-xl-2">
        <p class="d-xl-none">
          <b>Email:</b>
        </p>
        {{ donationData.web_user.email }}
      </div>
      <div class="col-12 col-xl-3">
        <p class="d-xl-none">
          <b>Annetuse Selgitus:</b>
        </p>
        {{ donationData.explanation }}
      </div>
      <div class="col-12 col-xl-3">
        <p class="d-xl-none">
          <b>Kingitused:</b>
        </p>
        {{ getVehicleGiftInfo(donationData.gifts) ? "Sõiduk; " : null }}
        {{ getPrioGiftInfo(donationData.gifts) ? "Eelsisjärjekord; " : null }}
        {{ getOtherGiftInfo(donationData.gifts) ? "Muu; " : null }}
      </div>
      <div class="col-12 col-xl-1">
        <p class="d-xl-none">
          <b>Loodud:</b>
        </p>
        {{ formatDate(donationData.created_at) }}
      </div>
      <div class="col-12 col-xl-3 text-xl-center">
        <appSuccessButton
          v-if="confirmType == 'modal' && showConfirmButton"
          v-bind:label="'Kinnita'"
          v-bind:loading="isLoading"
          :data-toggle="'modal'"
          :data-target="'#donationAccept' + donationData.id"
        />

        <appSuccessButton
          v-if="showConfirmButton && confirmType !== 'modal'"
          v-bind:label="'Kinnita'"
          v-bind:loading="isLoading"
          v-on:onSubmit="
            $emit('confirm-function', { id: donationData.id, index: index })
          "
        />
        <appDangerButton
          v-bind:label="'Eemalda'"
          v-bind:loading="isLoading"
          v-on:onSubmit="deleteDonation(donationData.id, index)"
        />
      </div>
      <hr class="col-12" />
      <app-confirm-modal
        v-if="confirmType == 'modal'"
        v-bind:id="donationData.id"
        v-bind:index="index"
      ></app-confirm-modal>
    </div>
  </div>
</template>

<script>
import confirmModal from "./../modals/confirm";
import dangerButton from "./../../../../../parts/buttons/dangerButton";
import successButton from "./../../../../../parts/buttons/successButton";
export default {
  components: {
    appConfirmModal: confirmModal,
    appDangerButton: dangerButton,
    appSuccessButton: successButton,
  },
  props: [
    "fetchingData",
    "getDonationsData",
    "deleteFromArray",
    "confirmType",
    "showConfirmButton",
  ],
  methods: {
    getVehicleGiftInfo(gifts) {
      return JSON.parse(gifts).vehicle;
    },
    getPrioGiftInfo(gifts) {
      return JSON.parse(gifts).prio;
    },
    getOtherGiftInfo(gifts) {
      return JSON.parse(gifts).other;
    },
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
    deleteDonation(id, index) {
      this.$store.dispatch("deleteDonation", {
        id: id,
        index: index,
        type: this.deleteFromArray,
        token: this.$store.getters.getToken,
      });
    },
  },
  computed: {
    isLoading() {
      return this.$store.getters.isDonationsLoading;
    },
  },
};
</script>
<style scoped>
</style>