<template>
  <div v-if="getCharacterData">
    <div class="row">
      <appIdCard
        v-bind:userDataLoading="isCharacterLoading"
        v-bind:characterData="getCharacterData"
      ></appIdCard>
      <appLicences
        v-bind:isLicensesLoading="isCharacterLoading"
        v-bind:licenses="getCharacterData ? getCharacterData.licenses : null"
        v-bind:identifier="activeCharacterIdentifer"
      ></appLicences>
    </div>
    <div class="row">
      <appMoney
        v-bind:userDataLoading="isCharacterLoading"
        v-bind:characterData="getCharacterData"
        v-bind:bills="getCharacterData ? getCharacterData.bills : null"
      ></appMoney>
      <appCompanyMoney
        v-bind:userDataLoading="isCharacterLoading"
        v-bind:identifier="activeCharacterIdentifer"
        v-bind:companyMoney="companyMoney"
      ></appCompanyMoney>
    </div>
    <div class="row">
      <appCarsCount
        v-bind:isCarsLoading="isCharacterLoading"
        v-bind:carsCount="
          getCharacterData ? getCharacterData.carsCounts.total : 0
        "
        v-bind:getCarsCountOutsideGarage="
          getCharacterData ? getCharacterData.carsCounts.outsideGarage : 0
        "
        v-bind:to="{ name: 'userCars' }"
      ></appCarsCount>
      <appPropertyList
        v-bind:isPropertiesLoading="isCharacterLoading"
        v-bind:properties="
          getCharacterData && getCharacterData.properties
            ? getCharacterData.properties
            : []
        "
        v-bind:isHousesLodaing="isCharacterLoading"
        v-bind:houses="
          getCharacterData && getCharacterData.houses
            ? getCharacterData.houses
            : []
        "
      ></appPropertyList>
    </div>
    <div class="row">
      <appCriminalRecordsCount
        v-bind:isCriminalRecordsCountLoading="isCharacterLoading"
        v-bind:criminalRecordCounts="
          getCharacterData ? getCharacterData.criminalRecords.counts : null
        "
        v-bind:to="{ name: 'userCriminalRecords' }"
      ></appCriminalRecordsCount>
      <appMedicalRecordsCount
        v-bind:isMedicalRecordsCountLoading="isCharacterLoading"
        v-bind:medicalRecordsCount="
          getCharacterData ? getCharacterData.medicalRecords.counts : null
        "
        v-bind:to="{ name: 'userMedicalRecords' }"
      ></appMedicalRecordsCount>
    </div>
    <div class="row">
      <appSoftSkills
        v-bind:userDataLoading="isCharacterLoading"
        v-bind:skills="getCharacterData ? getCharacterData.softSkills : null"
        v-if="config.SKILLS"
      ></appSoftSkills>
    </div>
    <!-- <appRemoveKeybindModal></appRemoveKeybindModal>
    <appRemoveClothesModal></appRemoveClothesModal> -->
  </div>
</template>
<script>
import idcard from "./../parts/user/idcard";
import licenses from "./../parts/user/licenses";
import money from "./../parts/user/money";
import companyMoney from "./../parts/user/companyMoney";
import carsCount from "./../parts/user/carsCount";
import propertyList from "./../parts/user/propertyList";
import criminalRecordsCount from "./../parts/user/criminalRecordsCount";
import medicalRecordsCount from "./../parts/user/medicalRecordsCount";
import softSkills from "./../parts/user/softskills";
import removeKeybindModal from "./parts/removeKeybindModal";
import removeClothesModal from "./parts/removeClothesModal";

import config from "./../../../../config/env";
export default {
  props: ["activeCharacterIdentifer"],
  components: {
    appIdCard: idcard,
    appLicences: licenses,
    appMoney: money,
    appCompanyMoney: companyMoney,
    appCarsCount: carsCount,
    appPropertyList: propertyList,
    appCriminalRecordsCount: criminalRecordsCount,
    appMedicalRecordsCount: medicalRecordsCount,
    appRemoveKeybindModal: removeKeybindModal,
    appRemoveClothesModal: removeClothesModal,
    appSoftSkills: softSkills,
  },
  data() {
    return {
      companyMoney: 0,
      config: config,
    };
  },
  computed: {
    getCharacterData() {
      if (this.activeCharacterIdentifer) {
        return this.$store.getters.getCharacter(this.activeCharacterIdentifer);
      }
      return null;
    },
    isCharacterLoading() {
      return this.$store.getters.isCharactesLoading;
    },
  },
};
</script>
<style scoped>
</style>