<template>
  <appCars
    v-bind:cars="cars"
    v-bind:characterData="getCharacterData"
    v-bind:isCarsLoadin="isCarsLoadin"
    v-bind:isLogedInUserCars="true"
  >
  </appCars>
</template>
<script>
import cars from "./../parts/user/cars";

export default {
  components: {
    appCars: cars,
  },
  data() {
    return {
      openedCar: null,
      vehicleTypes: {
        car: "Sõiduk",
        helicopter: "Helikopter",
      },
    };
  },
  computed: {
    cars() {
      if (this.getCharacterData) {
        let cars = this.getCharacterData.cars;
        if (cars.length > 0 || this.getCharacterData) {
          return cars;
        }
      }
      this.$store.dispatch("getCharacters", this.$store.getters.getToken);
    },
    isCarsLoadin() {
      return this.$store.getters.isCharactesLoading;
    },
    getCharacterData() {
      if (this.activeCharacterIdentifier) {
        return this.$store.getters.getCharacter(this.activeCharacterIdentifier);
      }

      return;
    },
    activeCharacterIdentifier() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
  },
  methods: {
    openApp(carPlate) {
      if (carPlate == this.openedCar) {
        this.openedCar = null;
      } else {
        this.openedCar = carPlate;
      }
    },
  },
};
</script>
<style scoped>
.clickable:hover {
  cursor: pointer;
}
</style>