<template>
  <appMedicalRecords
    v-bind:cases="cases"
    v-bind:isLoading="isMedicalRecordsLoading"
    v-bind:identifier="activeCharacterIdendtifier"
    v-bind:isLogedInUserCases="true"
  >
  </appMedicalRecords>
</template>
<script>
import medicalRecords from "./../parts/user/medicalRecords";
export default {
  components: {
    appMedicalRecords: medicalRecords,
  },
  data() {
    return {
      openCase: null,
    };
  },
  computed: {
    cases() {
      if (this.activeCharacterIdendtifier) {
        let cases = this.$store.getters.getCharacter(
          this.activeCharacterIdendtifier
        ).medicalRecords.records;
        if (cases.length > 0 || this.characterData) {
          return cases;
        }

        this.$store.dispatch("getCharacters", this.$store.getters.getToken);
        return this.$store.getters.getCharacter(this.activeCharacterIdendtifier)
          .medicalRecords.records;
      }
      return;
    },
    isMedicalRecordsLoading() {
      return this.$store.getters.isCharactesLoading;
    },
    characterData() {
      if (this.activeCharacterIdendtifier) {
        return this.$store.getters.getCharacter(
          this.activeCharacterIdendtifier
        );
      }

      return;
    },
    activeCharacterIdendtifier() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
  },
};
</script>
<style scoped>
</style>