<template>
  <appCriminalRecords
    v-bind:cases="cases"
    v-bind:isLoading="isCriminalRecordsLoading"
    v-bind:identifier="activeCharacterIdendtifier"
    v-bind:isLogedInUserCases="true"
  ></appCriminalRecords>
</template>
<script>
import criminalRecords from "./../parts/user/criminalRecords";
export default {
  components: {
    appCriminalRecords: criminalRecords,
  },
  data() {
    return {};
  },
  computed: {
    cases() {
      if (this.characterData) {
        let cases = this.$store.getters.getCharacter(
          this.activeCharacterIdendtifier
        ).criminalRecords.records;
        if (cases.length > 0 || this.characterData) {
          return cases;
        }

        this.$store.dispatch("getCharacters", this.$store.getters.getToken);
        return this.$store.getters.getCharacter(this.activeCharacterIdendtifier)
          .criminalRecords.records;
      }
      return;
    },
    isCriminalRecordsLoading() {
      return this.$store.getters.isCharactesLoading;
    },
    characterData() {
      if (this.activeCharacterIdendtifier) {
        return this.$store.getters.getCharacter(
          this.activeCharacterIdendtifier
        );
      }

      return;
    },
    activeCharacterIdendtifier() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
  },
};
</script>
<style scoped>
</style>