<template>
  <div>
    <p
      v-if="pageOverallLodaing"
      class="text-center"
      :class="{ 'text-white': getDarkMode }"
    >
      Andmete Laadimine...
    </p>
    <template v-else>
      <appWlBanMessage
        v-bind:isBanned="isBanned"
        v-bind:banReason="
          getPunishemtns.length > 0 && getPunishemtns[0].reason
            ? getPunishemtns[0].reason
            : ''
        "
        v-bind:identifier="null"
        v-bind:webUserId="getLogedInUserWebId"
      ></appWlBanMessage>
      <appPriorityMessageWarning
        v-bind:getEndDate="getPriorityEndDate"
        v-bind:getDaysUntilEnd="getPriorityDaysUntilEnd"
        v-bind:priorityData="getPriorityData"
      ></appPriorityMessageWarning>
      <appCharacterBar></appCharacterBar>
      <appCharacters
        :activeCharacterIdentifer="getActiveCharacterIdendtifier"
      ></appCharacters>
      <div class="row">
        <appPrioQueueInfo
          v-bind:userDataLoading="false"
          v-bind:getEndDate="getPriorityEndDate"
          v-bind:getDaysUntilEnd="getPriorityDaysUntilEnd"
        ></appPrioQueueInfo>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card" :class="{ 'bg-dark': getDarkMode }">
            <div class="card-header card-header-info">
              <h4 class="card-title">Adminite poolt määratud karistused</h4>
            </div>
            <div class="card-body">
              <div v-for="punishment in getPunishemtns" :key="punishment.id">
                <p>
                  <b>Karistuse põhjus:</b>
                  {{ punishment.reason }}
                </p>
                <p>
                  <b>Kuupäev:</b>
                  {{ punishment.updated_at }}
                </p>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <appAddButton v-bind:menu="addButtonMenu"></appAddButton> -->
    </template>
  </div>
</template>
<script>
import config from "./../../../../config/env";
import box from "./parts/box";
import wlBanMessage from "./../parts/user/wlBanMessage";
import addButton from "./../parts/addButton";
import prioQueueInfo from "./../parts/user/priorityStatus";
import priorityMessageWarning from "./../parts/user/PriorityMessageWarning";
import characterNav from "./../parts/user/characterBar";
import characters from "./charater";
import moment from "moment";

import axios from "axios";

export default {
  components: {
    appCharacterBar: characterNav,
    appCharacters: characters,
    appBox: box,
    appWlBanMessage: wlBanMessage,
    appAddButton: addButton,
    appPrioQueueInfo: prioQueueInfo,
    appPriorityMessageWarning: priorityMessageWarning,
  },
  data() {
    return {
      config: config,
      showJob: false,
      showNumber: false,
      pageOverallLodaing: false,
      addButtonMenu: [
        {
          to: "#",
          icon: "note_add",
          label: "Eemalda minu emot keybindid",
          dataToggle: "modal",
          dataTarget: "#removeKeybindConfirm",
        },
        {
          to: "#",
          icon: "note_add",
          label: "Põleta minu riidekapp",
          dataToggle: "modal",
          dataTarget: "#removeClothesConfirm",
        },
      ],
    };
  },
  computed: {
    getLogedInUserWebId() {
      return this.$store.getters.getLogedInUserWebId;
    },
    getPunishemtns() {
      return this.$store.getters.getPunishemtns;
    },
    isBanned() {
      return this.$store.getters.isBanned;
    },
    getPriorityData() {
      return this.$store.getters.getPriorityData;
    },
    getPriorityEndDate() {
      if (this.getPriorityData) {
        return new moment(this.getPriorityData.end_date).format("DD.MM.YYYY");
      }
      return new moment("now", "DD.MM.YYYY");
    },
    getPriorityDaysUntilEnd() {
      if (this.getPriorityData) {
        return new moment(this.getPriorityData.end_date).diff(moment(), "days");
      }

      return 0;
    },
    getActiveCharacterIdendtifier() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  created() {
    let whitelistApplicationOnReview = false;
    this.pageOverallLodaing = true;
    axios
      .get("/auth/user/getWhitelistApplication", {
        headers: { Authorization: "Bearer " + this.$store.getters.getToken },
      })
      .then((response) => {
        if (
          typeof response.data.isAccepted == "undefined" ||
          !response.data.isAccepted
        ) {
          whitelistApplicationOnReview = true;
          this.$store.commit(
            "setWhitelistStatusOnReview",
            whitelistApplicationOnReview
          );
          this.$route.replace({ name: "wlStatus" });
          this.pageOverallLodaing = false;
        }
      })
      .catch((error) => {
        whitelistApplicationOnReview = true;
        this.$store.commit(
          "setWhitelistStatusOnReview",
          whitelistApplicationOnReview
        );
        this.$router.replace({ name: "wlStatus" });
        this.pageOverallLodaing = false;
      })
      .then(() => {
        if (!whitelistApplicationOnReview) {
          this.$store.commit(
            "setWhitelistStatusOnReview",
            whitelistApplicationOnReview
          );
          this.$store.dispatch("getUserData", this.$store.getters.getToken);
          /* this.$store.dispatch("getCompanyMoney", this.$store.getters.getToken); */
          this.$store.dispatch("getCharacters", this.$store.getters.getToken);
        }
        this.pageOverallLodaing = false;
      });
  },
};
</script>
<style scoped>
</style>