<template>
  <button
    class="btn btn-danger ld-over-full"
    :class="[{running: loading}, classes]"
    type="submit"
    @click.prevent="atClick()"
    :disabled="disabled"
  >
    {{label}}
    <div class="ld ld-ring ld-spin"></div>
  </button>
</template>
<script>
export default {
  props: {
    label: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    classes: {
      type: Object,
    },
  },
  methods: {
    atClick() {
      this.$emit("onSubmit");
    },
  },
};
</script>
<style scoped>
</style>