<template>
  <div>
    <button
      v-if="!cLickPrevent"
      class="btn btn-primary ld-over-full"
      :class="[{running: loading}, classes]"
      type="submit"
      @click="atClick()"
      :disabled="disabled"
      :data-dismiss="dataDismiss ? 'modal': null"
    >
      {{label}}
      <div class="ld ld-ring ld-spin"></div>
    </button>
    <button
      v-if="cLickPrevent"
      class="btn btn-primary ld-over-full"
      :class="[{running: loading}, classes]"
      type="submit"
      @click.prevent="atClick()"
      :disabled="disabled"
      :data-dismiss="dataDismiss ? 'modal': null"
    >
      {{label}}
      <div class="ld ld-ring ld-spin"></div>
    </button>
  </div>
</template>
<script>
export default {
  props: {
    label: {
      type: String,
      required: true,
    },
    cLickPrevent: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    dataDismiss: {
      type: Boolean,
      default: false,
    },
    classes: {
      type: Object,
    },
  },
  methods: {
    atClick() {
      this.$emit("onSubmit");
    },
  },
};
</script>
<style scoped>
</style>