<template>
    <button
        class="btn btn-rose ld-over-full"
        :class="[{running: loading}, classes]"
        @click="atClick()"
        type="submit"
        :disabled=disabled
        :data-dismiss="dataDismiss ? 'modal': null"
    >
        {{label}}
        <div class="ld ld-ring ld-spin"></div>
    </button>
</template>
<script>
export default {
    props: {
        label: {
            type: String,
            required: true
        },
        cLickPrevent: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false
        },
        dataDismiss: {
            type: Boolean,
            default: false
        },
        classes: {
            type: Object,
        }
    },
    methods: {
        atClick() {
            this.$emit('onSubmit')
        }
    }
}
</script>