<template>
<div>
    <div v-if="success" class="alert alert-success" @click="success = !success">
        <div class="alert-icon">
        <i class="material-icons">check</i>
        </div>
        <slot name="successMessage">Salvestatud</slot>
    </div>
    <div v-if="error" class="alert alert-danger" @click="error = !error">
        <div class="alert-icon">
        <i class="material-icons">error_outline</i>
        </div>
        <slot name="errorMessage"> Ups, midagi läks ootamatult valesti.</slot>
    </div>
</div>
</template>
<script>
export default {
    props: ['success', 'error']
}
</script>