<template>
  <div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    :aria-labelledby="ariaLabel"
    aria-hidden="true"
    :id="id"
  >
    <div class="modal-dialog modal-lg">
      <div
        class="modal-content"
        :class="{ 'bg-dark': getDarkMode, 'text-white': getDarkMode }"
      >
        <div class="modal-header">
          <slot name="header"></slot>
        </div>
        <div class="modal-body">
          <slot name="body"></slot>
        </div>
        <div class="modal-footer">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["ariaLabel", "id"],
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>