<template>
  <div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="searchModal"
    aria-hidden="true"
    id="searchModal"
  >
    <div class="modal-dialog modal-lg">
      <div
        class="modal-content"
        :class="{ 'bg-dark': getDarkMode, 'text-white': getDarkMode }"
      >
        <div class="container p-3">
          <h4>Otsing</h4>
          <div class="form-group">
            <input
              type="text"
              class="form-control pl-1 pr-1"
              :class="{ 'text-white': getDarkMode }"
              placeholder="otsi"
              v-model.lazy="search"
            />
          </div>
          <template
            v-if="
              getSearchAllowedJobs.includes(getActiveCharacterJob) ||
              getGodRoles.includes(logedInUserRole)
            "
          >
            <div class="pt-2">
              <p>Inimesed:</p>
            </div>
            <router-link
              tag="div"
              class="row pointer"
              v-for="(result, index) in getSearchResults.persons"
              :key="'person' + index"
              :to="{ name: 'userProfile', params: { hex: result.identifier } }"
              data-dismiss="modal"
            >
              <div class="col-12">
                {{ result.firstname }} {{ result.lastname }} ({{ result.name }})
                | {{ result.dateofbirth }}
                <hr />
              </div>
            </router-link>
            <hr />
            <div class="pt-2">
              <p>Autod:</p>
            </div>
            <router-link
              tag="div"
              v-for="(result, index) in getSearchResults.vehicles"
              :key="'car' + index"
              data-dismiss="modal"
              class="pointer"
              :to="{
                name: 'searchedUserCars',
                params: { hex: result.owner, plate: result.plate },
              }"
            >
              <div class="col-12">
                {{ result.plate }} | {{ result.firstname }}
                {{ result.lastname }}
                <hr />
              </div>
            </router-link>
            <hr />
            <div v-if="config.MENU.BROKER">
              <div class="pt-2">
                <p>Kinnisvara:</p>
              </div>
              <router-link
                tag="div"
                class="pointer"
                data-dismiss="modal"
                v-for="(result, index) in getSearchResults.properties"
                :key="'booker' + index"
                :to="{ name: 'property', params: { id: result.id } }"
              >
                <div class="col-12">
                  {{ result.label }}
                  <hr />
                </div>
              </router-link>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import config from "./../../../config/env";
export default {
  data() {
    return {
      config: config,
      search: "",
    };
  },
  computed: {
    searchWord() {
      this.search = this.$store.getters.getSearchWord;
    },
    getSearchWord() {
      return this.$store.getters.getSearchWord;
    },
    getSearchResults() {
      return this.$store.getters.getSearchResults;
    },
    getGodRoles() {
      return this.$store.getters.getGodRoles;
    },
    getSearchAllowedJobs() {
      return this.$store.getters.getSearchAllowedJobs;
    },
    getActiveCharacterJob() {
      let activeCharId = this.$store.getters.getCharactesIdentifiers[0];
      if (activeCharId) {
        return this.$store.getters.getCharacter(activeCharId).job;
      }
      return "";
    },
    logedInUserRole() {
      return this.$store.getters.getLogedInUserRoleName;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  watch: {
    searchWord(newSearchWord, oldSearchWord) {
      this.search = newSearchWord;
    },
    search(newSearch, oldSearch) {
      this.$store.commit("setSearchWord", newSearch);
      if (newSearch.length > 2) {
        this.$store.dispatch("searchAction", this.$store.getters.getToken);
      }
    },
  },
};
</script>