<template>
  <div :class="{ 'text-white': getDarkMode }">
    <p v-if="loading" class="text-center">
      <strong>Andmete laadimine ...</strong>
    </p>
    <template v-else>
      <h4><b>Sisukord</b></h4>
      <ul
        v-for="(collection, index) in rulesCollection"
        v-bind:key="collection.id + '-' + index"
      >
        <li>
          <a class="text-dark pointer" @click.prevent="setToFirst(index)"
            ><strong :class="{ 'text-white': getDarkMode }">{{
              collection.name
            }}</strong></a
          >
        </li>
      </ul>
      <hr />
      <template v-for="(collection, index) in rulesCollection">
        <h4 v-bind:key="collection.name">
          <b>{{ collection.name }}</b>
        </h4>
        <ol v-bind:key="index + '-' + collection.name">
          <li v-for="rule in collection.rules" v-bind:key="rule.id">
            {{ rule.rule }}
          </li>
        </ol>
      </template>
    </template>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      rulesCollection: [],
      loading: false,
    };
  },
  methods: {
    setToFirst(index) {
      let first = this.rulesCollection[index];
      this.rulesCollection.splice(index, 1);
      this.rulesCollection.unshift(first);
    },
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  created() {
    this.loading = true;
    axios
      .get("getRuleCategories")
      .then((response) => {
        this.rulesCollection = response.data.rules;
        this.loading = false;
      })
      .catch((error) => {
        console.log(error);
        this.loading = false;
      });
  },
};
</script>

<style scoped>
a:hover {
  cursor: pointer;
}
</style>