<template>
  <div :class="{ 'text-white': getDarkMode }">
    <p v-if="loading" class="text-center">
      <strong>Andmete laadimine ...</strong>
    </p>
    <template v-else>
      <h4><b>Sisukord</b></h4>
      <ul
        v-for="(collection, index) in infoCollection"
        v-bind:key="collection.id + index"
      >
        <li>
          <a class="text-dark pointer" @click.prevent="setToFirst(index)"
            ><strong :class="{ 'text-white': getDarkMode }">{{
              collection.name
            }}</strong></a
          >
        </li>
      </ul>
      <hr />
      <template v-for="(collection, index) in infoCollection">
        <h4 v-bind:key="collection.name">
          <b>{{ collection.name }}</b>
        </h4>
        <div class="row" v-bind:key="index + collection.name">
          <div
            class="col-12 col-md-6 col-lg-4 mt-3"
            v-for="info in collection.info"
            v-bind:key="info.id"
            v-html="$options.filters.hashBold(info.info)"
          ></div>
        </div>
      </template>
    </template>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      infoCollection: [],
      loading: false,
    };
  },
  methods: {
    setToFirst(index) {
      let first = this.infoCollection[index];
      this.infoCollection.splice(index, 1);
      this.infoCollection.unshift(first);
    },
  },
  created() {
    this.loading = true;
    axios
      .get("getInfoCategories")
      .then((response) => {
        this.infoCollection = response.data.info;
        this.loading = false;
      })
      .catch((error) => {
        console.log(error);
        this.loading = false;
      });
  },
  filters: {
    hashBold(value) {
      if (!value) return "";
      value = value.toString();
      let firstWord = value.substr(0, value.indexOf(" "));
      value = value.replace(firstWord, "<b>$&</b>");
      return value;
    },
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>

<style scoped>
a:hover {
  cursor: pointer;
}
</style>