<template>
    <div class="d-none d-lg-inline"> <!-- show it only for large screen-->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
                <a href="navItem.href" class="nav-link profile-photo"  id="media" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                        
                    <i class="material-icons">web</i> Meedia
                </a>
                <div class="dropdown-menu" aria-labelledby="media" style="height:auto">
                    <a class="dropdown-item text-left" href="https://7sed.net/"><i class="material-icons mr-2">message</i> Uudised </a>
                    <a class="dropdown-item text-left" href="http://www.runagate.eu/webhitradio/" target="_blank"><i class="material-icons mr-2">radio</i> WebHit Radio </a>
                </div>
          </li>
          <div v-for="navItem in leftNavItems" v-bind:key="navItem.title" class="pl-4">
                <!-- Dropdown menu -->
                <li class="nav-item dropdown" v-if="navItem.type == 'dropDown'">
                <router-link :to="navItem.href" class="nav-link profile-photo"  :id="navItem.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="profile-photo-small" v-if="navItem.picture">
                            <img class="rounded-circle img-fluid" :src="navItem.picture" alt="profile picture">
                        </div>
                        <template v-else>
                            <i class="material-icons">{{navItem.icon}}</i> {{navItem.label}}
                        </template>
                </router-link>
                <div class="dropdown-menu" :aria-labelledby="navItem.id" style="height:auto">
                    <div v-for="subMenu in navItem.subMenus" v-bind:key="subMenu.title">
                    <router-link class="dropdown-item text-left" :to="subMenu.href"><i class="material-icons mr-2">{{subMenu.icon}}</i> {{subMenu.label}} </router-link>
                    </div>
                </div>
                </li>
                <!-- Normal menu -->
                <li class="nav-item" v-else>
                  <router-link :to="{name: navItem.href}" class="nav-link"> 
                      <i class="material-icons mr-2">{{navItem.icon}}</i> {{navItem.label}}
                  </router-link>
                </li>
            
            </div>
        </ul>
        </div>
</template>
<script>
export default {
    data() {
        return {
            leftNavItems: [
              {
                label: 'Reeglid ja Info',
                icon: "list",
                href: "#",
                type: "dropDown",
                id: "rulesDropdown",
                subMenus: [
                  {
                    label: "Serveri reeglid",
                    icon: "list",
                    href: {name: 'serverRules'},
                    type: "normal",
                  },
                  {
                    label: "Info",
                    icon: "info",
                    href: {name: 'serverInfo'},
                    type: "normal",
                  }
                ],
              },
              {
                label: 'Toeta',
                icon: 'monetization_on',
                href: 'donation',
                type: 'regula',
                id: '#donation'
              }
            ],
        }
    }
}
</script>