<template>
  <div>
    <div class="pl-4 d-block d-lg-none">
      <li class="nav-item dropdown">
        <a
          href="navItem.href"
          class="nav-link"
          id="media"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="material-icons">web</i> Meedia
        </a>
        <div class="dropdown-menu" aria-labelledby="media" style="height: auto">
          <a class="dropdown-item text-left" href="https://7sed.net/">
            <i class="material-icons mr-2">message</i> Uudised
          </a>
          <a
            class="dropdown-item text-left"
            href="http://www.runagate.eu/webhitradio/"
            target="_blank"
          >
            <i class="material-icons mr-2">radio</i> WebHit Radio
          </a>
        </div>
      </li>
    </div>
    <div
      v-for="(navItem, index) in mobileNavItems"
      v-bind:key="navItem.label + index"
      class="pl-4 d-block d-lg-none"
    >
      <!-- Dropdown menu -->
      <li
        class="nav-item dropdown"
        v-if="navItem.type == 'dropDown' && navItem.show"
      >
        <a
          :href="navItem.href"
          class="nav-link profile-photo"
          :id="navItem.id"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          v-if="navItem.picture"
        >
          <div class="profile-photo-small">
            <img
              class="rounded-circle img-fluid"
              :src="navItem.picture"
              alt="profile picture"
            />
          </div>
        </a>
        <a
          :href="navItem.href"
          class="nav-link"
          :id="navItem.id"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          v-else
        >
          <i class="material-icons">{{ navItem.icon }}</i>
          {{ navItem.label }}
        </a>
        <div
          class="dropdown-menu"
          :aria-labelledby="navItem.id"
          style="height: auto"
        >
          <router-link
            tag="div"
            v-for="(subMenu, index) in navItem.subMenus"
            v-bind:key="subMenu.label + index"
            :to="subMenu.href"
          >
            <a class="dropdown-item text-left" href="#">
              <i class="material-icons mr-2">{{ subMenu.icon }}</i>
              {{ subMenu.label }}
            </a>
          </router-link>
        </div>
      </li>
      <!-- Normal menu -->
      <li
        class="nav-item"
        v-else-if="navItem.type !== 'dropDown' && navItem.show"
      >
        <router-link :to="navItem.href" class="nav-link">
          <i class="material-icons mr-2">{{ navItem.icon }}</i>
          {{ navItem.label }}
        </router-link>
      </li>
    </div>
  </div>
</template>
<script>
import config from "./../../../../../config/env";

export default {
  data() {
    return {
      mobileNavItems: [
        {
          label: "Reeglid ja Info",
          icon: "list",
          href: "#",
          type: "dropDown",
          id: "rulesDropdown",
          show: true,
          subMenus: [
            {
              label: "Serveri reeglid",
              icon: "list",
              href: { name: "serverRules" },
              type: "normal",
            },
            {
              label: "Info",
              icon: "info",
              href: { name: "serverInfo" },
              type: "normal",
            },
          ],
        },
        {
          label: "Toeta",
          icon: "monetization_on",
          href: { name: "donation" },
          type: "normal",
          id: "donation",
          show: true,
        },
        {
          label: "Töö Avaldused",
          icon: "work",
          href: { name: "myApplications" },
          type: "normal",
          id: "workAppsDropdown",
          show: config.MENU.WORKAPPLICATIONS,
        },
        {
          label: "Politsei",
          icon: "policy",
          href: { name: "policeDashboard" },
          type: "normal",
          id: "policeDropdown",
          show: true,
        },
        {
          label: "Kiirabi",
          icon: "local_hospital",
          href: { name: "ambulanceDashboard" },
          type: "normal",
          id: "ambulanceDropdown",
          show: true,
        },
        {
          label: "Ark",
          icon: "local_shipping",
          href: { name: "arkDashboard" },
          type: "normal",
          id: "arkDropdown",
          show: config.MENU.ARK,
        },
        {
          label: "Mehaanik",
          icon: "directions_car",
          href: { name: "mechanicDashboard" },
          type: "normal",
          id: "mechanicDropdown",
          show: true,
        },
        {
          label: "Kinnisvara maakler",
          icon: "apartment",
          href: { name: "brokerDashboard" },
          type: "normal",
          id: "brokerDropdown",
          show: config.MENU.BROKER,
        },
        {
          label: "Admin",
          icon: "work",
          href: { name: "adminDashboard" },
          type: "security",
          id: "admin",
          show: true,
        },
        {
          label: "Logs",
          icon: "receipt_long",
          href: { name: "mainLogs" },
          type: "security",
          id: "logs",
          show: config.MENU.SHOWLOGS,
        },
      ],
    };
  },
};
</script>