<template>
  <div class="pl-4">
    <!-- Dropdown menu -->
    <li class="nav-item dropdown">
      <a
        href="#"
        class="nav-link profile-photo"
        id="myProfileDropdownMenu"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="profile-photo-small">
          <img
            class="rounded-circle img-fluid"
            :src="profilePicture"
            alt="profile picture"
          />
        </div>
      </a>
      <div
        class="dropdown-menu"
        aria-labelledby="myProfileDropdownMenu"
        style="height: auto"
      >
        <router-link class="dropdown-item text-left" :to="{ name: 'userHome' }">
          <i class="material-icons mr-2">dashboard</i> Minu profiil
        </router-link>
        <a
          class="dropdown-item text-left"
          :data-toggle="'modal'"
          :data-target="'#settings'"
        >
          <i class="material-icons mr-2">settings</i> Seaded
        </a>
        <a class="dropdown-item text-left" @click="logout">
          <i class="material-icons mr-2">exit_to_app</i> Logi välja
        </a>
      </div>
    </li>
  </div>
</template>
<script>
import modal from "../../../parts/modal";
import appModalCloseButton from "../../../parts/buttons/modalCloseButton";
import appPrimaryButton from "../../../parts/buttons/primaryButton";
export default {
  data() {
    return {
      profilePicture: "/src/assets/img/faces/avatar1.png",
      loading: false,
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
  },
};
</script>