<template>
    <form class="form-inline ml-auto">
        <div class="form-group has-white bmd-form-group">
            <input class="form-control" type="text" placeholder="Otsi" v-model="searchValue" @keypress.enter="submitSearch()">
        </div>
        <button class="btn btn-white btn-raised btn-fab btn-round" @click.prevent="submitSearch()" data-toggle="modal" data-target=".bd-example-modal-lg">
            <i class="material-icons">search</i>
        </button>
    </form>
</template>
<script>
export default {
    data() {
        return {
            searchValue: null
        }
    },
    methods: {
        submitSearch() {
            this.$store.commit('setSearchWord', this.searchValue)
        }
    }
}
</script>