<template>
  <div>
    <appModal v-bind:ariaLabel="'billsLabel'" v-bind:id="'billsModal'">
      <template v-slot:header>
        <h5 class="modal-title text-dark">Arved</h5>
      </template>
      <template v-slot:body>
        <div v-for="(account, index) in accounts" :key="index">
          <div class="row" v-for="bill in bills" :key="bill.id">
            <template v-if="account.name == bill.target">
              <div class="text-dark col-6">
                <p>{{bill.label}}</p>
              </div>
              <div class="text-dark col-6">
                <p>{{bill.amount}}</p>
              </div>
            </template>
          </div>
        </div>
      </template>
    </appModal>
  </div>
</template>
<script>
import modal from "./../../../../parts/modal";
import axios from "axios";

export default {
  props: ["bills"],
  components: {
    appModal: modal,
  },
  data() {
    return {
      accounts: null,
      accountsLoading: false,
    };
  },
  created() {
    this.accountsLoading = true;
    axios
      .get("sociaty/getAcounts", {
        headers: { Authorization: "Bearer " + this.$store.getters.getToken },
      })
      .then((response) => {
        this.accounts = response.data;
        this.accountsLoading = false;
      })
      .catch((error) => {
        console.log(error);
        this.accountsLoading = false;
      });
  },
};
</script>