<template>
  <div>
    <appModal
      v-bind:ariaLabel="'licenseManagerLabel'"
      v-bind:id="'licenseManagerModal'"
    >
      <template v-slot:header>
        <h5 class="modal-title text-dark">Halda Lube</h5>
      </template>
      <template v-slot:body>
        <div class="text-dark">
          <div v-if="error" class="alert alert-danger" @click="error = !error">
            <div class="alert-icon">
              <i class="material-icons">error_outline</i>
            </div>
            Ups, midagi läks ootamatult valesti.
          </div>
          <div class="row" v-if="licenses">
            <div class="col-6">
              <div class="row">
                <div class="col-5 align-self-center m-auto">Teooriaeksam</div>
                <div class="col-5">
                  <appSuccessButton
                    v-if="!licenses.theory"
                    v-bind:label="'Anna'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="give('theory')"
                  />
                  <appDangerButton
                    v-if="licenses.theory"
                    v-bind:label="'Eemalda'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="remove('theory')"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-5 align-self-center m-auto">A-Kategooria</div>
                <div class="col-5">
                  <appSuccessButton
                    v-if="!licenses.aCategory"
                    v-bind:label="'Anna'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="give('aCategory')"
                  />
                  <appDangerButton
                    v-if="licenses.aCategory"
                    v-bind:label="'Eemalda'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="remove('aCategory')"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-5 align-self-center m-auto">B-Kategooria</div>
                <div class="col-5">
                  <appSuccessButton
                    v-if="!licenses.bCategory"
                    v-bind:label="'Anna'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="give('bCategory')"
                  />
                  <appDangerButton
                    v-if="licenses.bCategory"
                    v-bind:label="'Eemalda'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="remove('bCategory')"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-5 align-self-center m-auto">C-Kategooria</div>
                <div class="col-5">
                  <appSuccessButton
                    v-if="!licenses.dCategory"
                    v-bind:label="'Anna'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="give('dCategory')"
                  />
                  <appDangerButton
                    v-if="licenses.dCategory"
                    v-bind:label="'Eemalda'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="remove('cCategory')"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-5 align-self-center m-auto">D-Kategooria</div>
                <div class="col-5">
                  <appSuccessButton
                    v-if="!licenses.dCategory"
                    v-bind:label="'Anna'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="give('dCategory')"
                  />
                  <appDangerButton
                    v-if="licenses.dCategory"
                    v-bind:label="'Eemalda'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="remove('dCategory')"
                  />
                </div>
              </div>
              <hr />
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-5 align-self-center m-auto">Relvaluba</div>
                <div class="col-5">
                  <appSuccessButton
                    v-if="!licenses.weapon"
                    v-bind:label="'Anna'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="give('weapon')"
                  />
                  <appDangerButton
                    v-if="licenses.weapon"
                    v-bind:label="'Eemalda'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="remove('weapon')"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-5 align-self-center m-auto">Jahiluba</div>
                <div class="col-5">
                  <appSuccessButton
                    v-if="!licenses.hunting"
                    v-bind:label="'Anna'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="give('hunting')"
                  />
                  <appDangerButton
                    v-if="licenses.hunting"
                    v-bind:label="'Eemalda'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="remove('hunting')"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-5 align-self-center m-auto">Kalapüügiluba</div>
                <div class="col-5">
                  <appSuccessButton
                    v-if="!licenses.fishing"
                    v-bind:label="'Anna'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="give('fishing')"
                  />
                  <appDangerButton
                    v-if="licenses.fishing"
                    v-bind:label="'Eemalda'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="remove('fishing')"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-5 align-self-center m-auto">Paadi juhiluba</div>
                <div class="col-5">
                  <appSuccessButton
                    v-if="!licenses.boat"
                    v-bind:label="'Anna'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="give('boat')"
                  />
                  <appDangerButton
                    v-if="licenses.boat"
                    v-bind:label="'Eemalda'"
                    v-bind:classes="{ 'w-100': true }"
                    v-bind:loading="
                      loadingButton || isLicensesLoading ? true : false
                    "
                    v-on:onSubmit="remove('boat')"
                  />
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </template>
    </appModal>
  </div>
</template>
<script>
import axios from "axios";
import modal from "./../../../../parts/modal";
import successButton from "./../../../../parts/buttons/successButton";
import dangerButton from "./../../../../parts/buttons/dangerButton";

export default {
  props: ["licenses", "identifier"],
  components: {
    appModal: modal,
    appSuccessButton: successButton,
    appDangerButton: dangerButton,
  },
  data() {
    return {
      loadingButton: false,
      error: false,
    };
  },
  computed: {
    isLicensesLoading() {
      return this.$store.getters.isLatestSeachedCharacterLicensesLoading;
    },
  },
  methods: {
    give(licenceType) {
      this.loadingButton = true;
      axios
        .post(
          "police/licenseManager/give",
          {
            clientId: this.identifier,
            licenseType: licenceType,
          },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.$store.dispatch("latesSearchedCharacterData", {
            token: this.$store.getters.getToken,
            hex: this.$route.params.hex,
          });
          this.error = false;
          this.loadingButton = false;
        })
        .catch((error) => {
          console.log(error);
          this.error = true;
          this.loadingButton = false;
        });
    },
    remove(licenceType) {
      this.loadingButton = true;
      axios
        .delete("police/licenseManager/remove", {
          params: {
            clientId: this.identifier,
            licenseType: licenceType,
          },
          headers: { Authorization: "Bearer " + this.$store.getters.getToken },
        })
        .then((response) => {
          this.$store.dispatch("latesSearchedCharacterData", {
            token: this.$store.getters.getToken,
            hex: this.$route.params.hex,
          });
          this.error = false;
          this.loadingButton = false;
        })
        .catch((error) => {
          console.log(error);
          this.error = true;
          this.loadingButton = false;
        });
    },
  },
};
</script>