<template>
<div>
    <appModal v-bind:ariaLabel="'priorpyQueuModalLabel'" v-bind:id="'priorpyQueuModal'">
        <template v-slot:header>
           <h5 class="modal-title text-dark">Eelisjärjekorra Info</h5>
        </template>
        <template v-slot:body>
            <div class="text-dark text-center">
                <h6 class="mb-5">Toetamine / Annetamine.</h6>
                    <p><strong>Annetades 15€ anname teile vastu: </strong></p>
                    <p>Serveri prio LEVEL 1. <small>Kehtib 30 päeva.</small></p>
                    
                    <p class="mt-4"><strong>Annetades 30€ anname teile vastu:</strong></p>
                    <p>Serveri prio LEVEL 2. <small>Kehtib 30 päeva</small></p>
                     
                    <p class="mt-4"><strong>Annetades 50€ anname teile vastu:</strong></p>
                    <p>Serveri prio LEVEL 3 <small>Kehtib 30 päeva</small></p>
                
                <p>SWED: EE032200001109454323 MARGUS ROOTS</p>
                <p>SEB: EE031010010204635015 ROOTS MARGUS</p>
                <p>https://www.paypal.me/vjroots</p>

                <p><strong>Prio tasemed:</strong><p>
                    <p class="mb-0">Level 3</p>
                    <p class="mb-0">Level 2</p>
                    <p class="mb-0">Level 1</p>
                    <p>Tavamängija</p>
                
                <p>
                    Prio lisamiseks on vaja ka teie Steam ID-d mida saate järgmiselt lehelt:
                    <a href="https://steamid.xyz/" target="_blank">https://steamid.xyz/</a>
                </p>
            </div>
        </template>
    </appModal>
</div>
</template>
<script>
import modal from './../../../../parts/modal'
import axios from 'axios'

export default {

    components: {
        appModal: modal
    },
    data() {
        return {}
    },
}
</script>