<template>
  <modal v-bind:ariaLabel="'settingslabel'" v-bind:id="'settings'">
    <template v-slot:header>
      <h5 class="modal-title text-dark">Seaded</h5>
    </template>
    <template v-slot:body>
      <div class="row" v-if="success" @click="success = false">
        <div class="col-12">
          <successNotification> Andmed edukalt uuendatud </successNotification>
        </div>
      </div>
      <div class="row" v-if="saveError" @click="saveError = false">
        <div class="col-12">
          <errorNotification>
            Andmed salvestamsel tekkis viga
          </errorNotification>
        </div>
      </div>
      <div class="togglebutton text-center">
        <label :class="{ 'text-white': darkMode, 'text-dark': !darkMode }">
          <input type="checkbox" v-model="darkMode" @click="doggleDarkMode()" />
          <span class="toggle"></span>
          Tume veeb
        </label>
      </div>
      <h6>Muuda andmeid:</h6>
      <div
        class="form-group label-floating"
        :class="{
          'has-danger': formDataErrors.name,
        }"
      >
        <label v-if="formData.name || formDataErrors.name" class="control-label"
          >Nimi</label
        >
        <input
          type="text"
          class="form-control"
          :class="{ 'text-white': darkMode }"
          placeholder="Nimi"
          v-model="formData.name"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="formDataErrors.name"
          >clear</span
        >
      </div>
      <div
        class="form-group label-floating"
        :class="{
          'has-danger': formDataErrors.email,
        }"
      >
        <label
          v-if="formData.email || formDataErrors.email"
          class="control-label"
          >E-mail</label
        >
        <input
          type="text"
          class="form-control"
          :class="{ 'text-white': darkMode }"
          placeholder="E-mail"
          v-model="formData.email"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="formDataErrors.email"
          >clear</span
        >
      </div>
      <div class="pt-4">
        <h6>Vaheta parooli:</h6>
      </div>
      <div
        class="form-group"
        :class="{
          'has-danger': formDataErrors.oldPassword,
        }"
      >
        <label
          v-if="formData.oldPassword || formDataErrors.oldPassword"
          class="control-label"
          >Vana parool</label
        >
        <input
          type="password"
          class="form-control"
          :class="{ 'text-white': darkMode }"
          placeholder="Vana parool"
          v-model="formData.oldPassword"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="formDataErrors.oldPassword"
          >clear</span
        >
      </div>
      <div
        class="form-group"
        :class="{
          'has-danger': formDataErrors.newPassword,
        }"
      >
        <label
          v-if="formData.newPassword || formDataErrors.newPassword"
          class="control-label"
          >Uus parool</label
        >
        <input
          type="password"
          class="form-control"
          :class="{ 'text-white': darkMode }"
          placeholder="Uus parool"
          v-model="formData.newPassword"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="formDataErrors.newPassword"
          >clear</span
        >
      </div>
      <div
        class="form-group label-floating"
        :class="{
          'has-danger': formDataErrors.newPasswordConfirm,
        }"
      >
        <label
          v-if="
            formData.newPasswordConfirm || formDataErrors.newPasswordConfirm
          "
          class="control-label"
          >Parool uuesti</label
        >
        <input
          type="password"
          class="form-control"
          :class="{ 'text-white': darkMode }"
          placeholder="Parool uuesti"
          v-model="formData.newPasswordConfirm"
        />
        <span
          class="material-icons form-control-feedback"
          v-if="formDataErrors.newPasswordConfirm"
          >clear</span
        >
      </div>
    </template>
    <template v-slot:footer>
      <appModalCloseButton />
      <appPrimaryButton
        v-bind:label="'Salvesta'"
        v-bind:loading="loading"
        v-bind:dataDismiss="false"
        v-on:onSubmit="submit"
      />
    </template>
  </modal>
</template>
<script>
import { validationMixin } from "./../../../../../mixins/validationMixin";
import axios from "axios";

import modal from "../../../../parts/modal";
import appModalCloseButton from "../../../../parts/buttons/modalCloseButton";
import appPrimaryButton from "../../../../parts/buttons/primaryButton";
import successNotification from "../../../../parts/notifications/success";
import errorNotification from "../../../../parts/notifications/error";
export default {
  mixins: [validationMixin],
  components: {
    modal,
    appModalCloseButton,
    appPrimaryButton,
    successNotification,
    errorNotification,
  },
  data() {
    return {
      loading: false,
      success: false,
      saveError: false,
      darkMode: false,
      darkMode2: false,
      formData: {
        name: null,
        email: null,
        oldPassword: null,
        newPassword: null,
        newPasswordConfirm: null,
      },
      formDataErrors: {
        count: 0,
        name: false,
        email: false,
        oldPassword: false,
        newPassword: false,
        newPasswordConfirm: false,
      },
    };
  },
  methods: {
    submit() {
      this.validate();
      if (this.formDataErrors.count == 0) {
        this.loading = true;
        this.success = false;
        this.saveError = false;
        axios
          .post(
            "auth/user/updateData",
            {
              name: this.formData.name,
              email: this.formData.email,
              oldPassword: this.formData.oldPassword,
              newPassword: this.formData.newPassword,
            },
            {
              headers: {
                Authorization: "Bearer " + this.$store.getters.getToken,
              },
            }
          )
          .then((response) => {
            this.$store.commit("setWebUserData", {
              email: this.formData.email,
              name: this.formData.name,
            });
            this.loading = false;
            this.success = true;
          })
          .catch((error) => {
            let messages = error.response.data.messages;
            if (typeof messages == "Object") {
              if ("oldPassword" in messages) {
                this.formDataErrors.count++;
                this.formDataErrors.oldPassword = true;
              }
              if ("newPassword" in messages) {
                this.formDataErrors.count++;
                this.formDataErrors.newPassword = true;
              }
              if ("email" in messages) {
                this.formDataErrors.count++;
                this.formDataErrors.email = true;
              }
              if ("name" in messages) {
                this.formDataErrors.count++;
                this.formDataErrors.name = true;
              }
            } else {
              this.saveError = true;
            }
            this.loading = false;
          });
      }
    },
    validate() {
      this.restartErrors();
      if (this.formData.email && !this.isValidEmail(this.formData.email)) {
        this.formDataErrors.count++;
        this.formDataErrors.email = true;
      }
      if (this.formData.name && !this.isNameValid()) {
        this.formDataErrors.count++;
        this.formDataErrors.name = true;
      }
      if (this.formData.newPassword && !this.isPasswordValid()) {
        this.formDataErrors.count++;
        this.formDataErrors.newPassword = true;
      }
      if (
        this.formData.newPassword &&
        this.formData.newPassword !== this.formData.newPasswordConfirm
      ) {
        this.formDataErrors.count++;
        this.formDataErrors.newPasswordConfirm = true;
      }
      if (this.formData.newPassword && !this.formData.oldPassword) {
        this.formDataErrors.count++;
        this.formDataErrors.oldPassword = true;
      }
    },
    isPasswordValid() {
      if (this.formData.newPassword.length < 6) {
        return false;
      }

      return true;
    },
    isNameValid() {
      if (this.formData.name.length < 2) {
        return false;
      }

      return true;
    },
    restartErrors() {
      this.formDataErrors.count = 0;
      this.formDataErrors.name = false;
      this.formDataErrors.email = false;
      this.formDataErrors.oldPassword = false;
      this.formDataErrors.newPassword = false;
      this.formDataErrors.newPasswordConfirm = false;
    },
    setNameAndEmail() {
      this.formData.name = this.$store.getters.getWebUserData.name;
      this.formData.email = this.$store.getters.getWebUserData.email;
    },
    doggleDarkMode() {
      this.darkMode = !this.darkMode;
      this.$store.commit("setDarkMode", this.darkMode);
    },
  },
  created() {
    if (
      !this.$store.getters.getWebUserData.name ||
      !this.$store.getters.getWebUserData.email
    ) {
      setTimeout(this.setNameAndEmail, 2000);
    } else {
      this.setNameAndEmail();
    }

    this.darkMode = this.$store.getters.getDarkMode;
  },
};
</script>