<template>
  <div id="app" :class="{ 'bg-dark': getDarkMode }">
    <router-view name="header"></router-view>
    <router-view name="content"></router-view>
    <app-footer></app-footer>
    <appSearchModel></appSearchModel>
  </div>
</template>

<script>
import footerVue from "./components/main/footer.vue";
import searchModelVue from "./components/parts/searchModal.vue";

export default {
  components: {
    appFooter: footerVue,
    appSearchModel: searchModelVue,
  },
  data() {
    return {};
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  created() {
    this.$store.dispatch("tryAutoLogin");
    this.$store.dispatch("getDarkModeFromStorage");
  },
  watch: {
    getDarkMode(newValue) {
      if (newValue) {
        var element = document.getElementById("body");
        element.classList.add("bg-dark");
      }
      if (!newValue) {
        var element = document.getElementById("body");
        element.classList.remove("bg-dark");
      }
    },
  },
};
</script>

<style>
</style>
