<template>
  <div class="col-12 col-md-6 col-lg-4">
    <div
      class="card pointer"
      :class="{ 'bg-dark': getDarkMode }"
      @click="openApp(application.id)"
    >
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          <span>{{ application.gang_name }}</span>
        </h4>
      </div>
      <div class="card-body">
        <p v-if="application.is_rejected && !isRecruiter" class="text-danger">
          <strong>
            <b>Staatus:</b>
          </strong>
          Tagasi lükatud
        </p>
        <p v-if="application.is_accepted && !isRecruiter" class="text-info">
          <strong>
            <b>Staatus:</b>
          </strong>
          Vastu võetud, oodatakse vestlusele
        </p>
        <p v-if="application.is_accepted && !isRecruiter" class="text-success">
          <strong>
            <b>Staatus:</b>
          </strong>
          Palgatud
        </p>
        <p
          v-if="
            !application.is_accepted && !application.is_rejected && !isRecruiter
          "
        >
          <strong>
            <b>Staatus:</b>
          </strong>
          Ootel, sinu taotlust vaadatakse üle
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    application: {
      default: {},
    },
    isRecruiter: {
      default: false,
    },
  },
  methods: {
    openApp(id) {
      this.$emit("changeOpenedApp", id);
    },
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>