<template>
  <div>
    <h6 class="title" :class="{ 'text-white': getDarkMode }">
      Grupeeringu avaldused
    </h6>
    <div class="row">
      <template v-for="application in characterGangApplications">
        <appClosedApplication
          v-bind:application="application"
          @changeOpenedApp="changeOpenedAppId"
          v-if="application.id !== openedApplicationId"
          :key="'closed' + application.id"
        />
        <appOpenedApplication
          v-bind:application="application"
          @changeOpenedApp="changeOpenedAppId"
          v-if="application.id == openedApplicationId"
          :key="'opened' + application.id"
        />
      </template>
    </div>
  </div>
</template>
<script>
import closedApplication from "./closedGangApplication";
import openedApplication from "./openedGangApplication";
export default {
  components: {
    appClosedApplication: closedApplication,
    appOpenedApplication: openedApplication,
  },
  data() {
    return {
      openedApplicationId: null,
    };
  },
  computed: {
    characterGangApplications() {
      return this.$store.getters.getCharacter(this.activeCharId)
        .gangApplications;
    },
    activeCharId() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    changeOpenedAppId(id) {
      this.openedApplicationId = id;
    },
  },
};
</script>
<style scoped>
</style>