<template>
  <div class="col-12">
    <div class="card" :class="{ 'bg-dark': getDarkMode }">
      <div class="card-header card-header-primary pointer" @click="openApp()">
        <h4 class="card-title">
          <span>{{ application.gang_name }}</span>
        </h4>
        <p class="category">#{{ application.id }}</p>
      </div>
      <div class="card-body">
        <p v-if="application.is_rejected && !isRecruiter" class="text-danger">
          <strong>
            <b>Staatus:</b>
          </strong>
          Tagasi lükatud
        </p>
        <p
          v-if="
            application.is_rejected &&
            !isRecruiter &&
            application.rejection_reason
          "
        >
          <strong><b>Põhjus:</b></strong>
          {{ application.rejection_reason }}
        </p>
        <p v-if="application.is_accepted && !isRecruiter" class="text-info">
          <strong>
            <b>Staatus:</b>
          </strong>
          Vastu võetud, oodatakse vestlusele
        </p>
        <p
          v-if="
            !application.is_accepted && !application.is_rejected && !isRecruiter
          "
        >
          <strong>
            <b>Staatus:</b>
          </strong>
          Ootel, sinu taotlust vaadatakse üle
        </p>
        <hr />
        <div v-for="(answer, index) in getAnswers" :key="index">
          <p>
            <strong>
              <b>{{ answer.question }}:</b>
            </strong>
          </p>
          <p>{{ answer.answer }}</p>
          <hr />
        </div>
        <div class="row" v-if="isRecruiter">
          <div class="col-12 d-flex">
            <appPrimaryButton
              :label="'Võta vastu'"
              :loading="loading"
              @onSubmit="accept()"
            />
            <appRoseButton
              :label="'Lükka tagasi'"
              :loading="loading"
              @onSubmit="openRejectReason = !openRejectReason"
            />
          </div>
          <template v-if="openRejectReason">
            <div class="col-12 d-flex mt-3">
              <textarea
                class="form-control"
                :class="{ 'text-white': getDarkMode }"
                v-model="rejectionReason"
                placeholder="Tagasilükkamise põhjus"
              ></textarea>
            </div>
            <div class="col-12 d-flex">
              <appPrimaryButton
                :label="'Kinnita'"
                :loading="loading"
                @onSubmit="reject()"
              />
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import primaryButton from "./../../../parts/buttons/primaryButton";
import roseButton from "./../../../parts/buttons/roseButton";
export default {
  components: {
    appPrimaryButton: primaryButton,
    appRoseButton: roseButton,
  },
  props: {
    application: {
      default: {},
    },
    isRecruiter: {
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      openRejectReason: false,
      rejectionReason: null,
    };
  },
  methods: {
    openApp() {
      this.$emit("changeOpenedApp", null);
    },
    accept() {
      this.loading = true;
      axios
        .put(
          "gangApplication/accept",
          { id: this.application.id },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.loading = false;
          this.$emit("reload");
        })
        .catch((error) => {
          this.loading = false;
          console.log(error);
        });
    },
    reject() {
      this.loading = true;
      axios
        .put(
          "gangApplication/reject",
          { id: this.application.id, reason: this.rejectionReason },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.loading = false;
          this.$emit("reload");
        })
        .catch((error) => {
          this.loading = false;
          console.log(error);
        });
    },
    decisionCall(url) {
      this.loading = true;
      axios
        .put(
          url,
          { id: this.application.id },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.loading = false;
          this.$emit("reload");
        })
        .catch((error) => {
          this.loading = false;
          console.log(error);
        });
    },
  },
  computed: {
    getAnswers() {
      if (this.application) {
        return JSON.parse(this.application.answers);
      }
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>