<template>
  <div class="col-12">
    <div class="card" :class="{ 'bg-dark': getDarkMode }">
      <div class="card-header card-header-primary pointer" @click="openApp()">
        <h4 class="card-title">
          <span v-if="isRecruiter">
            {{ application.user.firstname }} {{ application.user.lastname }}
          </span>
          <span v-else>{{
            application.job == "police" ? "Politsei" : "Kiirabi"
          }}</span>
        </h4>
        <p class="category">#{{ application.id }}</p>
      </div>
      <div class="card-body">
        <p v-if="application.isRejected && !isRecruiter" class="text-danger">
          <strong>
            <b>Staatus:</b>
          </strong>
          Tagasi lükatud
        </p>
        <p
          v-if="
            application.isAccepted && !application.initiated && !isRecruiter
          "
          class="text-info"
        >
          <strong>
            <b>Staatus:</b>
          </strong>
          Vastu võetud, oodatakse vestlusele
        </p>
        <p
          v-if="application.initiated && application.isAccepted && !isRecruiter"
          class="text-success"
        >
          <strong>
            <b>Staatus:</b>
          </strong>
          Palgatud
        </p>
        <p
          v-if="
            !application.initiated &&
            !application.isAccepted &&
            !application.isRejected &&
            !isRecruiter
          "
        >
          <strong>
            <b>Staatus:</b>
          </strong>
          Ootel, sinu taotlust vaadatakse üle
        </p>
        <hr />
        <div
          v-for="(answer, index) in JSON.parse(application.answers)"
          :key="index"
        >
          <p>
            <strong>
              <b>{{ answer.label }}:</b>
            </strong>
          </p>
          <p>{{ answer.answer }}</p>
          <hr />
        </div>
        <div class="row" v-if="isRecruiter">
          <div class="col-12 d-flex">
            <appPrimaryButton
              :label="'Võta vastu'"
              :loading="loading"
              @onSubmit="accept()"
            />
            <appRoseButton
              :label="'Lükka tagasi'"
              :loading="loading"
              @onSubmit="reject()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import primaryButton from "./../../../parts/buttons/primaryButton";
import roseButton from "./../../../parts/buttons/roseButton";
export default {
  components: {
    appPrimaryButton: primaryButton,
    appRoseButton: roseButton,
  },
  props: {
    application: {
      default: {},
    },
    isRecruiter: {
      default: false,
    },
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    openApp() {
      this.$emit("changeOpenedApp", null);
    },
    accept() {
      this.decisionCall("workApplication/accept");
    },
    reject() {
      this.decisionCall("workApplication/reject");
    },
    decisionCall(url) {
      this.loading = true;
      axios
        .put(
          url,
          { id: this.application.id },
          {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getToken,
            },
          }
        )
        .then((response) => {
          this.loading = false;
          this.$emit("reload");
        })
        .catch((error) => {
          this.loading = false;
          console.log(error);
        });
    },
  },
  computed: {
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
};
</script>