<template>
  <div>
    <h6 class="title" :class="{ 'text-white': getDarkMode }">Töö avaldused</h6>
    <div class="row">
      <template v-for="aplication in characterJobApplications">
        <appClosedApplication
          v-bind:application="aplication"
          @changeOpenedApp="changeOpenedAppId"
          v-if="aplication.id !== openedApplicationId"
          :key="'closed' + aplication.id"
        />
        <appOpenedApplication
          v-bind:application="aplication"
          @changeOpenedApp="changeOpenedAppId"
          v-if="aplication.id == openedApplicationId"
          :key="'opened' + aplication.id"
        />
      </template>
    </div>
  </div>
</template>
<script>
import closedApplication from "./closedWorkApplication";
import openedApplication from "./openedWorkApplication";
export default {
  components: {
    appClosedApplication: closedApplication,
    appOpenedApplication: openedApplication,
  },
  data() {
    return {
      openedApplicationId: null,
    };
  },
  computed: {
    characterJobApplications() {
      return this.$store.getters.getCharacter(this.activeCharId)
        .jobApplications;
    },
    activeCharId() {
      return this.$store.getters.getActiveCharacterIdendtifier;
    },
    getDarkMode() {
      return this.$store.getters.getDarkMode;
    },
  },
  methods: {
    changeOpenedAppId(id) {
      this.openedApplicationId = id;
    },
  },
};
</script>
<style scoped>
</style>